<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://media.discordapp.net/attachments/1175006936194883635/1178349781102379028/image.png?ex=6575d2c0&is=65635dc0&hm=58fd4042565443e2cccc43fc06369caa8a5294ec0905071aaeb89a35f5909180&=&format=webp&width=465&height=465" type="image/png">
    <title>Admin</title>
</head>
<body>
  <%- include('./partials/navbar') %>
  <!-- <div class="svg">
    <div class="container"></div>
    <svg class="right-img" width="141" height="192" viewBox="0 0 141 192" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M35.75 191L139.75 1H105.5L1 191H35.75Z" fill="#FF0000" stroke="#FF0000" stroke-width="0.805611"/>
    </svg>
  </div> -->
  <svg class="title-svg" width="799" height="120" viewBox="0 0 799 120" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0.5 44.4158V118.916H798V0.915771H40.5L0.5 44.4158Z" fill="#08040F" stroke="#FF0000"/>
    <path d="M276.02 22.8608L269.049 43.9158H264.718L257.782 22.8608H261.726L266.901 39.1626L272.112 22.8608H276.02ZM282.338 43.9158H278.641V22.8608H282.338V43.9158ZM300.648 43.9158H287.409V22.8608H300.648V26.3817H291.106V31.6982H299.979V35.2191H291.106V40.3949H300.648V43.9158ZM328.731 22.8608L323.837 43.9158H319.647L316.267 29.7969L312.852 43.9158H308.627L303.803 22.8608H307.606L310.775 37.6486L314.261 22.8608H318.204L321.69 37.6486L324.823 22.8608H328.731ZM355.407 38.9161C355.407 39.7376 355.219 40.4066 354.844 40.923C354.609 41.2751 354.21 41.7445 353.646 42.3314C353.083 42.8947 352.625 43.2703 352.273 43.4581C351.522 43.8806 350.795 44.0918 350.09 44.0918H343.964C342.438 44.0918 340.948 43.1177 339.492 41.1695C339.352 40.9817 339.14 40.6179 338.859 40.078L342.344 38.9161C342.814 39.5733 343.33 40.1132 343.894 40.5357C343.941 40.5592 344.023 40.5709 344.14 40.5709H349.914L350.126 40.5357C350.384 40.3949 350.712 40.1249 351.111 39.7259C351.51 39.3269 351.71 39.0569 351.71 38.9161V36.8388C351.71 36.4867 351.569 36.2871 351.287 36.2402L342.133 33.6347C341.265 33.4 340.584 32.9188 340.091 32.1912C339.622 31.4635 339.387 30.6654 339.387 29.7969V27.8957C339.387 27.0741 339.563 26.4051 339.915 25.8887C340.15 25.5601 340.549 25.1141 341.112 24.5508C341.699 23.964 342.168 23.5649 342.52 23.3537C343.272 22.9312 343.999 22.7199 344.703 22.7199H349.914C351.417 22.7199 352.907 23.694 354.386 25.6423C354.621 25.9709 354.855 26.3817 355.09 26.8746L351.534 27.8957C350.994 27.1211 350.478 26.5812 349.985 26.276C349.961 26.2526 349.891 26.2408 349.773 26.2408H344.809L344.598 26.276C344.316 26.4169 343.987 26.6751 343.612 27.0506C343.26 27.4262 343.084 27.6844 343.084 27.8252V29.5857C343.084 29.9378 343.213 30.1373 343.471 30.1842L352.661 32.8601C353.506 33.0949 354.175 33.5878 354.668 34.3389C355.16 35.0666 355.407 35.8529 355.407 36.6979V38.9161ZM371.015 38.8809V22.8608H374.712V38.9161C374.712 39.6907 374.524 40.3597 374.148 40.923C373.89 41.2751 373.479 41.7445 372.916 42.3314C372.376 42.8947 371.93 43.2703 371.578 43.4581C370.897 43.8806 370.181 44.0918 369.43 44.0918H364.959C364.184 44.0918 363.457 43.8806 362.776 43.4581C362.447 43.2703 361.989 42.8947 361.403 42.3314C360.839 41.7445 360.44 41.2751 360.206 40.923C359.83 40.3597 359.642 39.6907 359.642 38.9161V22.8608H363.339V38.8457C363.339 38.9396 363.351 38.9982 363.374 39.0217C363.867 39.7494 364.384 40.254 364.924 40.5357L365.1 40.5709H369.29C369.36 40.5709 369.419 40.5592 369.466 40.5357C370.005 40.254 370.51 39.7494 370.98 39.0217L371.015 38.8809ZM394.383 39.1273C394.383 39.9489 394.183 40.6531 393.784 41.2399C393.62 41.4746 393.326 41.815 392.904 42.2609C392.481 42.6835 392.153 42.9769 391.918 43.1412C391.19 43.6576 390.345 43.9158 389.383 43.9158H379.489V22.8608H389.383C390.298 22.8608 391.143 23.1307 391.918 23.6706C392.153 23.8349 392.481 24.14 392.904 24.586C393.326 25.0085 393.62 25.3371 393.784 25.5719C394.183 26.1587 394.383 26.8863 394.383 27.7548V30.3603C394.383 31.487 393.925 32.508 393.009 33.4235C393.925 34.3389 394.383 35.3482 394.383 36.4515V39.1273ZM390.65 30.5363C390.674 30.4894 390.686 30.4072 390.686 30.2899V27.79L390.65 27.614C390.486 27.3323 390.263 27.0624 389.981 26.8042C389.723 26.5225 389.512 26.3817 389.348 26.3817H383.186V31.6982H389.383C389.547 31.6982 389.77 31.5691 390.052 31.3109C390.333 31.0527 390.533 30.7945 390.65 30.5363ZM390.65 39.233C390.674 39.1626 390.686 39.0804 390.686 38.9865V36.4867L390.65 36.3106C390.486 36.0289 390.263 35.759 389.981 35.5008C389.723 35.2426 389.512 35.1135 389.348 35.1135H383.186V40.3949H389.383C389.547 40.3949 389.77 40.2658 390.052 40.0076C390.333 39.7494 390.533 39.4912 390.65 39.233ZM417.222 43.9158H413.525V29.5153L409.335 38.74H406.906L402.716 29.5505V43.9158H399.019V22.8608H403.244L408.173 33.2474L413.032 22.8608H417.222V43.9158ZM425.994 43.9158H422.297V22.8608H425.994V43.9158ZM446.627 38.9161C446.627 39.7376 446.439 40.4066 446.064 40.923C445.829 41.2751 445.43 41.7445 444.867 42.3314C444.303 42.8947 443.846 43.2703 443.494 43.4581C442.743 43.8806 442.015 44.0918 441.311 44.0918H435.184C433.659 44.0918 432.168 43.1177 430.713 41.1695C430.572 40.9817 430.361 40.6179 430.079 40.078L433.565 38.9161C434.034 39.5733 434.551 40.1132 435.114 40.5357C435.161 40.5592 435.243 40.5709 435.36 40.5709H441.135L441.346 40.5357C441.604 40.3949 441.933 40.1249 442.332 39.7259C442.731 39.3269 442.93 39.0569 442.93 38.9161V36.8388C442.93 36.4867 442.789 36.2871 442.508 36.2402L433.353 33.6347C432.485 33.4 431.804 32.9188 431.311 32.1912C430.842 31.4635 430.607 30.6654 430.607 29.7969V27.8957C430.607 27.0741 430.783 26.4051 431.135 25.8887C431.37 25.5601 431.769 25.1141 432.332 24.5508C432.919 23.964 433.389 23.5649 433.741 23.3537C434.492 22.9312 435.22 22.7199 435.924 22.7199H441.135C442.637 22.7199 444.127 23.694 445.606 25.6423C445.841 25.9709 446.076 26.3817 446.31 26.8746L442.754 27.8957C442.214 27.1211 441.698 26.5812 441.205 26.276C441.182 26.2526 441.111 26.2408 440.994 26.2408H436.029L435.818 26.276C435.536 26.4169 435.208 26.6751 434.832 27.0506C434.48 27.4262 434.304 27.6844 434.304 27.8252V29.5857C434.304 29.9378 434.433 30.1373 434.691 30.1842L443.881 32.8601C444.726 33.0949 445.395 33.5878 445.888 34.3389C446.381 35.0666 446.627 35.8529 446.627 36.6979V38.9161ZM466.742 38.9161C466.742 39.7376 466.554 40.4066 466.178 40.923C465.944 41.2751 465.545 41.7445 464.981 42.3314C464.418 42.8947 463.96 43.2703 463.608 43.4581C462.857 43.8806 462.129 44.0918 461.425 44.0918H455.299C453.773 44.0918 452.283 43.1177 450.827 41.1695C450.686 40.9817 450.475 40.6179 450.194 40.078L453.679 38.9161C454.149 39.5733 454.665 40.1132 455.228 40.5357C455.275 40.5592 455.358 40.5709 455.475 40.5709H461.249L461.46 40.5357C461.719 40.3949 462.047 40.1249 462.446 39.7259C462.845 39.3269 463.045 39.0569 463.045 38.9161V36.8388C463.045 36.4867 462.904 36.2871 462.622 36.2402L453.468 33.6347C452.599 33.4 451.919 32.9188 451.426 32.1912C450.956 31.4635 450.722 30.6654 450.722 29.7969V27.8957C450.722 27.0741 450.898 26.4051 451.25 25.8887C451.485 25.5601 451.884 25.1141 452.447 24.5508C453.034 23.964 453.503 23.5649 453.855 23.3537C454.606 22.9312 455.334 22.7199 456.038 22.7199H461.249C462.751 22.7199 464.242 23.694 465.721 25.6423C465.955 25.9709 466.19 26.3817 466.425 26.8746L462.869 27.8957C462.329 27.1211 461.813 26.5812 461.32 26.276C461.296 26.2526 461.226 26.2408 461.108 26.2408H456.144L455.933 26.276C455.651 26.4169 455.322 26.6751 454.947 27.0506C454.595 27.4262 454.419 27.6844 454.419 27.8252V29.5857C454.419 29.9378 454.548 30.1373 454.806 30.1842L463.995 32.8601C464.84 33.0949 465.509 33.5878 466.002 34.3389C466.495 35.0666 466.742 35.8529 466.742 36.6979V38.9161ZM474.991 43.9158H471.294V22.8608H474.991V43.9158ZM496.082 38.9161C496.082 39.6907 495.894 40.3597 495.519 40.923C495.237 41.2986 494.814 41.768 494.251 42.3314C493.711 42.8947 493.277 43.2703 492.948 43.4581C492.268 43.8806 491.54 44.0918 490.765 44.0918H485.414C484.639 44.0918 483.911 43.8806 483.231 43.4581C482.902 43.2703 482.444 42.8947 481.857 42.3314C481.294 41.7445 480.895 41.2751 480.66 40.923C480.285 40.3597 480.097 39.6907 480.097 38.9161V27.8957C480.097 27.1211 480.285 26.4521 480.66 25.8887C480.895 25.5367 481.294 25.0789 481.857 24.5156C482.444 23.9288 482.902 23.5415 483.231 23.3537C483.911 22.9312 484.639 22.7199 485.414 22.7199H490.765C491.54 22.7199 492.268 22.9312 492.948 23.3537C493.277 23.5415 493.711 23.917 494.251 24.4804C494.814 25.0437 495.237 25.5132 495.519 25.8887C495.894 26.4521 496.082 27.1211 496.082 27.8957V38.9161ZM483.794 28.0013V38.8809C483.794 38.9513 483.806 38.9982 483.829 39.0217C484.299 39.7259 484.815 40.2306 485.378 40.5357C485.425 40.5592 485.484 40.5709 485.554 40.5709H490.625C490.695 40.5709 490.754 40.5592 490.801 40.5357C491.364 40.2306 491.88 39.7259 492.35 39.0217L492.385 38.8809V28.0013C492.385 27.9074 492.373 27.8487 492.35 27.8252C491.857 27.0976 491.34 26.5812 490.801 26.276C490.754 26.2526 490.695 26.2408 490.625 26.2408H485.554C485.461 26.2408 485.402 26.2526 485.378 26.276C484.838 26.5812 484.322 27.0976 483.829 27.8252L483.794 28.0013ZM515.689 43.9158H511.78L504.492 29.9378V43.9158H500.795V22.8608H504.774L511.992 37.0148V22.8608H515.689V43.9158ZM536.335 38.9161C536.335 39.7376 536.147 40.4066 535.771 40.923C535.537 41.2751 535.138 41.7445 534.574 42.3314C534.011 42.8947 533.553 43.2703 533.201 43.4581C532.45 43.8806 531.722 44.0918 531.018 44.0918H524.892C523.366 44.0918 521.875 43.1177 520.42 41.1695C520.279 40.9817 520.068 40.6179 519.786 40.078L523.272 38.9161C523.742 39.5733 524.258 40.1132 524.821 40.5357C524.868 40.5592 524.95 40.5709 525.068 40.5709H530.842L531.053 40.5357C531.311 40.3949 531.64 40.1249 532.039 39.7259C532.438 39.3269 532.638 39.0569 532.638 38.9161V36.8388C532.638 36.4867 532.497 36.2871 532.215 36.2402L523.061 33.6347C522.192 33.4 521.512 32.9188 521.019 32.1912C520.549 31.4635 520.315 30.6654 520.315 29.7969V27.8957C520.315 27.0741 520.491 26.4051 520.843 25.8887C521.077 25.5601 521.476 25.1141 522.04 24.5508C522.627 23.964 523.096 23.5649 523.448 23.3537C524.199 22.9312 524.927 22.7199 525.631 22.7199H530.842C532.344 22.7199 533.835 23.694 535.314 25.6423C535.548 25.9709 535.783 26.3817 536.018 26.8746L532.462 27.8957C531.922 27.1211 531.405 26.5812 530.912 26.276C530.889 26.2526 530.819 26.2408 530.701 26.2408H525.737L525.525 26.276C525.244 26.4169 524.915 26.6751 524.54 27.0506C524.188 27.4262 524.011 27.6844 524.011 27.8252V29.5857C524.011 29.9378 524.141 30.1373 524.399 30.1842L533.588 32.8601C534.433 33.0949 535.102 33.5878 535.595 34.3389C536.088 35.0666 536.335 35.8529 536.335 36.6979V38.9161Z" fill="#FF0000"/>
    <g filter="url(#filter0_d_0_1)">
    <path d="M251.091 97.0229H244.449L241.84 89.4919H228.379L225.77 97.0229H219.128L231.522 61.5619H238.756L251.091 97.0229ZM239.883 83.562L235.139 69.5673L230.336 83.562H239.883ZM280.79 88.4245C280.79 89.8082 280.493 90.9349 279.9 91.8046C279.505 92.3581 278.833 93.1092 277.884 94.058C276.935 94.9672 276.144 95.5998 275.512 95.9556C274.247 96.6672 273.061 97.0229 271.954 97.0229H255.706V61.5619H271.954C273.338 61.5619 274.543 61.8979 275.571 62.57C276.164 62.9258 276.915 63.5781 277.825 64.5269C278.734 65.4756 279.406 66.2663 279.841 66.8988C280.473 67.7686 280.79 68.8952 280.79 70.2789V88.4245ZM261.932 91.093H271.539C271.776 91.093 271.914 91.0732 271.954 91.0337C272.428 90.757 272.982 90.3221 273.614 89.7291C274.247 89.0966 274.563 88.6222 274.563 88.3059V70.4568C274.563 70.3382 274.543 70.2394 274.504 70.1603C273.753 68.9348 272.883 68.0651 271.895 67.5511C271.855 67.5116 271.677 67.4918 271.361 67.4918H261.932V91.093ZM319.778 97.0229H313.551V72.7695L306.494 88.3059H302.403L295.346 72.8288V97.0229H289.12V61.5619H296.236L304.538 79.0552L312.721 61.5619H319.778V97.0229ZM334.551 97.0229H328.325V61.5619H334.551V97.0229ZM368.175 97.0229H361.593L349.318 73.4811V97.0229H343.092V61.5619H349.792L361.949 85.4003V61.5619H368.175V97.0229ZM415.836 74.9636C415.836 76.3077 415.48 77.5134 414.769 78.5808C414.492 78.9762 413.998 79.5296 413.286 80.2412C412.575 80.9133 412.001 81.4074 411.567 81.7237C410.341 82.5934 408.938 83.0283 407.356 83.0283H396.92V97.0229H390.693V61.5619H407.356C408.938 61.5619 410.341 61.9967 411.567 62.8665C411.962 63.1432 412.515 63.6571 413.227 64.4083C413.978 65.1594 414.492 65.7326 414.769 66.1279C415.48 67.1953 415.836 68.4011 415.836 69.7452V74.9636ZM409.61 74.9043V69.8045C409.61 69.6068 409.59 69.4685 409.55 69.3894C408.878 68.2034 408.246 67.5709 407.653 67.4918H407.356H396.92V77.0983H407.356C407.633 77.0983 408.009 76.8809 408.483 76.446C408.957 76.0112 409.313 75.5763 409.55 75.1415C409.59 75.0624 409.61 74.9833 409.61 74.9043ZM449.525 88.6024C449.525 89.907 449.208 91.0337 448.576 91.9825C448.102 92.615 447.39 93.4057 446.441 94.3545C445.532 95.3033 444.801 95.9358 444.247 96.2521C443.101 96.9636 441.875 97.3194 440.571 97.3194H431.557C430.252 97.3194 429.027 96.9636 427.88 96.2521C427.327 95.9358 426.556 95.3033 425.568 94.3545C424.619 93.3662 423.947 92.5755 423.552 91.9825C422.919 91.0337 422.603 89.907 422.603 88.6024V70.0417C422.603 68.7371 422.919 67.6104 423.552 66.6616C423.947 66.0686 424.619 65.2978 425.568 64.349C426.556 63.3606 427.327 62.7083 427.88 62.3921C429.027 61.6805 430.252 61.3247 431.557 61.3247H440.571C441.875 61.3247 443.101 61.6805 444.247 62.3921C444.801 62.7083 445.532 63.3409 446.441 64.2897C447.39 65.2385 448.102 66.0291 448.576 66.6616C449.208 67.6104 449.525 68.7371 449.525 70.0417V88.6024ZM428.829 70.2196V88.5431C428.829 88.6617 428.849 88.7408 428.889 88.7803C429.679 89.9663 430.549 90.8163 431.498 91.3302C431.577 91.3697 431.676 91.3895 431.794 91.3895H440.333C440.452 91.3895 440.551 91.3697 440.63 91.3302C441.579 90.8163 442.448 89.9663 443.239 88.7803L443.298 88.5431V70.2196C443.298 70.0615 443.279 69.9626 443.239 69.9231C442.409 68.6976 441.539 67.8279 440.63 67.3139C440.551 67.2744 440.452 67.2546 440.333 67.2546H431.794C431.636 67.2546 431.537 67.2744 431.498 67.3139C430.588 67.8279 429.719 68.6976 428.889 69.9231L428.829 70.2196ZM482.606 74.9636C482.606 76.3077 482.25 77.5134 481.539 78.5808C481.262 78.9762 480.768 79.5296 480.056 80.2412C479.344 80.9133 478.771 81.4074 478.336 81.7237C477.822 82.119 477.309 82.3958 476.795 82.5539L483.851 97.0229H477.091L470.509 83.0283H463.689V97.0229H457.463V61.5619H474.126C475.707 61.5619 477.111 61.9967 478.336 62.8665C478.732 63.1432 479.285 63.6571 479.997 64.4083C480.748 65.1594 481.262 65.7326 481.539 66.1279C482.25 67.1953 482.606 68.4011 482.606 69.7452V74.9636ZM476.38 74.9043V69.8045C476.38 69.6068 476.36 69.4685 476.32 69.3894C475.648 68.2034 475.016 67.5709 474.423 67.4918H463.689V77.0983H474.126C474.403 77.0983 474.778 76.8809 475.253 76.446C475.727 76.0112 476.083 75.5763 476.32 75.1415C476.36 75.0624 476.38 74.9833 476.38 74.9043ZM515.345 67.4918H505.739V97.0229H499.512V67.4918H489.906V61.5619H515.345V67.4918ZM546.951 97.0229H540.309L537.7 89.4919H524.239L521.63 97.0229H514.989L527.382 61.5619H534.617L546.951 97.0229ZM535.743 83.562L530.999 69.5673L526.196 83.562H535.743ZM573.507 97.0229H551.566V61.5619H557.793V91.093H573.507V97.0229Z" fill="white"/>
    </g>
    <defs>
    <filter id="filter0_d_0_1" x="211.228" y="54.4247" width="372.179" height="53.7946" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
    <feOffset dx="1" dy="2"/>
    <feGaussianBlur stdDeviation="4.45"/>
    <feComposite in2="hardAlpha" operator="out"/>
    <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.25 0"/>
    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_0_1"/>
    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_0_1" result="shape"/>
    </filter>
    </defs>
  </svg>

  <div class="cards">
    <% for (let i = 0; i < hackSubmissions.length; i++) { %>
      <div class="svg">
        <div class="container2">
          <div class="container" style="background-image: url('<%= hackSubmissions[i].thumbnail %>');" ></div>
          <svg class="right-img" width="141" height="192" viewBox="0 0 141 192" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M35.75 191L139.75 1H105.5L1 191H35.75Z" fill="#FF0000" stroke="#FF0000" stroke-width="0.805611"/>
          </svg>
        </div>
        <a href="/admin/submissions/<%= hackSubmissions[i].id %>" class="project-name"><%= hackSubmissions[i].projectName %></a>
        <a href="/admin/submissions/<%= hackSubmissions[i].id %>" class="team-name"><%= hackSubmissions[i].teamName %></a>
      </div>
  <% } %>
  </div>
    
  <svg id="bottom-vector" class="bottom-vector" width="988" height="39" viewBox="0 0 988 39" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M38.5 37.5L548.5 37.5M789 37.5L987 37.5V1L825.5 1L789 37.5ZM789 37.5L752.5 37.5M752.5 37.5L789 1L703.5 1L667 37.5M752.5 37.5L667 37.5M667 37.5L630 37.5M548.5 37.5L585 1L666.5 1L630 37.5M548.5 37.5L630 37.5M33 37.5H22M17.5 37.5H10M5.5 37.5H0" stroke="#FF0000"/>
    <path d="M847.5 1.18359L811 37.6836L832 37.6836L868 1.18359L847.5 1.18359Z" fill="#FF0000" stroke="#FF0000"/>
    <path d="M881.499 1L844.999 37.5L865.999 37.5L901.999 1L881.499 1Z" fill="#FF0000" stroke="#FF0000"/>
  </svg>
</body>
<style>
  body {
      height: auto;
      width: 100%;
      min-height: 100vh !important;
      background-image: linear-gradient(#000615, #190000);
      overflow-x: hidden;
      display: flex;
      flex-direction: column;
  }
  @font-face 
  {
      font-family:BlenderProBook;
      font-style:normal;
      font-weight:400;
      src:url('./BlenderProBook.woff2') format("woff2");
  }
  @font-face 
  {
      font-family:sentex;
      font-style:normal;
      font-weight:400;
      src:url('./Sentex-Regular.ttf');
  }
  @font-face 
  {
      font-family:BlenderProHeavy;
      font-style:normal;
      font-weight:700;
      src:url('/BlenderPro-Heavy.woff2') format("woff2");
  }
  .title-svg {
    width: 40vw;
    align-self: center;
  }
  .cards {
    display: flex;
    margin-top: 3vw;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 2vw;
    min-height: 70vh;
  }
  .bottom-vector2 {
    position: absolute;
    bottom: 0vw;
    right: 1vw;
  }
  .bottom-vector {
    position: relative;
    bottom: 1vw;
    align-self: end;
    right: 2vw;
    width: 55vw;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  .container {
    clip-path: polygon(0% 0, 100% 0%, 80% 100%, 0 100%);
    width: 23.138vw;
    height: 17.592592592593vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
  }
  .right-img {
    height: 17.592592592593vh;
    width: 8vw;
    margin-left: -4vw;
  }
  .svg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0.25vw;
  }
  .container2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vw;
  }
  .project-name {
    margin: 0;
    color: #fff;
    font-size: 1.75vw;
    font-family: BlenderProHeavy;
  }
  .team-name {
    margin: 0;
    font-family: BlenderProBook;
    color: #fff;
    font-size: 1.2vw;
  }
</style>
<script>
  const bodyRect = document.body.getBoundingClientRect();
  const bottomVector = document.getElementById('bottom-vector')
  console.log(parseInt(bodyRect.height), window.innerHeight)
  if (parseInt(bodyRect.height) < window.innerHeight) {
    bottomVector.classList.add('bottom-vector2')
    bottomVector.classList.remove('bottom-vector')
  }
  if (parseInt(bodyRect.height) >= window.innerHeight) {
    bottomVector.classList.remove('bottom-vector2')
    bottomVector.classList.add('bottom-vector')
  }
</script>
</html>
