<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register for Hackathon</title>
</head>
<body>
    <header class="nav">
        <div class="logo">
            <svg class="logo-img" xmlns="http://www.w3.org/2000/svg" width="56" height="56" viewBox="0 0 56 56" fill="none">
                <path d="M56 28C56 35.4261 53.05 42.548 47.799 47.799C42.548 53.05 35.4261 56 28 56C20.5739 56 13.452 53.05 8.20101 47.799C2.94999 42.548 0 35.4261 0 28C0 20.5739 2.94999 13.452 8.20101 8.20101C13.452 2.94999 20.5739 0 28 0C35.4261 0 42.548 2.94999 47.799 8.20101C53.05 13.452 56 20.5739 56 28ZM52.0873 28.0019C52.0873 21.6136 49.5495 15.4869 45.0323 10.9696C40.515 6.4524 34.3883 3.91464 28 3.91464C21.6117 3.91464 15.485 6.4524 10.9677 10.9696C6.45048 15.4869 3.91271 21.6136 3.91271 28.0019C3.91271 34.3903 6.45048 40.517 10.9677 45.0342C15.485 49.5514 21.6117 52.0892 28 52.0892C34.3883 52.0892 40.515 49.5514 45.0323 45.0342C49.5495 40.517 52.0873 34.3903 52.0873 28.0019Z" fill="#FF0000"/>
                <path d="M30.118 34.6766C30.1184 34.6874 30.1218 34.6978 30.128 34.7067C30.1342 34.7155 30.1428 34.7224 30.1527 34.7265C30.1627 34.7305 30.1737 34.7316 30.1843 34.7296C30.1949 34.7276 30.2046 34.7226 30.2125 34.7152L34.6321 30.2955C34.6534 30.2738 34.6673 30.2459 34.6718 30.2158C34.6763 30.1856 34.6712 30.1549 34.6571 30.1278C33.3285 27.6376 33.1152 25.1647 34.0172 22.7091C36.6077 15.6527 46.216 14.8413 49.9437 21.3638C52.22 25.3497 50.9903 30.4844 47.1836 33.0132C44.3368 34.906 40.8385 34.9792 37.8278 33.3062C37.8151 33.2995 37.8006 33.297 37.7864 33.299C37.7722 33.3011 37.759 33.3077 37.7488 33.3178L30.2298 40.8348C30.1582 40.9064 30.118 41.0034 30.118 41.1047V51.0734C30.1181 51.0912 30.1115 51.1082 30.0997 51.1212C30.0878 51.1341 30.0716 51.1418 30.0544 51.1428C28.6641 51.2481 27.2737 51.2481 25.8834 51.1428C25.814 51.1376 25.7793 51.1004 25.7793 51.031L25.7774 41.1528C25.7774 41.0392 25.7324 40.9297 25.6521 40.8483L18.1736 33.3775C18.1222 33.3261 18.0638 33.3171 17.9982 33.3505C15.0165 34.8482 11.9056 34.9484 9.09536 33.2542C4.99954 30.7813 3.46915 25.3189 6.07313 21.1286C8.31282 17.5262 12.8558 15.8782 16.888 17.5262C21.8878 19.5674 23.8692 25.4172 21.2306 30.1066C21.1933 30.1735 21.2016 30.2339 21.2556 30.2878L25.6945 34.7267C25.7013 34.7337 25.71 34.7385 25.7195 34.7405C25.729 34.7425 25.7389 34.7415 25.7478 34.7378C25.7568 34.734 25.7644 34.7276 25.7697 34.7195C25.775 34.7113 25.7777 34.7018 25.7774 34.692L25.7793 22.2253C25.7793 22.1726 25.7543 22.1392 25.7042 22.1251C20.0857 20.4906 17.4239 14.3594 20.3169 9.20158C21.9688 6.25451 25.3148 4.56607 28.6339 4.83206C34.713 5.3197 38.4966 11.6668 35.9466 17.2506C34.8338 19.6894 32.8987 21.3214 30.1411 22.1463C30.1257 22.1514 30.118 22.1617 30.118 22.1771V34.6766Z" fill="#FF0000"/>
              </svg>
            <svg class="logo-txt" xmlns="http://www.w3.org/2000/svg" width="255" height="36" viewBox="0 0 255 36" fill="none">
                <path d="M27.7571 15.4698C27.7571 15.2522 27.6792 15.0692 27.5234 14.9208L22.0773 9.64163C21.9795 9.54618 21.8508 9.49176 21.7174 9.48952C19.4767 9.44129 17.4919 9.41532 15.2029 10.2352C12.4984 11.2072 10.1389 13.2217 9.3376 16.0115C7.77574 21.4279 11.545 25.709 16.583 26.8999C18.5121 27.3525 20.9421 27.1744 23.0938 27.1819C23.2199 27.1843 23.3275 27.2288 23.4165 27.3154L26.1136 29.9235C26.2074 30.0138 26.2821 30.1221 26.3331 30.2419C26.3841 30.3618 26.4104 30.4907 26.4104 30.6209L26.4067 35.8036C26.4067 35.8528 26.3871 35.9 26.3524 35.9348C26.3176 35.9695 26.2704 35.9891 26.2212 35.9891C23.6094 35.9965 20.9915 36.0002 18.3674 36.0002C11.6117 35.9965 5.36433 32.5612 2.13675 26.6736C-3.825 15.8 3.42407 3.53147 14.7911 1.12377C17.8703 0.474545 21.9697 0.767625 25.4495 0.741656C25.6138 0.741584 25.7707 0.804072 25.8873 0.91602L36.6607 11.3556C36.7745 11.4669 36.8314 11.6017 36.8314 11.76L36.8277 35.8963C36.8277 35.9606 36.7955 35.9928 36.7312 35.9928H27.9426C27.9202 35.9928 27.898 35.9885 27.8773 35.9801C27.8566 35.9717 27.8377 35.9594 27.8219 35.9439C27.806 35.9284 27.7935 35.91 27.7849 35.8897C27.7763 35.8695 27.7719 35.8478 27.7719 35.8258L27.7571 15.4698Z" fill="white"/>
                <path d="M41.6385 23.3901C41.9502 23.3926 41.9761 23.3073 41.7164 23.1341L38.6818 21.1382C38.6213 21.0984 38.5717 21.0443 38.5374 20.9809C38.5031 20.9174 38.4851 20.8465 38.4852 20.7747L38.4889 0.934313C38.4889 0.815598 38.5495 0.756236 38.6706 0.756236C49.0682 0.741396 59.457 0.742637 69.8372 0.759949C73.7771 0.767369 76.5892 4.45868 76.6634 8.12773C76.7153 10.6405 76.7227 13.1361 76.6856 15.6142C76.6832 15.7824 76.5978 15.8665 76.4296 15.8665L67.897 15.8628C67.7782 15.8628 67.7177 15.8022 67.7152 15.681C67.6781 13.2436 68.5054 9.80088 64.8326 9.78233C59.1491 9.7576 53.4656 9.75884 47.7821 9.78604C47.6337 9.78852 47.5595 9.86272 47.5595 10.0086L47.5446 15.8776C47.5446 15.9656 47.5662 16.0524 47.6075 16.1307C47.6489 16.2089 47.7088 16.2761 47.7821 16.3265L76.8748 35.718C77.1469 35.901 77.1197 35.9925 76.7932 35.9925H61.2229C61.0869 35.9925 60.9632 35.9554 60.8519 35.8812L47.7487 27.1779C47.7267 27.1637 47.7012 27.1556 47.675 27.1544C47.6488 27.1533 47.6229 27.1591 47.6 27.1713C47.5771 27.1835 47.5581 27.2016 47.5451 27.2237C47.5321 27.2458 47.5255 27.271 47.5261 27.2966L47.5706 29.2665C47.5756 29.4174 47.5014 29.4928 47.348 29.4928H38.5816C38.557 29.4928 38.5334 29.4831 38.516 29.4657C38.4986 29.4483 38.4889 29.4247 38.4889 29.4001L38.4814 23.6572C38.4814 23.6199 38.4889 23.5829 38.5033 23.5485C38.5177 23.514 38.5388 23.4828 38.5653 23.4565C38.5919 23.4303 38.6234 23.4096 38.6581 23.3957C38.6927 23.3817 38.7298 23.3748 38.7671 23.3753L41.6385 23.3901Z" fill="white"/>
                <path d="M90.6171 11.0324C85.375 13.8408 84.5403 20.9489 89.2296 24.7626C90.3969 25.7124 91.8228 26.4049 93.507 26.8402C95.5252 27.3596 97.9886 27.1815 100.222 27.1815C100.355 27.1815 100.483 27.2335 100.578 27.3262L103.305 29.9564C103.39 30.0397 103.459 30.1394 103.505 30.2497C103.552 30.3599 103.576 30.4784 103.576 30.5982L103.572 35.8069C103.572 35.8561 103.552 35.9033 103.518 35.9381C103.483 35.9728 103.436 35.9924 103.386 35.9924C100.713 35.9949 98.0331 35.9887 95.3471 35.9739C86.0057 35.9219 78.0851 29.2553 77.217 19.9287C76.3452 10.5761 83.7872 2.44038 92.791 0.974986C95.5883 0.518673 99.4317 0.774659 102.652 0.737561C102.783 0.737735 102.908 0.788286 103.001 0.878526L113.882 11.4183C113.917 11.4524 113.945 11.4936 113.964 11.5394C113.983 11.5853 113.993 11.6349 113.993 11.6854V35.8032C113.993 35.9293 113.93 35.9924 113.804 35.9924H105.108C105.086 35.9924 105.064 35.9881 105.044 35.9797C105.024 35.9713 105.005 35.959 104.99 35.9435C104.974 35.928 104.962 35.9096 104.954 35.8893C104.945 35.8691 104.941 35.8474 104.941 35.8254L104.922 15.4175C104.92 15.2464 104.851 15.0837 104.729 14.9649L99.2833 9.68575C99.1646 9.57198 99.0236 9.51262 98.8604 9.50767C95.9296 9.39267 93.4514 9.51139 90.6171 11.0324Z" fill="white"/>
                <path d="M131.862 10.5465L153.58 25.0001C153.835 25.1708 153.962 25.4094 153.962 25.7161V35.8886C153.962 35.9141 153.952 35.9387 153.934 35.9568C153.916 35.9748 153.891 35.985 153.866 35.985C144.084 36.0023 134.295 36.0011 124.498 35.9813C122.715 35.9764 121.467 35.8688 120.755 35.6586C114.856 33.9038 115.661 26.5249 115.78 21.0343C115.783 20.9254 115.84 20.871 115.951 20.871H124.55C124.664 20.871 124.722 20.9279 124.725 21.0417C124.817 23.8501 123.857 26.907 127.967 26.9107C131.969 26.9157 135.911 26.9255 139.794 26.9404C140.051 26.9428 140.072 26.8724 139.857 26.7289L115.654 10.5724C115.303 10.3375 115.339 10.2212 115.762 10.2237L131.228 10.3239C131.362 10.3239 131.428 10.2571 131.428 10.1236L131.432 0.930517C131.432 0.882305 131.451 0.836063 131.484 0.801972C131.518 0.767881 131.563 0.748737 131.61 0.748737H141.79C142.107 0.748703 142.414 0.854533 142.662 1.04924L150.141 6.95163C150.26 7.04561 150.319 7.1668 150.319 7.31519L150.323 9.99371C150.323 10.1495 150.246 10.2274 150.093 10.2274H131.959C131.573 10.2274 131.541 10.3338 131.862 10.5465Z" fill="white"/>
                <path d="M175.009 9.59671C168.621 8.69521 161.342 12.2233 162.258 19.6653C162.722 23.4456 165.935 25.8014 169.344 26.7845C171.392 27.3744 173.941 27.1963 176.218 27.174C176.34 27.174 176.458 27.2218 176.549 27.3076L179.339 29.9861C179.409 30.0529 179.465 30.1337 179.503 30.2237C179.541 30.3136 179.561 30.4107 179.561 30.5092L179.557 35.7995C179.557 35.9256 179.494 35.9887 179.368 35.9887C176.643 36.006 173.926 35.9986 171.218 35.9664C152.857 35.7624 146.143 12.6425 162.511 3.17494C167.775 0.129137 173.035 0.741273 178.671 0.748693C178.799 0.748834 178.923 0.799412 179.016 0.889669L189.704 11.2476C189.798 11.3379 189.872 11.4462 189.923 11.5661C189.974 11.6859 190.001 11.8148 190.001 11.9451L190.015 35.7475C190.015 35.8125 189.99 35.8748 189.945 35.9207C189.9 35.9666 189.838 35.9924 189.774 35.9924H181.138C181.012 35.9924 180.949 35.9293 180.949 35.8032V15.5548C180.949 15.4352 180.924 15.3167 180.877 15.2064C180.83 15.0961 180.761 14.9963 180.674 14.913L175.339 9.75624C175.248 9.6672 175.138 9.61402 175.009 9.59671Z" fill="white"/>
                <path d="M194.03 23.4086C194.054 23.41 194.077 23.4035 194.096 23.3902C194.115 23.377 194.129 23.3577 194.136 23.3354C194.143 23.3132 194.142 23.2893 194.133 23.2676C194.125 23.2459 194.11 23.2276 194.09 23.2157L190.973 21.1307C190.907 21.0862 190.853 21.026 190.815 20.9555C190.778 20.885 190.758 20.8063 190.758 20.7264L190.754 0.949077C190.754 0.815522 190.821 0.748753 190.955 0.748753H199.68C199.707 0.748753 199.732 0.759302 199.751 0.778087C199.77 0.796872 199.781 0.822349 199.781 0.848915L199.777 9.53742C199.777 9.55205 199.781 9.56632 199.788 9.57877C199.796 9.59121 199.807 9.60137 199.82 9.60818C199.834 9.615 199.849 9.61822 199.864 9.61752C199.879 9.61682 199.894 9.61222 199.907 9.6042L213.129 0.845202C213.221 0.784648 213.329 0.752401 213.44 0.752455L229.085 0.745039C229.382 0.745039 229.408 0.827898 229.163 0.993605L203.279 18.2407C203.259 18.2528 203.243 18.2697 203.232 18.2898C203.221 18.31 203.215 18.3327 203.215 18.3559C203.215 18.3792 203.221 18.4022 203.232 18.4229C203.243 18.4436 203.259 18.4613 203.279 18.4745L229.289 35.8181C229.321 35.8379 229.335 35.8676 229.33 35.9071C229.32 35.9616 229.27 35.9875 229.181 35.985C223.953 35.9826 218.765 35.9875 213.618 35.9999C213.413 35.9999 213.211 35.9393 213.04 35.8255L199.899 27.0999C199.888 27.0926 199.876 27.0885 199.862 27.0878C199.849 27.0871 199.836 27.0899 199.824 27.0959C199.813 27.102 199.803 27.111 199.796 27.1222C199.789 27.1333 199.785 27.1461 199.784 27.1593L199.777 29.3592C199.776 29.3959 199.761 29.4308 199.735 29.4565C199.71 29.4821 199.675 29.4965 199.64 29.4965L190.955 29.4928C190.902 29.4928 190.851 29.4721 190.813 29.4352C190.776 29.3983 190.754 29.3483 190.754 29.2962L190.747 23.7128C190.747 23.6672 190.756 23.622 190.774 23.5799C190.791 23.5378 190.817 23.4996 190.849 23.4675C190.882 23.4354 190.92 23.4101 190.963 23.393C191.005 23.3759 191.05 23.3673 191.096 23.3678L194.03 23.4086Z" fill="white"/>
                <path d="M239.516 9.57451C233.161 8.72495 225.578 12.3013 226.851 19.9399C227.441 23.4717 230.501 25.8905 233.896 26.8068C235.966 27.3633 238.489 27.1927 240.774 27.1741C240.837 27.1729 240.9 27.1844 240.96 27.208C241.019 27.2316 241.073 27.2667 241.119 27.3114L243.89 30.0418C243.989 30.1383 244.039 30.2558 244.039 30.3943L244.053 35.8886C244.053 35.9142 244.043 35.9387 244.025 35.9568C244.007 35.9749 243.983 35.985 243.957 35.985C240.977 36.0023 237.999 35.9986 235.024 35.9739C229.192 35.9294 223.404 32.3642 220.384 27.6119C214.515 18.3669 218.656 7.34489 228.079 2.62594C232.898 0.214527 237.906 0.748745 243.093 0.745035C243.295 0.744979 243.489 0.823462 243.634 0.963915L254.089 11.0696C254.22 11.1975 254.325 11.3504 254.396 11.5193C254.467 11.6882 254.504 11.8695 254.504 12.0527L254.5 35.8033C254.5 35.9269 254.439 35.9887 254.315 35.9887L245.697 35.9962C245.568 35.9962 245.504 35.9319 245.504 35.8033C245.494 29.306 245.494 22.8138 245.504 16.3265C245.508 14.9538 245.192 14.9353 244.15 13.9039C242.725 12.4942 241.286 11.1017 239.832 9.72661C239.743 9.64252 239.637 9.59182 239.516 9.57451Z" fill="white"/>
              </svg>
        </div>
        <ul class="nav-menu">
            <li class="nav-item" id="special" data-value="REGISTER">REGISTER</li>
            <li class="nav-item" style="height: 100%;"><div class="line"></div></li>
            <li class="nav-item" id="special2" data-value="LOGIN">LOGIN</li>
            <li class="nav-item" style="height: 100%;"><div class="line"></div></li>
            <li class="nav-item" id="special3" data-value="TEAMS">TEAMS</li>
            <li class="nav-item" style="height: 100%;"><div class="line"></div></li>
            <li class="nav-item" id="special4" data-value="PROMO">PROMO</li>
            <li class="nav-item" style="height: 100%;"><div class="line"></div></li>
            <li class="nav-item" id="special5" data-value="FAQS">FAQS</li>
        </ul>
    </header>
    <% if (canReg) { %>
        <div class="top">
            <svg class="lines" width="189" height="33" viewBox="0 0 189 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M189 32.9158V27.7997L161.829 4.19617e-05H141.293L173.465 32.9158H189ZM189 4.19617e-05H177.626L189 11.6372V4.19617e-05ZM157.668 32.9158H137.133L104.961 4.19617e-05H125.496L157.668 32.9158ZM100.801 32.9158H121.336L89.1639 4.19617e-05H68.6288L100.801 32.9158ZM52.8315 4.19617e-05L85.0034 32.9158H64.4683L32.2964 4.19617e-05H52.8315ZM28.136 32.9158H48.6711L16.4992 4.19617e-05L0 4.19617e-05V4.12928L28.136 32.9158ZM0 20.2918L12.3387 32.9158H0V20.2918Z" fill="white"/>
            </svg>
            <svg class="top-text" width="799" height="120" viewBox="0 0 799 120" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.5 44.4158V118.916H798V0.915771H40.5L0.5 44.4158Z" fill="#08040F" stroke="#FF0000"/>
                <path d="M219.009 30.818C219.009 31.6161 218.797 32.332 218.375 32.9658C218.211 33.2005 217.917 33.5291 217.495 33.9516C217.072 34.3506 216.732 34.6441 216.474 34.8318C216.168 35.0666 215.863 35.2309 215.558 35.3248L219.748 43.9158H215.734L211.826 35.6064H207.777V43.9158H204.08V22.8608H213.974C214.913 22.8608 215.746 23.119 216.474 23.6354C216.708 23.7997 217.037 24.1048 217.459 24.5508C217.905 24.9968 218.211 25.3371 218.375 25.5719C218.797 26.2056 219.009 26.9215 219.009 27.7196V30.818ZM215.312 30.7828V27.7548C215.312 27.6375 215.3 27.5553 215.276 27.5084C214.877 26.8042 214.502 26.4286 214.15 26.3817H207.777V32.0855H213.974C214.138 32.0855 214.361 31.9564 214.643 31.6982C214.924 31.44 215.136 31.1818 215.276 30.9236C215.3 30.8767 215.312 30.8297 215.312 30.7828ZM237.708 43.9158H224.47V22.8608H237.708V26.3817H228.167V31.6982H237.039V35.2191H228.167V40.3949H237.708V43.9158ZM246.321 27.8957V38.9161C246.321 39.1039 246.509 39.3855 246.885 39.7611C247.284 40.1132 247.636 40.3714 247.941 40.5357H247.976C248.023 40.5592 248.07 40.5709 248.117 40.5709H252.905L253.081 40.5357C253.363 40.3714 253.703 40.0897 254.102 39.6907C254.501 39.2917 254.701 38.9982 254.701 38.8105V35.3952H250.159V31.8743H258.398V38.9865C258.562 40.5357 258.785 42.1788 259.067 43.9158H255.44L255.264 43.0708C254.302 43.7515 253.574 44.0918 253.081 44.0918H247.941C247.166 44.0918 246.439 43.8806 245.758 43.4581C245.406 43.2468 244.948 42.8712 244.385 42.3314C243.821 41.768 243.422 41.322 243.188 40.9934C242.812 40.4301 242.624 39.7494 242.624 38.9513V27.8252C242.624 27.0506 242.812 26.3817 243.188 25.8183C243.422 25.4662 243.821 25.0085 244.385 24.4452C244.972 23.8584 245.429 23.4711 245.758 23.2833C246.392 22.8842 247.119 22.6847 247.941 22.6847H253.081C254.701 22.6847 256.192 23.6588 257.553 25.6071C257.905 26.1 258.151 26.5108 258.292 26.8394L254.736 27.8604C254.22 27.1563 253.668 26.6164 253.081 26.2408C253.058 26.2174 252.999 26.2056 252.905 26.2056H248.117L247.941 26.2408C247.307 26.5929 246.779 27.0976 246.356 27.7548L246.321 27.8957ZM267.364 43.9158H263.667V22.8608H267.364V43.9158ZM287.997 38.9161C287.997 39.7376 287.81 40.4066 287.434 40.923C287.199 41.2751 286.8 41.7445 286.237 42.3314C285.674 42.8947 285.216 43.2703 284.864 43.4581C284.113 43.8806 283.385 44.0918 282.681 44.0918H276.555C275.029 44.0918 273.538 43.1177 272.083 41.1695C271.942 40.9817 271.731 40.6179 271.449 40.078L274.935 38.9161C275.404 39.5733 275.921 40.1132 276.484 40.5357C276.531 40.5592 276.613 40.5709 276.731 40.5709H282.505L282.716 40.5357C282.974 40.3949 283.303 40.1249 283.702 39.7259C284.101 39.3269 284.301 39.0569 284.301 38.9161V36.8388C284.301 36.4867 284.16 36.2871 283.878 36.2402L274.724 33.6347C273.855 33.4 273.174 32.9188 272.682 32.1912C272.212 31.4635 271.977 30.6654 271.977 29.7969V27.8957C271.977 27.0741 272.153 26.4051 272.505 25.8887C272.74 25.5601 273.139 25.1141 273.703 24.5508C274.289 23.964 274.759 23.5649 275.111 23.3537C275.862 22.9312 276.59 22.7199 277.294 22.7199H282.505C284.007 22.7199 285.498 23.694 286.976 25.6423C287.211 25.9709 287.446 26.3817 287.681 26.8746L284.124 27.8957C283.585 27.1211 283.068 26.5812 282.575 26.276C282.552 26.2526 282.481 26.2408 282.364 26.2408H277.4L277.188 26.276C276.907 26.4169 276.578 26.6751 276.202 27.0506C275.85 27.4262 275.674 27.6844 275.674 27.8252V29.5857C275.674 29.9378 275.803 30.1373 276.062 30.1842L285.251 32.8601C286.096 33.0949 286.765 33.5878 287.258 34.3389C287.751 35.0666 287.997 35.8529 287.997 36.6979V38.9161ZM306.528 26.3817H300.824V43.9158H297.127V26.3817H291.423V22.8608H306.528V26.3817ZM323.53 43.9158H310.292V22.8608H323.53V26.3817H313.989V31.6982H322.861V35.2191H313.989V40.3949H323.53V43.9158ZM343.375 30.818C343.375 31.6161 343.164 32.332 342.741 32.9658C342.577 33.2005 342.283 33.5291 341.861 33.9516C341.438 34.3506 341.098 34.6441 340.84 34.8318C340.535 35.0666 340.23 35.2309 339.924 35.3248L344.114 43.9158H340.101L336.192 35.6064H332.143V43.9158H328.446V22.8608H338.34C339.279 22.8608 340.112 23.119 340.84 23.6354C341.075 23.7997 341.403 24.1048 341.826 24.5508C342.272 24.9968 342.577 25.3371 342.741 25.5719C343.164 26.2056 343.375 26.9215 343.375 27.7196V30.818ZM339.678 30.7828V27.7548C339.678 27.6375 339.666 27.5553 339.643 27.5084C339.244 26.8042 338.868 26.4286 338.516 26.3817H332.143V32.0855H338.34C338.504 32.0855 338.727 31.9564 339.009 31.6982C339.291 31.44 339.502 31.1818 339.643 30.9236C339.666 30.8767 339.678 30.8297 339.678 30.7828ZM372.544 22.8608L365.573 34.7262V43.9158H361.876V34.7262L354.975 22.8608H359.059L363.742 30.8532L368.425 22.8608H372.544ZM391.435 38.9161C391.435 39.6907 391.247 40.3597 390.871 40.923C390.59 41.2986 390.167 41.768 389.604 42.3314C389.064 42.8947 388.63 43.2703 388.301 43.4581C387.62 43.8806 386.893 44.0918 386.118 44.0918H380.766C379.992 44.0918 379.264 43.8806 378.583 43.4581C378.255 43.2703 377.797 42.8947 377.21 42.3314C376.647 41.7445 376.248 41.2751 376.013 40.923C375.638 40.3597 375.45 39.6907 375.45 38.9161V27.8957C375.45 27.1211 375.638 26.4521 376.013 25.8887C376.248 25.5367 376.647 25.0789 377.21 24.5156C377.797 23.9288 378.255 23.5415 378.583 23.3537C379.264 22.9312 379.992 22.7199 380.766 22.7199H386.118C386.893 22.7199 387.62 22.9312 388.301 23.3537C388.63 23.5415 389.064 23.917 389.604 24.4804C390.167 25.0437 390.59 25.5132 390.871 25.8887C391.247 26.4521 391.435 27.1211 391.435 27.8957V38.9161ZM379.147 28.0013V38.8809C379.147 38.9513 379.159 38.9982 379.182 39.0217C379.651 39.7259 380.168 40.2306 380.731 40.5357C380.778 40.5592 380.837 40.5709 380.907 40.5709H385.977C386.048 40.5709 386.106 40.5592 386.153 40.5357C386.717 40.2306 387.233 39.7259 387.703 39.0217L387.738 38.8809V28.0013C387.738 27.9074 387.726 27.8487 387.703 27.8252C387.21 27.0976 386.693 26.5812 386.153 26.276C386.106 26.2526 386.048 26.2408 385.977 26.2408H380.907C380.813 26.2408 380.755 26.2526 380.731 26.276C380.191 26.5812 379.675 27.0976 379.182 27.8252L379.147 28.0013ZM407.204 38.8809V22.8608H410.901V38.9161C410.901 39.6907 410.713 40.3597 410.337 40.923C410.079 41.2751 409.668 41.7445 409.105 42.3314C408.565 42.8947 408.119 43.2703 407.767 43.4581C407.086 43.8806 406.37 44.0918 405.619 44.0918H401.148C400.373 44.0918 399.646 43.8806 398.965 43.4581C398.636 43.2703 398.178 42.8947 397.592 42.3314C397.028 41.7445 396.629 41.2751 396.395 40.923C396.019 40.3597 395.831 39.6907 395.831 38.9161V22.8608H399.528V38.8457C399.528 38.9396 399.54 38.9982 399.563 39.0217C400.056 39.7494 400.573 40.254 401.113 40.5357L401.289 40.5709H405.478C405.549 40.5709 405.608 40.5592 405.655 40.5357C406.194 40.254 406.699 39.7494 407.169 39.0217L407.204 38.8809ZM430.607 30.818C430.607 31.6161 430.395 32.332 429.973 32.9658C429.809 33.2005 429.515 33.5291 429.093 33.9516C428.67 34.3506 428.33 34.6441 428.072 34.8318C427.767 35.0666 427.461 35.2309 427.156 35.3248L431.346 43.9158H427.332L423.424 35.6064H419.375V43.9158H415.678V22.8608H425.572C426.511 22.8608 427.344 23.119 428.072 23.6354C428.306 23.7997 428.635 24.1048 429.058 24.5508C429.504 24.9968 429.809 25.3371 429.973 25.5719C430.395 26.2056 430.607 26.9215 430.607 27.7196V30.818ZM426.91 30.7828V27.7548C426.91 27.6375 426.898 27.5553 426.875 27.5084C426.476 26.8042 426.1 26.4286 425.748 26.3817H419.375V32.0855H425.572C425.736 32.0855 425.959 31.9564 426.241 31.6982C426.522 31.44 426.734 31.1818 426.875 30.9236C426.898 30.8767 426.91 30.8297 426.91 30.7828ZM457.558 26.3817H448.051V31.6982H456.924V35.2191H448.051V43.9158H444.354V22.8608H457.558V26.3817ZM476.681 30.818C476.681 31.6161 476.47 32.332 476.047 32.9658C475.883 33.2005 475.59 33.5291 475.167 33.9516C474.745 34.3506 474.404 34.6441 474.146 34.8318C473.841 35.0666 473.536 35.2309 473.231 35.3248L477.42 43.9158H473.407L469.498 35.6064H465.449V43.9158H461.752V22.8608H471.646C472.585 22.8608 473.418 23.119 474.146 23.6354C474.381 23.7997 474.709 24.1048 475.132 24.5508C475.578 24.9968 475.883 25.3371 476.047 25.5719C476.47 26.2056 476.681 26.9215 476.681 27.7196V30.818ZM472.984 30.7828V27.7548C472.984 27.6375 472.972 27.5553 472.949 27.5084C472.55 26.8042 472.174 26.4286 471.822 26.3817H465.449V32.0855H471.646C471.81 32.0855 472.033 31.9564 472.315 31.6982C472.597 31.44 472.808 31.1818 472.949 30.9236C472.972 30.8767 472.984 30.8297 472.984 30.7828ZM485.839 43.9158H482.142V22.8608H485.839V43.9158ZM504.148 43.9158H490.91V22.8608H504.148V26.3817H494.607V31.6982H503.48V35.2191H494.607V40.3949H504.148V43.9158ZM523.958 43.9158H520.05L512.761 29.9378V43.9158H509.065V22.8608H513.043L520.261 37.0148V22.8608H523.958V43.9158ZM543.935 38.8105C543.935 39.632 543.759 40.301 543.407 40.8174C543.172 41.146 542.773 41.592 542.21 42.1553C541.646 42.6952 541.177 43.0708 540.801 43.282C540.05 43.7045 539.346 43.9158 538.689 43.9158H529.042V22.8608H538.689C539.51 22.8608 540.226 23.0603 540.837 23.4593C541.189 23.6706 541.635 24.0579 542.175 24.6212C542.714 25.1846 543.113 25.654 543.372 26.0296C543.747 26.546 543.935 27.215 543.935 28.0365V38.8105ZM532.739 40.3949H538.442C538.583 40.3949 538.665 40.3831 538.689 40.3597C538.971 40.1953 539.299 39.9372 539.675 39.5851C540.05 39.2095 540.238 38.9278 540.238 38.74V28.1421C540.238 28.0717 540.226 28.013 540.203 27.9661C539.757 27.2384 539.24 26.722 538.654 26.4169C538.63 26.3934 538.525 26.3817 538.337 26.3817H532.739V40.3949ZM564.443 38.9161C564.443 39.7376 564.256 40.4066 563.88 40.923C563.645 41.2751 563.246 41.7445 562.683 42.3314C562.12 42.8947 561.662 43.2703 561.31 43.4581C560.559 43.8806 559.831 44.0918 559.127 44.0918H553C551.475 44.0918 549.984 43.1177 548.529 41.1695C548.388 40.9817 548.177 40.6179 547.895 40.078L551.381 38.9161C551.85 39.5733 552.367 40.1132 552.93 40.5357C552.977 40.5592 553.059 40.5709 553.177 40.5709H558.951L559.162 40.5357C559.42 40.3949 559.749 40.1249 560.148 39.7259C560.547 39.3269 560.746 39.0569 560.746 38.9161V36.8388C560.746 36.4867 560.606 36.2871 560.324 36.2402L551.17 33.6347C550.301 33.4 549.62 32.9188 549.127 32.1912C548.658 31.4635 548.423 30.6654 548.423 29.7969V27.8957C548.423 27.0741 548.599 26.4051 548.951 25.8887C549.186 25.5601 549.585 25.1141 550.149 24.5508C550.735 23.964 551.205 23.5649 551.557 23.3537C552.308 22.9312 553.036 22.7199 553.74 22.7199H558.951C560.453 22.7199 561.944 23.694 563.422 25.6423C563.657 25.9709 563.892 26.3817 564.127 26.8746L560.57 27.8957C560.031 27.1211 559.514 26.5812 559.021 26.276C558.998 26.2526 558.927 26.2408 558.81 26.2408H553.845L553.634 26.276C553.353 26.4169 553.024 26.6751 552.648 27.0506C552.296 27.4262 552.12 27.6844 552.12 27.8252V29.5857C552.12 29.9378 552.249 30.1373 552.508 30.1842L561.697 32.8601C562.542 33.0949 563.211 33.5878 563.704 34.3389C564.197 35.0666 564.443 35.8529 564.443 36.6979V38.9161ZM587.07 40.5357C587.234 40.5357 587.469 40.3949 587.774 40.1132C588.08 39.8315 588.314 39.5499 588.479 39.2682C588.502 39.2212 588.514 39.1391 588.514 39.0217V33.846H593.091V37.4373H592.105V39.3034C592.105 40.1249 591.894 40.8291 591.471 41.4159C591.307 41.6507 591.014 41.9793 590.591 42.4018C590.169 42.8243 589.84 43.1177 589.605 43.282C588.901 43.7984 588.056 44.0566 587.07 44.0566H585.098V44.0918H582.282C581.366 44.0918 580.545 43.8336 579.817 43.3172C579.582 43.1529 579.242 42.8478 578.796 42.4018C578.374 41.9558 578.08 41.6154 577.916 41.3807C577.493 40.747 577.282 40.031 577.282 39.233V36.4867C577.282 35.4304 577.752 34.4328 578.69 33.4939C577.752 32.555 577.282 31.5457 577.282 30.4659V27.614C577.282 26.8159 577.493 26.1 577.916 25.4662C578.08 25.2315 578.374 24.8912 578.796 24.4452C579.242 23.9992 579.582 23.694 579.817 23.5297C580.545 23.0133 581.366 22.7551 582.282 22.7551H585.732C587.258 22.7551 588.76 23.7175 590.239 25.6423C590.685 26.2526 590.978 26.7572 591.119 27.1563L587.528 28.1069C586.894 27.168 586.319 26.5695 585.803 26.3113C585.756 26.2878 585.697 26.276 585.627 26.276H582.317C582.176 26.276 581.965 26.4051 581.683 26.6633C581.402 26.9215 581.179 27.1915 581.014 27.4732C580.991 27.5201 580.979 27.5788 580.979 27.6492V30.3955C580.979 30.4659 580.991 30.5246 581.014 30.5715C581.155 30.8297 581.355 31.0879 581.613 31.3461C581.894 31.6043 582.117 31.7334 582.282 31.7334H586.789V35.2191H582.282C582.117 35.2191 581.894 35.3482 581.613 35.6064C581.355 35.8646 581.155 36.1228 581.014 36.381L580.979 36.5571V39.1978L581.014 39.3738C581.179 39.6555 581.39 39.9254 581.648 40.1836C581.93 40.4183 582.153 40.5357 582.317 40.5357H587.07Z" fill="#FF0000"/>
                <g filter="url(#filter0_d_0_1)">
                <path d="M261.648 88.6024C261.648 89.9861 261.332 91.1128 260.699 91.9825C260.304 92.5755 259.632 93.3662 258.683 94.3545C257.734 95.3033 256.963 95.9358 256.37 96.2521C255.105 96.9636 253.88 97.3194 252.694 97.3194H242.376C239.806 97.3194 237.296 95.6788 234.845 92.3976C234.607 92.0813 234.252 91.4686 233.777 90.5593L239.648 88.6024C240.438 89.7094 241.308 90.6186 242.257 91.3302C242.336 91.3697 242.474 91.3895 242.672 91.3895H252.397L252.753 91.3302C253.188 91.093 253.741 90.6384 254.413 89.9663C255.085 89.2943 255.421 88.8396 255.421 88.6024V85.1038C255.421 84.5108 255.184 84.1747 254.71 84.0957L239.292 79.7075C237.829 79.3122 236.683 78.5018 235.853 77.2762C235.062 76.0507 234.667 74.7066 234.667 73.2439V70.0417C234.667 68.6581 234.963 67.5314 235.556 66.6616C235.951 66.1082 236.624 65.357 237.572 64.4083C238.561 63.4199 239.351 62.7479 239.944 62.3921C241.209 61.6805 242.435 61.3247 243.621 61.3247H252.397C254.927 61.3247 257.438 62.9653 259.928 66.2465C260.324 66.8 260.719 67.4918 261.114 68.322L255.125 70.0417C254.216 68.7371 253.346 67.8279 252.516 67.3139C252.476 67.2744 252.358 67.2546 252.16 67.2546H243.799L243.443 67.3139C242.969 67.5511 242.415 67.986 241.783 68.6185C241.19 69.251 240.893 69.6859 240.893 69.9231V72.8881C240.893 73.4811 241.111 73.8171 241.545 73.8962L257.023 78.4029C258.446 78.7983 259.572 79.6284 260.403 80.8935C261.233 82.119 261.648 83.4434 261.648 84.8666V88.6024ZM291.611 97.0229H269.315V61.5619H291.611V67.4918H275.541V76.446H290.485V82.376H275.541V91.093H291.611V97.0229ZM321.832 97.0229H299.891V61.5619H306.117V91.093H321.832V97.0229ZM350.679 97.0229H328.382V61.5619H350.679V67.4918H334.609V76.446H349.552V82.376H334.609V91.093H350.679V97.0229ZM384.102 90.1442C383.706 91.0535 383.291 91.8046 382.856 92.3976C380.405 95.6788 377.895 97.3194 375.325 97.3194H367.913C366.608 97.3194 365.383 96.9636 364.236 96.2521C363.643 95.8963 362.873 95.244 361.924 94.2952C360.975 93.3464 360.303 92.5953 359.908 92.0418C359.275 91.093 358.959 89.9663 358.959 88.6617V69.9824C358.959 68.7174 359.275 67.6104 359.908 66.6616C360.303 66.0686 360.975 65.2978 361.924 64.349C362.912 63.3606 363.683 62.7083 364.236 62.3921C365.501 61.6805 366.727 61.3247 367.913 61.3247H375.325C377.856 61.3247 380.366 62.9653 382.856 66.2465C383.094 66.5628 383.509 67.2546 384.102 68.322L378.053 70.0417C376.867 68.579 375.978 67.6697 375.385 67.3139C375.345 67.2744 375.266 67.2546 375.147 67.2546H368.15L367.913 67.3139C366.885 67.8674 365.996 68.7371 365.244 69.9231C365.205 70.0022 365.185 70.2196 365.185 70.5754V88.6024C365.185 88.9187 365.501 89.3931 366.134 90.0256C366.806 90.6186 367.399 91.0535 367.913 91.3302C367.953 91.3697 368.091 91.3895 368.328 91.3895H375.088C375.207 91.3895 375.306 91.3697 375.385 91.3302C375.74 91.1721 376.136 90.8558 376.571 90.3814C377.045 89.907 377.421 89.4722 377.697 89.0768L378.053 88.5431L384.102 90.1442ZM415.277 67.4918H405.671V97.0229H399.445V67.4918H389.838V61.5619H415.277V67.4918ZM459.115 67.4918H449.509V97.0229H443.282V67.4918H433.676V61.5619H459.115V67.4918ZM487.751 97.0229H465.455V61.5619H487.751V67.4918H471.681V76.446H486.624V82.376H471.681V91.093H487.751V97.0229ZM523.961 97.0229H517.319L514.71 89.4919H501.249L498.64 97.0229H491.998L504.392 61.5619H511.627L523.961 97.0229ZM512.753 83.562L508.009 69.5673L503.206 83.562H512.753ZM559.234 97.0229H553.007V72.7695L545.951 88.3059H541.859L534.802 72.8288V97.0229H528.576V61.5619H535.692L543.994 79.0552L552.177 61.5619H559.234V97.0229Z" fill="white"/>
                </g>
                <defs>
                <filter id="filter0_d_0_1" x="225.877" y="54.4247" width="343.256" height="53.7946" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dx="1" dy="2"/>
                <feGaussianBlur stdDeviation="4.45"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.25 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_0_1"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_0_1" result="shape"/>
                </filter>
                </defs>
            </svg>            
        </div>
        <div class="bottom">
            <div class="left">
                <img class="man-image" src="https://cdn.discordapp.com/attachments/1175006936194883635/1175833855454875768/image.png?ex=656cab9d&is=655a369d&hm=f3c3b004e757e8f9cda2bb66e2953879c01d93672a67f5fddd7a8e8869cd55ea&" alt="">
            </div>
            <div class="right">
                <div class="right-top">
                    <div class="cards">
                        <div class="one">
                            <svg class="svg-participant" width="371" height="140" viewBox="0 0 371 140" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.29102 1H370V139H105.714L8.29102 1Z" stroke="white"/>
                                <path d="M0 52.1309V5.11938L92.2409 139H59.7469L0 52.1309Z" fill="white"/>
                            </svg> 
                            <p class="participant">Participant 1</p>
                        </div>
                        <div class="one">
                            <svg class="svg-participant" width="371" height="140" viewBox="0 0 371 140" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.29102 1H370V139H105.714L8.29102 1Z" stroke="white"/>
                                <path d="M0 52.1309V5.11938L92.2409 139H59.7469L0 52.1309Z" fill="white"/>
                            </svg>            
                            <p class="participant">Participant 1</p>
                        </div>
                        <div class="one">
                            <svg class="svg-participant" width="371" height="140" viewBox="0 0 371 140" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.29102 1H370V139H105.714L8.29102 1Z" stroke="white"/>
                                <path d="M0 52.1309V5.11938L92.2409 139H59.7469L0 52.1309Z" fill="white"/>
                            </svg>            
                            <p class="participant">Participant 1</p>
                        </div>
                        <div class="one">
                            <svg class="svg-participant" width="371" height="140" viewBox="0 0 371 140" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.29102 1H370V139H105.714L8.29102 1Z" stroke="white"/>
                                <path d="M0 52.1309V5.11938L92.2409 139H59.7469L0 52.1309Z" fill="white"/>
                            </svg>            
                            <p class="participant">Participant 1</p>
                        </div>
                    </div>
                    <p class="small-text">Note:<br>A confirmation mail will be sent on the following Email ID, to confirm your participation in the Hackathon<br><br>Once clicked on confirm no further changes to be made.</p>
                </div>
                <div class="right-bottom">
                    <form action="" method="post">
                        <div class="one">
                            <svg class="input-svg" width="784" height="70" viewBox="0 0 784 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M781 1H1.00001V69H727.713L781 1Z" stroke="#FF0000"/>
                                <path d="M784 27.1756V4L733 70H750.966L784 27.1756Z" fill="#FF0000"/>
                            </svg>                  
                            <input type="text" placeholder="Enter team name" required class="participant-email">
                        </div>
                        <div class="one">
                            <svg class="input-svg" width="784" height="70" viewBox="0 0 784 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M781 1H1.00001V69H727.713L781 1Z" stroke="#FF0000"/>
                                <path d="M784 27.1756V4L733 70H750.966L784 27.1756Z" fill="#FF0000"/>
                            </svg>                  
                            <input type="email" placeholder="Enter participant's email" class="participant-pass">
                        </div>
                        <div class="buttons">
                            <svg class="add-button" width="164" height="47" viewBox="0 0 164 47" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.999756 1H107.434L62.4999 46H0.999756V1Z" stroke="white" stroke-width="0.805611"/>
                                <path d="M74.2394 46L119.173 1H139.009L94.075 46H74.2394Z" stroke="white" stroke-width="0.805611"/>
                                <path d="M105.195 46L150.129 1H162.273L117.34 46H105.195Z" stroke="white" stroke-width="0.805611"/>
                                <path d="M29.9634 30L28.9932 27.003H22.9993L22.0075 30H20.6922L25.026 17.0635H26.9665L31.3002 30H29.9634ZM23.3873 25.7956H28.6051L26.1256 18.2924H25.8453L23.3873 25.7956ZM43.6354 27.1324C43.6354 27.5492 43.5491 27.8942 43.3766 28.1673C43.2473 28.3542 43.0173 28.6201 42.6867 28.9651C42.3561 29.3101 42.0974 29.54 41.9105 29.655C41.5511 29.885 41.1846 30 40.8109 30H35.1188V17.0635H40.8109C41.2134 17.0635 41.5799 17.1713 41.9105 17.3869C42.0974 17.5019 42.3561 17.739 42.6867 18.0984C43.0173 18.4434 43.2473 18.7165 43.3766 18.9177C43.5491 19.1908 43.6354 19.5358 43.6354 19.9526V27.1324ZM42.3848 19.9958C42.3848 19.8664 42.3633 19.7586 42.3202 19.6723C42.1908 19.428 41.9824 19.1693 41.6949 18.8961C41.4074 18.6087 41.1702 18.4218 40.9834 18.3356C40.9115 18.2924 40.8181 18.2709 40.7031 18.2709H36.3693V28.7926H40.7031C40.8181 28.7926 40.9115 28.771 40.9834 28.7279C41.1702 28.6417 41.4074 28.4548 41.6949 28.1673C41.9824 27.8798 42.1908 27.6139 42.3202 27.3696C42.3633 27.2833 42.3848 27.1899 42.3848 27.0893V19.9958ZM57.0882 27.1324C57.0882 27.5492 57.0019 27.8942 56.8294 28.1673C56.7001 28.3542 56.4701 28.6201 56.1395 28.9651C55.8089 29.3101 55.5502 29.54 55.3633 29.655C55.004 29.885 54.6374 30 54.2637 30H48.5716V17.0635H54.2637C54.6662 17.0635 55.0327 17.1713 55.3633 17.3869C55.5502 17.5019 55.8089 17.739 56.1395 18.0984C56.4701 18.4434 56.7001 18.7165 56.8294 18.9177C57.0019 19.1908 57.0882 19.5358 57.0882 19.9526V27.1324ZM55.8376 19.9958C55.8376 19.8664 55.8161 19.7586 55.773 19.6723C55.6436 19.428 55.4352 19.1693 55.1477 18.8961C54.8602 18.6087 54.623 18.4218 54.4362 18.3356C54.3643 18.2924 54.2709 18.2709 54.1559 18.2709H49.8222V28.7926H54.1559C54.2709 28.7926 54.3643 28.771 54.4362 28.7279C54.623 28.6417 54.8602 28.4548 55.1477 28.1673C55.4352 27.8798 55.6436 27.6139 55.773 27.3696C55.8161 27.2833 55.8376 27.1899 55.8376 27.0893V19.9958Z" fill="white"/>
                            </svg>                            
                            <button type="submit">
                                <svg class="sub-button" width="205" height="47" viewBox="0 0 205 47" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M204 1H55.8397L100.774 46H204V1Z" stroke="white" stroke-width="0.805611"/>
                                    <path d="M89.0341 46L44.1002 1H24.2645L69.1984 46H89.0341Z" stroke="white" stroke-width="0.805611"/>
                                    <path d="M58.0782 46L13.1443 1H1L45.9339 46H58.0782Z" stroke="white" stroke-width="0.805611"/>
                                    <path d="M111.278 27.5636C111.177 27.7936 111.012 28.0739 110.782 28.4045C110.308 29.0513 109.862 29.5041 109.445 29.7628C109.086 29.9928 108.719 30.1078 108.346 30.1078H105.5C105.111 30.1078 104.738 29.9928 104.378 29.7628C104.192 29.6478 103.933 29.4179 103.602 29.0729C103.272 28.7279 103.042 28.462 102.912 28.2751C102.725 27.9877 102.632 27.6427 102.632 27.2402V19.8664C102.632 19.4639 102.725 19.1189 102.912 18.8315C103.042 18.6302 103.272 18.3571 103.602 18.0122C103.933 17.6672 104.192 17.4372 104.378 17.3222C104.738 17.0922 105.104 16.9772 105.478 16.9772H108.346C108.719 16.9772 109.086 17.0922 109.445 17.3222C109.862 17.5809 110.308 18.0337 110.782 18.6805C111.012 19.0111 111.177 19.2914 111.278 19.5214L110.027 19.888C109.898 19.5861 109.682 19.2699 109.381 18.9393C109.079 18.5943 108.813 18.3643 108.583 18.2493C108.511 18.2062 108.41 18.1846 108.281 18.1846H105.586C105.456 18.1846 105.363 18.2062 105.306 18.2493C105.119 18.3356 104.874 18.5224 104.572 18.8099C104.285 19.0974 104.077 19.3633 103.947 19.6077C103.904 19.6939 103.882 19.7945 103.882 19.9095V27.1971C103.882 27.2977 103.904 27.3911 103.947 27.4774C104.077 27.7217 104.285 27.9877 104.572 28.2751C104.874 28.5626 105.119 28.7495 105.306 28.8357C105.363 28.8788 105.456 28.9004 105.586 28.9004H108.281C108.425 28.9004 108.525 28.8788 108.583 28.8357C108.798 28.7207 109.05 28.4979 109.337 28.1673C109.639 27.8367 109.869 27.5205 110.027 27.2186L111.278 27.5636ZM124.742 27.2186C124.742 27.6355 124.648 27.9877 124.462 28.2751C124.332 28.462 124.102 28.7279 123.772 29.0729C123.441 29.4179 123.182 29.6478 122.995 29.7628C122.636 29.9928 122.262 30.1078 121.874 30.1078H118.468C118.094 30.1078 117.727 29.9928 117.368 29.7628C117.181 29.6478 116.915 29.4179 116.57 29.0729C116.24 28.7279 116.01 28.462 115.88 28.2751C115.708 28.002 115.622 27.6499 115.622 27.2186V19.888C115.622 19.4567 115.708 19.1046 115.88 18.8315C116.01 18.6446 116.24 18.3787 116.57 18.0337C116.915 17.6744 117.181 17.4372 117.368 17.3222C117.727 17.0922 118.094 16.9772 118.468 16.9772H121.874C122.262 16.9772 122.636 17.0922 122.995 17.3222C123.182 17.4372 123.441 17.6672 123.772 18.0122C124.102 18.3571 124.332 18.6302 124.462 18.8315C124.648 19.1189 124.742 19.4711 124.742 19.888V27.2186ZM123.491 27.1971V19.9311C123.491 19.8017 123.47 19.6939 123.427 19.6077C123.297 19.3633 123.082 19.0974 122.78 18.8099C122.492 18.5224 122.255 18.3356 122.068 18.2493C121.996 18.2062 121.903 18.1846 121.788 18.1846H118.575C118.446 18.1846 118.353 18.2062 118.295 18.2493C118.123 18.3356 117.885 18.5224 117.584 18.8099C117.296 19.0974 117.088 19.3633 116.958 19.6077C116.901 19.7226 116.872 19.8305 116.872 19.9311V27.1971C116.872 27.269 116.901 27.3624 116.958 27.4774C117.088 27.7217 117.296 27.9877 117.584 28.2751C117.885 28.5626 118.123 28.7495 118.295 28.8357C118.353 28.8788 118.446 28.9004 118.575 28.9004H121.788C121.903 28.9004 121.996 28.8788 122.068 28.8357C122.255 28.7495 122.492 28.5626 122.78 28.2751C123.082 27.9877 123.297 27.7217 123.427 27.4774C123.47 27.3911 123.491 27.2977 123.491 27.1971ZM138.161 30H136.544L130.916 18.9608V30H129.709V17.0635H131.369L136.954 28.2104V17.0635H138.161V30ZM150.684 18.2709H144.517V22.928H150.36V24.1354H144.517V30H143.267V17.0635H150.684V18.2709ZM156.622 30H155.372V17.0635H156.622V30ZM170.267 21.6344C170.267 22.0656 170.159 22.4393 169.943 22.7555C169.871 22.8705 169.706 23.0574 169.447 23.3161C169.189 23.5749 168.987 23.7617 168.844 23.8767C168.484 24.1498 168.082 24.2864 167.636 24.2864L170.849 30H169.426L166.235 24.2864H163.001V30H161.75V17.0635H167.571C168.06 17.0635 168.484 17.2 168.844 17.4731C168.987 17.5881 169.189 17.7822 169.447 18.0553C169.706 18.314 169.871 18.5009 169.943 18.6159C170.159 18.9321 170.267 19.3058 170.267 19.737V21.6344ZM169.016 21.5913V19.7801C169.016 19.5933 169.002 19.4711 168.973 19.4136C168.872 19.2268 168.714 19.0255 168.499 18.8099C168.283 18.5943 168.089 18.4362 167.916 18.3356C167.845 18.2924 167.722 18.2709 167.55 18.2709H163.001V23.079H167.55C167.694 23.079 167.816 23.0502 167.916 22.9927C168.103 22.8921 168.305 22.7412 168.52 22.5399C168.736 22.3243 168.887 22.1303 168.973 21.9578C169.002 21.9003 169.016 21.7781 169.016 21.5913ZM185.98 30H184.772V18.4002L181.085 26.5287H180.245L176.579 18.4002V30H175.372V17.0635H177.161L180.676 24.6313L184.212 17.0635H185.98V30Z" fill="white"/>
                                </svg>                                                  
                            </button>
                        </div>
                    </form>
                    <svg class="team-heading-display" width="219" height="187" viewBox="0 0 219 187" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M148.5 186L165 169.5H183.5L167 186H148.5Z" fill="white"/>
                        <path d="M175 186L191.5 169.5H210L193.5 186H175Z" fill="white"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0.5 0.5H218.5V164.117H162.042L139.589 186.5H0.5V0.5ZM1.5 1.5V185.5H139.176L161.629 163.117H217.5V1.5H1.5ZM164.793 169H184.707L167.207 186.5H147.293L164.793 169ZM165.207 170L149.707 185.5H166.793L182.293 170H165.207ZM191.293 169H211.207L193.707 186.5H173.793L191.293 169ZM191.707 170L176.207 185.5H193.293L208.793 170H191.707Z" fill="white"/>
                    </svg>                   
                </div>
            </div>
        </div>
        <!-- <form action="/hackReg/create-team" method="post">
            <input type="text" required name="teamName" placeholder="team name" id="">
            <input type="email" required name="participant1" placeholder="enter email of participant 1">
            <input type="email" name="participant2" placeholder="leave blank if empty">
            <input type="email" name="participant3" placeholder="leave blank if empty">
            <input type="email" name="participant4" placeholder="leave blank if empty">
            <button type="submit">Create Team</button><br>
            <% if (error) { %>
            <%= error %>
            <% } %>
        </form> -->
    <% } else if (canEdit) { %>
        <p>Edit your team:</p>
        <form action="/hackReg/editTeam/<%= reqTeam.id %>" method="post">
            <input type="text" required value="<%= reqTeam.teamName %>" placeholder="team name" name="teamName">
            <input type="email" required name="participant1" value="<%= reqTeam.participant1 %>" placeholder="enter email of participant 1">
            <input type="email" name="participant2" value="<%= reqTeam.participant2 %>" placeholder="leave blank if empty">
            <input type="email" name="participant3" value="<%= reqTeam.participant3 %>" placeholder="leave blank if empty">
            <input type="email" name="participant4" value="<%= reqTeam.participant4 %>" placeholder="leave blank if empty"> 
            <button type="submit">Submit</button>   
        </form>
    <% } else { %>
        <p>Your team:</p>
        <p>Team Admin: <%= reqTeam.teamAdmin %></p>
        <p>Team Name: <%= reqTeam.teamName %></p>
        <p>Participant 1: <%= reqTeam.participant1 %></p>
        <p>Participant 2: <%= reqTeam.participant2 %></p>
        <p>Participant 3: <%= reqTeam.participant3 %></p>
        <p>Participant 4: <%= reqTeam.participant4 %></p>
    <% } %>
    <svg class="bottom-vector" width="988" height="39" viewBox="0 0 988 39" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M38.5 37.5L548.5 37.5M789 37.5L987 37.5V1L825.5 1L789 37.5ZM789 37.5L752.5 37.5M752.5 37.5L789 1L703.5 1L667 37.5M752.5 37.5L667 37.5M667 37.5L630 37.5M548.5 37.5L585 1L666.5 1L630 37.5M548.5 37.5L630 37.5M33 37.5H22M17.5 37.5H10M5.5 37.5H0" stroke="#FF0000"/>
        <path d="M847.5 1.18359L811 37.6836L832 37.6836L868 1.18359L847.5 1.18359Z" fill="#FF0000" stroke="#FF0000"/>
        <path d="M881.499 1L844.999 37.5L865.999 37.5L901.999 1L881.499 1Z" fill="#FF0000" stroke="#FF0000"/>
    </svg>   
</body>
<style>
    body {
        height: auto;
        width: 100%;
        background-image: linear-gradient(#000615, #190000);
        overflow-x: hidden;
        background-size: contain;
        display: flex;
        flex-direction: column;
    }
    @font-face 
    {
        font-family:BlenderProBook;
        font-style:normal;
        font-weight:400;
        src:url('./BlenderProBook.woff2') format("woff2");
    }
    @font-face 
    {
        font-family:sentex;
        font-style:normal;
        font-weight:400;
        src:url('./Sentex-Regular.ttf');
    }
    .nav {
        display: flex;
        flex-direction: row;
        width: 90%;
        align-self: center;
        margin-top: 1vw;
        align-items: center;
        justify-content: space-between;
    }
    .logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1vw;
    }
    .logo-img {
        aspect-ratio: 1;
        width: 2.917vw;
    }
    .logo-txt {
        aspect-ratio: initial;
        width: 13.281vw;
        height: 1.875vw;
    }
    .nav-menu {
        display: flex;
        height: 2vw;
        flex-direction: row;
        align-items: center;
        border: 1px solid #FF0000;
        padding: 0px 2vw;
        justify-content: center;
        width: fit-content;
        gap: 2vw;
        margin-left: 8vw;
        margin-right: -3vw;
    }
    .nav-item {
        color: #ff0000;
        list-style-type: none;
        font-family: BlenderProBook;
    }
    .line {
        height: 135%;
        margin-top: -5px;
        width: 1px;
        background: #FF0000;
        transform: rotate(-40deg);
    }
    .bottom-vector {
        position: relative;
        bottom: 0;
        align-self: end;
        right: 2vw;
        width: 55vw;
    }
    .top {
        display: flex;
        flex-direction: column;
        align-self: center;
        gap: 1vw;
        margin-top: 2.5vw;
    }
    .top > .lines {
        height: fit-content;
        width: 11.719vw;
        align-self: flex-end;
        margin-left: -50px;
    }
    .top > .top-text {
        height: fit-content;
        margin-bottom: 2.5vw;
        width: 40.625vw;
    }
    .left {
        position: relative;
    }
    .man-image {
        width: 40vw;
        margin-bottom: -4vw;
    }
    .bottom {
        display: flex;
        flex-direction: row;
    }
    .right {
        /* flex-direction: row; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* margin-left: -5vw; */
    }
    .right-top {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .cards {
        display: flex;
        flex-wrap: wrap;
        gap: 2vw;
        width: 70%;
    }
    .svg-participant {
        height: fit-content;
        width: 18.802vw;
    }
    .one {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .participant {
        font-family: BlenderProBook;
        color: #7E7E7E;
        margin-left: 2vw;
        position: absolute;
    }
    .small-text {
        color: #fff;
        font-size: 1.250vw;
        width: 11vw;
        font-family: BlenderProBook;
    }
    .input-svg {
        width: 40.833vw;
    }
    .participant-pass, .participant-email {
        position: absolute;
        font-family: BlenderProBook;
        color: #7E7E7E;
        width: 35vw;
        height: 2vw;
        background: transparent;
        border: none;
        outline: none;
        font-size: 1.2em;
    }
    .team-heading-display {
        width: 11.354vw;
        margin-left: 2vw;
        align-self: flex-start;
    }
    .right-bottom {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .buttons {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;  
    }
    .add-button {
        width: 8.542vw;
        margin-top: 0;
    }
    ::-webkit-scrollbar {
        display: none;
    }
    .sub-button {
        width: 10.677vw;
    }
    button {
        background: transparent;
        outline: none;
        border: none;
        padding: 0;
    }
</style>
</html>