<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register for Hackathon</title>
</head>
<body>
    <%- include('./partials/navbar') %>
    <% if (canReg) { %>
        <div class="top">
            <svg class="lines" width="189" height="33" viewBox="0 0 189 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M189 32.9158V27.7997L161.829 4.19617e-05H141.293L173.465 32.9158H189ZM189 4.19617e-05H177.626L189 11.6372V4.19617e-05ZM157.668 32.9158H137.133L104.961 4.19617e-05H125.496L157.668 32.9158ZM100.801 32.9158H121.336L89.1639 4.19617e-05H68.6288L100.801 32.9158ZM52.8315 4.19617e-05L85.0034 32.9158H64.4683L32.2964 4.19617e-05H52.8315ZM28.136 32.9158H48.6711L16.4992 4.19617e-05L0 4.19617e-05V4.12928L28.136 32.9158ZM0 20.2918L12.3387 32.9158H0V20.2918Z" fill="white"/>
            </svg>
            <svg class="top-text" width="799" height="120" viewBox="0 0 799 120" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.5 44.4158V118.916H798V0.915771H40.5L0.5 44.4158Z" fill="#08040F" stroke="#FF0000"/>
                <path d="M219.009 30.818C219.009 31.6161 218.797 32.332 218.375 32.9658C218.211 33.2005 217.917 33.5291 217.495 33.9516C217.072 34.3506 216.732 34.6441 216.474 34.8318C216.168 35.0666 215.863 35.2309 215.558 35.3248L219.748 43.9158H215.734L211.826 35.6064H207.777V43.9158H204.08V22.8608H213.974C214.913 22.8608 215.746 23.119 216.474 23.6354C216.708 23.7997 217.037 24.1048 217.459 24.5508C217.905 24.9968 218.211 25.3371 218.375 25.5719C218.797 26.2056 219.009 26.9215 219.009 27.7196V30.818ZM215.312 30.7828V27.7548C215.312 27.6375 215.3 27.5553 215.276 27.5084C214.877 26.8042 214.502 26.4286 214.15 26.3817H207.777V32.0855H213.974C214.138 32.0855 214.361 31.9564 214.643 31.6982C214.924 31.44 215.136 31.1818 215.276 30.9236C215.3 30.8767 215.312 30.8297 215.312 30.7828ZM237.708 43.9158H224.47V22.8608H237.708V26.3817H228.167V31.6982H237.039V35.2191H228.167V40.3949H237.708V43.9158ZM246.321 27.8957V38.9161C246.321 39.1039 246.509 39.3855 246.885 39.7611C247.284 40.1132 247.636 40.3714 247.941 40.5357H247.976C248.023 40.5592 248.07 40.5709 248.117 40.5709H252.905L253.081 40.5357C253.363 40.3714 253.703 40.0897 254.102 39.6907C254.501 39.2917 254.701 38.9982 254.701 38.8105V35.3952H250.159V31.8743H258.398V38.9865C258.562 40.5357 258.785 42.1788 259.067 43.9158H255.44L255.264 43.0708C254.302 43.7515 253.574 44.0918 253.081 44.0918H247.941C247.166 44.0918 246.439 43.8806 245.758 43.4581C245.406 43.2468 244.948 42.8712 244.385 42.3314C243.821 41.768 243.422 41.322 243.188 40.9934C242.812 40.4301 242.624 39.7494 242.624 38.9513V27.8252C242.624 27.0506 242.812 26.3817 243.188 25.8183C243.422 25.4662 243.821 25.0085 244.385 24.4452C244.972 23.8584 245.429 23.4711 245.758 23.2833C246.392 22.8842 247.119 22.6847 247.941 22.6847H253.081C254.701 22.6847 256.192 23.6588 257.553 25.6071C257.905 26.1 258.151 26.5108 258.292 26.8394L254.736 27.8604C254.22 27.1563 253.668 26.6164 253.081 26.2408C253.058 26.2174 252.999 26.2056 252.905 26.2056H248.117L247.941 26.2408C247.307 26.5929 246.779 27.0976 246.356 27.7548L246.321 27.8957ZM267.364 43.9158H263.667V22.8608H267.364V43.9158ZM287.997 38.9161C287.997 39.7376 287.81 40.4066 287.434 40.923C287.199 41.2751 286.8 41.7445 286.237 42.3314C285.674 42.8947 285.216 43.2703 284.864 43.4581C284.113 43.8806 283.385 44.0918 282.681 44.0918H276.555C275.029 44.0918 273.538 43.1177 272.083 41.1695C271.942 40.9817 271.731 40.6179 271.449 40.078L274.935 38.9161C275.404 39.5733 275.921 40.1132 276.484 40.5357C276.531 40.5592 276.613 40.5709 276.731 40.5709H282.505L282.716 40.5357C282.974 40.3949 283.303 40.1249 283.702 39.7259C284.101 39.3269 284.301 39.0569 284.301 38.9161V36.8388C284.301 36.4867 284.16 36.2871 283.878 36.2402L274.724 33.6347C273.855 33.4 273.174 32.9188 272.682 32.1912C272.212 31.4635 271.977 30.6654 271.977 29.7969V27.8957C271.977 27.0741 272.153 26.4051 272.505 25.8887C272.74 25.5601 273.139 25.1141 273.703 24.5508C274.289 23.964 274.759 23.5649 275.111 23.3537C275.862 22.9312 276.59 22.7199 277.294 22.7199H282.505C284.007 22.7199 285.498 23.694 286.976 25.6423C287.211 25.9709 287.446 26.3817 287.681 26.8746L284.124 27.8957C283.585 27.1211 283.068 26.5812 282.575 26.276C282.552 26.2526 282.481 26.2408 282.364 26.2408H277.4L277.188 26.276C276.907 26.4169 276.578 26.6751 276.202 27.0506C275.85 27.4262 275.674 27.6844 275.674 27.8252V29.5857C275.674 29.9378 275.803 30.1373 276.062 30.1842L285.251 32.8601C286.096 33.0949 286.765 33.5878 287.258 34.3389C287.751 35.0666 287.997 35.8529 287.997 36.6979V38.9161ZM306.528 26.3817H300.824V43.9158H297.127V26.3817H291.423V22.8608H306.528V26.3817ZM323.53 43.9158H310.292V22.8608H323.53V26.3817H313.989V31.6982H322.861V35.2191H313.989V40.3949H323.53V43.9158ZM343.375 30.818C343.375 31.6161 343.164 32.332 342.741 32.9658C342.577 33.2005 342.283 33.5291 341.861 33.9516C341.438 34.3506 341.098 34.6441 340.84 34.8318C340.535 35.0666 340.23 35.2309 339.924 35.3248L344.114 43.9158H340.101L336.192 35.6064H332.143V43.9158H328.446V22.8608H338.34C339.279 22.8608 340.112 23.119 340.84 23.6354C341.075 23.7997 341.403 24.1048 341.826 24.5508C342.272 24.9968 342.577 25.3371 342.741 25.5719C343.164 26.2056 343.375 26.9215 343.375 27.7196V30.818ZM339.678 30.7828V27.7548C339.678 27.6375 339.666 27.5553 339.643 27.5084C339.244 26.8042 338.868 26.4286 338.516 26.3817H332.143V32.0855H338.34C338.504 32.0855 338.727 31.9564 339.009 31.6982C339.291 31.44 339.502 31.1818 339.643 30.9236C339.666 30.8767 339.678 30.8297 339.678 30.7828ZM372.544 22.8608L365.573 34.7262V43.9158H361.876V34.7262L354.975 22.8608H359.059L363.742 30.8532L368.425 22.8608H372.544ZM391.435 38.9161C391.435 39.6907 391.247 40.3597 390.871 40.923C390.59 41.2986 390.167 41.768 389.604 42.3314C389.064 42.8947 388.63 43.2703 388.301 43.4581C387.62 43.8806 386.893 44.0918 386.118 44.0918H380.766C379.992 44.0918 379.264 43.8806 378.583 43.4581C378.255 43.2703 377.797 42.8947 377.21 42.3314C376.647 41.7445 376.248 41.2751 376.013 40.923C375.638 40.3597 375.45 39.6907 375.45 38.9161V27.8957C375.45 27.1211 375.638 26.4521 376.013 25.8887C376.248 25.5367 376.647 25.0789 377.21 24.5156C377.797 23.9288 378.255 23.5415 378.583 23.3537C379.264 22.9312 379.992 22.7199 380.766 22.7199H386.118C386.893 22.7199 387.62 22.9312 388.301 23.3537C388.63 23.5415 389.064 23.917 389.604 24.4804C390.167 25.0437 390.59 25.5132 390.871 25.8887C391.247 26.4521 391.435 27.1211 391.435 27.8957V38.9161ZM379.147 28.0013V38.8809C379.147 38.9513 379.159 38.9982 379.182 39.0217C379.651 39.7259 380.168 40.2306 380.731 40.5357C380.778 40.5592 380.837 40.5709 380.907 40.5709H385.977C386.048 40.5709 386.106 40.5592 386.153 40.5357C386.717 40.2306 387.233 39.7259 387.703 39.0217L387.738 38.8809V28.0013C387.738 27.9074 387.726 27.8487 387.703 27.8252C387.21 27.0976 386.693 26.5812 386.153 26.276C386.106 26.2526 386.048 26.2408 385.977 26.2408H380.907C380.813 26.2408 380.755 26.2526 380.731 26.276C380.191 26.5812 379.675 27.0976 379.182 27.8252L379.147 28.0013ZM407.204 38.8809V22.8608H410.901V38.9161C410.901 39.6907 410.713 40.3597 410.337 40.923C410.079 41.2751 409.668 41.7445 409.105 42.3314C408.565 42.8947 408.119 43.2703 407.767 43.4581C407.086 43.8806 406.37 44.0918 405.619 44.0918H401.148C400.373 44.0918 399.646 43.8806 398.965 43.4581C398.636 43.2703 398.178 42.8947 397.592 42.3314C397.028 41.7445 396.629 41.2751 396.395 40.923C396.019 40.3597 395.831 39.6907 395.831 38.9161V22.8608H399.528V38.8457C399.528 38.9396 399.54 38.9982 399.563 39.0217C400.056 39.7494 400.573 40.254 401.113 40.5357L401.289 40.5709H405.478C405.549 40.5709 405.608 40.5592 405.655 40.5357C406.194 40.254 406.699 39.7494 407.169 39.0217L407.204 38.8809ZM430.607 30.818C430.607 31.6161 430.395 32.332 429.973 32.9658C429.809 33.2005 429.515 33.5291 429.093 33.9516C428.67 34.3506 428.33 34.6441 428.072 34.8318C427.767 35.0666 427.461 35.2309 427.156 35.3248L431.346 43.9158H427.332L423.424 35.6064H419.375V43.9158H415.678V22.8608H425.572C426.511 22.8608 427.344 23.119 428.072 23.6354C428.306 23.7997 428.635 24.1048 429.058 24.5508C429.504 24.9968 429.809 25.3371 429.973 25.5719C430.395 26.2056 430.607 26.9215 430.607 27.7196V30.818ZM426.91 30.7828V27.7548C426.91 27.6375 426.898 27.5553 426.875 27.5084C426.476 26.8042 426.1 26.4286 425.748 26.3817H419.375V32.0855H425.572C425.736 32.0855 425.959 31.9564 426.241 31.6982C426.522 31.44 426.734 31.1818 426.875 30.9236C426.898 30.8767 426.91 30.8297 426.91 30.7828ZM457.558 26.3817H448.051V31.6982H456.924V35.2191H448.051V43.9158H444.354V22.8608H457.558V26.3817ZM476.681 30.818C476.681 31.6161 476.47 32.332 476.047 32.9658C475.883 33.2005 475.59 33.5291 475.167 33.9516C474.745 34.3506 474.404 34.6441 474.146 34.8318C473.841 35.0666 473.536 35.2309 473.231 35.3248L477.42 43.9158H473.407L469.498 35.6064H465.449V43.9158H461.752V22.8608H471.646C472.585 22.8608 473.418 23.119 474.146 23.6354C474.381 23.7997 474.709 24.1048 475.132 24.5508C475.578 24.9968 475.883 25.3371 476.047 25.5719C476.47 26.2056 476.681 26.9215 476.681 27.7196V30.818ZM472.984 30.7828V27.7548C472.984 27.6375 472.972 27.5553 472.949 27.5084C472.55 26.8042 472.174 26.4286 471.822 26.3817H465.449V32.0855H471.646C471.81 32.0855 472.033 31.9564 472.315 31.6982C472.597 31.44 472.808 31.1818 472.949 30.9236C472.972 30.8767 472.984 30.8297 472.984 30.7828ZM485.839 43.9158H482.142V22.8608H485.839V43.9158ZM504.148 43.9158H490.91V22.8608H504.148V26.3817H494.607V31.6982H503.48V35.2191H494.607V40.3949H504.148V43.9158ZM523.958 43.9158H520.05L512.761 29.9378V43.9158H509.065V22.8608H513.043L520.261 37.0148V22.8608H523.958V43.9158ZM543.935 38.8105C543.935 39.632 543.759 40.301 543.407 40.8174C543.172 41.146 542.773 41.592 542.21 42.1553C541.646 42.6952 541.177 43.0708 540.801 43.282C540.05 43.7045 539.346 43.9158 538.689 43.9158H529.042V22.8608H538.689C539.51 22.8608 540.226 23.0603 540.837 23.4593C541.189 23.6706 541.635 24.0579 542.175 24.6212C542.714 25.1846 543.113 25.654 543.372 26.0296C543.747 26.546 543.935 27.215 543.935 28.0365V38.8105ZM532.739 40.3949H538.442C538.583 40.3949 538.665 40.3831 538.689 40.3597C538.971 40.1953 539.299 39.9372 539.675 39.5851C540.05 39.2095 540.238 38.9278 540.238 38.74V28.1421C540.238 28.0717 540.226 28.013 540.203 27.9661C539.757 27.2384 539.24 26.722 538.654 26.4169C538.63 26.3934 538.525 26.3817 538.337 26.3817H532.739V40.3949ZM564.443 38.9161C564.443 39.7376 564.256 40.4066 563.88 40.923C563.645 41.2751 563.246 41.7445 562.683 42.3314C562.12 42.8947 561.662 43.2703 561.31 43.4581C560.559 43.8806 559.831 44.0918 559.127 44.0918H553C551.475 44.0918 549.984 43.1177 548.529 41.1695C548.388 40.9817 548.177 40.6179 547.895 40.078L551.381 38.9161C551.85 39.5733 552.367 40.1132 552.93 40.5357C552.977 40.5592 553.059 40.5709 553.177 40.5709H558.951L559.162 40.5357C559.42 40.3949 559.749 40.1249 560.148 39.7259C560.547 39.3269 560.746 39.0569 560.746 38.9161V36.8388C560.746 36.4867 560.606 36.2871 560.324 36.2402L551.17 33.6347C550.301 33.4 549.62 32.9188 549.127 32.1912C548.658 31.4635 548.423 30.6654 548.423 29.7969V27.8957C548.423 27.0741 548.599 26.4051 548.951 25.8887C549.186 25.5601 549.585 25.1141 550.149 24.5508C550.735 23.964 551.205 23.5649 551.557 23.3537C552.308 22.9312 553.036 22.7199 553.74 22.7199H558.951C560.453 22.7199 561.944 23.694 563.422 25.6423C563.657 25.9709 563.892 26.3817 564.127 26.8746L560.57 27.8957C560.031 27.1211 559.514 26.5812 559.021 26.276C558.998 26.2526 558.927 26.2408 558.81 26.2408H553.845L553.634 26.276C553.353 26.4169 553.024 26.6751 552.648 27.0506C552.296 27.4262 552.12 27.6844 552.12 27.8252V29.5857C552.12 29.9378 552.249 30.1373 552.508 30.1842L561.697 32.8601C562.542 33.0949 563.211 33.5878 563.704 34.3389C564.197 35.0666 564.443 35.8529 564.443 36.6979V38.9161ZM587.07 40.5357C587.234 40.5357 587.469 40.3949 587.774 40.1132C588.08 39.8315 588.314 39.5499 588.479 39.2682C588.502 39.2212 588.514 39.1391 588.514 39.0217V33.846H593.091V37.4373H592.105V39.3034C592.105 40.1249 591.894 40.8291 591.471 41.4159C591.307 41.6507 591.014 41.9793 590.591 42.4018C590.169 42.8243 589.84 43.1177 589.605 43.282C588.901 43.7984 588.056 44.0566 587.07 44.0566H585.098V44.0918H582.282C581.366 44.0918 580.545 43.8336 579.817 43.3172C579.582 43.1529 579.242 42.8478 578.796 42.4018C578.374 41.9558 578.08 41.6154 577.916 41.3807C577.493 40.747 577.282 40.031 577.282 39.233V36.4867C577.282 35.4304 577.752 34.4328 578.69 33.4939C577.752 32.555 577.282 31.5457 577.282 30.4659V27.614C577.282 26.8159 577.493 26.1 577.916 25.4662C578.08 25.2315 578.374 24.8912 578.796 24.4452C579.242 23.9992 579.582 23.694 579.817 23.5297C580.545 23.0133 581.366 22.7551 582.282 22.7551H585.732C587.258 22.7551 588.76 23.7175 590.239 25.6423C590.685 26.2526 590.978 26.7572 591.119 27.1563L587.528 28.1069C586.894 27.168 586.319 26.5695 585.803 26.3113C585.756 26.2878 585.697 26.276 585.627 26.276H582.317C582.176 26.276 581.965 26.4051 581.683 26.6633C581.402 26.9215 581.179 27.1915 581.014 27.4732C580.991 27.5201 580.979 27.5788 580.979 27.6492V30.3955C580.979 30.4659 580.991 30.5246 581.014 30.5715C581.155 30.8297 581.355 31.0879 581.613 31.3461C581.894 31.6043 582.117 31.7334 582.282 31.7334H586.789V35.2191H582.282C582.117 35.2191 581.894 35.3482 581.613 35.6064C581.355 35.8646 581.155 36.1228 581.014 36.381L580.979 36.5571V39.1978L581.014 39.3738C581.179 39.6555 581.39 39.9254 581.648 40.1836C581.93 40.4183 582.153 40.5357 582.317 40.5357H587.07Z" fill="#FF0000"/>
                <g filter="url(#filter0_d_0_1)">
                <path d="M261.648 88.6024C261.648 89.9861 261.332 91.1128 260.699 91.9825C260.304 92.5755 259.632 93.3662 258.683 94.3545C257.734 95.3033 256.963 95.9358 256.37 96.2521C255.105 96.9636 253.88 97.3194 252.694 97.3194H242.376C239.806 97.3194 237.296 95.6788 234.845 92.3976C234.607 92.0813 234.252 91.4686 233.777 90.5593L239.648 88.6024C240.438 89.7094 241.308 90.6186 242.257 91.3302C242.336 91.3697 242.474 91.3895 242.672 91.3895H252.397L252.753 91.3302C253.188 91.093 253.741 90.6384 254.413 89.9663C255.085 89.2943 255.421 88.8396 255.421 88.6024V85.1038C255.421 84.5108 255.184 84.1747 254.71 84.0957L239.292 79.7075C237.829 79.3122 236.683 78.5018 235.853 77.2762C235.062 76.0507 234.667 74.7066 234.667 73.2439V70.0417C234.667 68.6581 234.963 67.5314 235.556 66.6616C235.951 66.1082 236.624 65.357 237.572 64.4083C238.561 63.4199 239.351 62.7479 239.944 62.3921C241.209 61.6805 242.435 61.3247 243.621 61.3247H252.397C254.927 61.3247 257.438 62.9653 259.928 66.2465C260.324 66.8 260.719 67.4918 261.114 68.322L255.125 70.0417C254.216 68.7371 253.346 67.8279 252.516 67.3139C252.476 67.2744 252.358 67.2546 252.16 67.2546H243.799L243.443 67.3139C242.969 67.5511 242.415 67.986 241.783 68.6185C241.19 69.251 240.893 69.6859 240.893 69.9231V72.8881C240.893 73.4811 241.111 73.8171 241.545 73.8962L257.023 78.4029C258.446 78.7983 259.572 79.6284 260.403 80.8935C261.233 82.119 261.648 83.4434 261.648 84.8666V88.6024ZM291.611 97.0229H269.315V61.5619H291.611V67.4918H275.541V76.446H290.485V82.376H275.541V91.093H291.611V97.0229ZM321.832 97.0229H299.891V61.5619H306.117V91.093H321.832V97.0229ZM350.679 97.0229H328.382V61.5619H350.679V67.4918H334.609V76.446H349.552V82.376H334.609V91.093H350.679V97.0229ZM384.102 90.1442C383.706 91.0535 383.291 91.8046 382.856 92.3976C380.405 95.6788 377.895 97.3194 375.325 97.3194H367.913C366.608 97.3194 365.383 96.9636 364.236 96.2521C363.643 95.8963 362.873 95.244 361.924 94.2952C360.975 93.3464 360.303 92.5953 359.908 92.0418C359.275 91.093 358.959 89.9663 358.959 88.6617V69.9824C358.959 68.7174 359.275 67.6104 359.908 66.6616C360.303 66.0686 360.975 65.2978 361.924 64.349C362.912 63.3606 363.683 62.7083 364.236 62.3921C365.501 61.6805 366.727 61.3247 367.913 61.3247H375.325C377.856 61.3247 380.366 62.9653 382.856 66.2465C383.094 66.5628 383.509 67.2546 384.102 68.322L378.053 70.0417C376.867 68.579 375.978 67.6697 375.385 67.3139C375.345 67.2744 375.266 67.2546 375.147 67.2546H368.15L367.913 67.3139C366.885 67.8674 365.996 68.7371 365.244 69.9231C365.205 70.0022 365.185 70.2196 365.185 70.5754V88.6024C365.185 88.9187 365.501 89.3931 366.134 90.0256C366.806 90.6186 367.399 91.0535 367.913 91.3302C367.953 91.3697 368.091 91.3895 368.328 91.3895H375.088C375.207 91.3895 375.306 91.3697 375.385 91.3302C375.74 91.1721 376.136 90.8558 376.571 90.3814C377.045 89.907 377.421 89.4722 377.697 89.0768L378.053 88.5431L384.102 90.1442ZM415.277 67.4918H405.671V97.0229H399.445V67.4918H389.838V61.5619H415.277V67.4918ZM459.115 67.4918H449.509V97.0229H443.282V67.4918H433.676V61.5619H459.115V67.4918ZM487.751 97.0229H465.455V61.5619H487.751V67.4918H471.681V76.446H486.624V82.376H471.681V91.093H487.751V97.0229ZM523.961 97.0229H517.319L514.71 89.4919H501.249L498.64 97.0229H491.998L504.392 61.5619H511.627L523.961 97.0229ZM512.753 83.562L508.009 69.5673L503.206 83.562H512.753ZM559.234 97.0229H553.007V72.7695L545.951 88.3059H541.859L534.802 72.8288V97.0229H528.576V61.5619H535.692L543.994 79.0552L552.177 61.5619H559.234V97.0229Z" fill="white"/>
                </g>
                <defs>
                <filter id="filter0_d_0_1" x="225.877" y="54.4247" width="343.256" height="53.7946" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dx="1" dy="2"/>
                <feGaussianBlur stdDeviation="4.45"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.25 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_0_1"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_0_1" result="shape"/>
                </filter>
                </defs>
            </svg>            
        </div>
        <div class="bottom">
            <div class="left">
                <img class="man-image" src="/man-image.png" alt="">
            </div>
            <div class="right">
                <div class="right-top">
                    <div class="cards">
                        <div class="one">
                            <svg class="svg-participant" width="371" height="140" viewBox="0 0 371 140" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.29102 1H370V139H105.714L8.29102 1Z" stroke="white"/>
                                <path d="M0 52.1309V5.11938L92.2409 139H59.7469L0 52.1309Z" fill="white"/>
                            </svg> 
                            <p class="participant" id='participant1'>Participant 1</p>
                        </div>
                        <div class="one">
                            <svg class="svg-participant" width="371" height="140" viewBox="0 0 371 140" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.29102 1H370V139H105.714L8.29102 1Z" stroke="white"/>
                                <path d="M0 52.1309V5.11938L92.2409 139H59.7469L0 52.1309Z" fill="white"/>
                            </svg>            
                            <p class="participant" id='participant2'>Participant 2</p>
                        </div>
                        <div class="one">
                            <svg class="svg-participant" width="371" height="140" viewBox="0 0 371 140" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.29102 1H370V139H105.714L8.29102 1Z" stroke="white"/>
                                <path d="M0 52.1309V5.11938L92.2409 139H59.7469L0 52.1309Z" fill="white"/>
                            </svg>            
                            <p class="participant" id='participant3'>Participant 3</p>
                        </div>
                        <div class="one">
                            <svg class="svg-participant" width="371" height="140" viewBox="0 0 371 140" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.29102 1H370V139H105.714L8.29102 1Z" stroke="white"/>
                                <path d="M0 52.1309V5.11938L92.2409 139H59.7469L0 52.1309Z" fill="white"/>
                            </svg>            
                            <p class="participant" id='participant4'>Participant 4</p>
                        </div>
                    </div>
                    <p class="small-text">Note:<br>A confirmation mail will be sent on the following Email ID, to confirm your participation in the Hackathon<br><br>Participant 1 is necessary. Team PFP cannot be changed when confirmed.</p>
                </div>
                <div class="right-bottom">
                    <div>
                        <div class="one">
                            <svg class="input-svg" width="784" height="70" viewBox="0 0 784 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M781 1H1.00001V69H727.713L781 1Z" stroke="#FF0000"/>
                                <path d="M784 27.1756V4L733 70H750.966L784 27.1756Z" fill="#FF0000"/>
                            </svg>                  
                            <input type="text" placeholder="Enter team name" required class="participant-email" oninput="teamInputEvent()" id="teamInput">
                        </div>
                        <div class="one">
                            <svg class="input-svg" width="784" height="70" viewBox="0 0 784 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M781 1H1.00001V69H727.713L781 1Z" stroke="#FF0000"/>
                                <path d="M784 27.1756V4L733 70H750.966L784 27.1756Z" fill="#FF0000"/>
                            </svg>                  
                            <input type="email" placeholder="Enter participant's email" class="participant-pass" id="participantInput">
                        </div>
                        <p style="color: red; font-family: BlenderProBook; margin: 0px;">
                            <% if (error) { %>
                                <%= error %>
                            <% } %>
                        </p>
                        <div class="buttons">
                            <svg onclick="participantInputEvent()" class="add-button" width="164" height="47" viewBox="0 0 164 47" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.999756 1H107.434L62.4999 46H0.999756V1Z" stroke="white" stroke-width="0.805611"/>
                                <path d="M74.2394 46L119.173 1H139.009L94.075 46H74.2394Z" stroke="white" stroke-width="0.805611"/>
                                <path d="M105.195 46L150.129 1H162.273L117.34 46H105.195Z" stroke="white" stroke-width="0.805611"/>
                                <path d="M29.9634 30L28.9932 27.003H22.9993L22.0075 30H20.6922L25.026 17.0635H26.9665L31.3002 30H29.9634ZM23.3873 25.7956H28.6051L26.1256 18.2924H25.8453L23.3873 25.7956ZM43.6354 27.1324C43.6354 27.5492 43.5491 27.8942 43.3766 28.1673C43.2473 28.3542 43.0173 28.6201 42.6867 28.9651C42.3561 29.3101 42.0974 29.54 41.9105 29.655C41.5511 29.885 41.1846 30 40.8109 30H35.1188V17.0635H40.8109C41.2134 17.0635 41.5799 17.1713 41.9105 17.3869C42.0974 17.5019 42.3561 17.739 42.6867 18.0984C43.0173 18.4434 43.2473 18.7165 43.3766 18.9177C43.5491 19.1908 43.6354 19.5358 43.6354 19.9526V27.1324ZM42.3848 19.9958C42.3848 19.8664 42.3633 19.7586 42.3202 19.6723C42.1908 19.428 41.9824 19.1693 41.6949 18.8961C41.4074 18.6087 41.1702 18.4218 40.9834 18.3356C40.9115 18.2924 40.8181 18.2709 40.7031 18.2709H36.3693V28.7926H40.7031C40.8181 28.7926 40.9115 28.771 40.9834 28.7279C41.1702 28.6417 41.4074 28.4548 41.6949 28.1673C41.9824 27.8798 42.1908 27.6139 42.3202 27.3696C42.3633 27.2833 42.3848 27.1899 42.3848 27.0893V19.9958ZM57.0882 27.1324C57.0882 27.5492 57.0019 27.8942 56.8294 28.1673C56.7001 28.3542 56.4701 28.6201 56.1395 28.9651C55.8089 29.3101 55.5502 29.54 55.3633 29.655C55.004 29.885 54.6374 30 54.2637 30H48.5716V17.0635H54.2637C54.6662 17.0635 55.0327 17.1713 55.3633 17.3869C55.5502 17.5019 55.8089 17.739 56.1395 18.0984C56.4701 18.4434 56.7001 18.7165 56.8294 18.9177C57.0019 19.1908 57.0882 19.5358 57.0882 19.9526V27.1324ZM55.8376 19.9958C55.8376 19.8664 55.8161 19.7586 55.773 19.6723C55.6436 19.428 55.4352 19.1693 55.1477 18.8961C54.8602 18.6087 54.623 18.4218 54.4362 18.3356C54.3643 18.2924 54.2709 18.2709 54.1559 18.2709H49.8222V28.7926H54.1559C54.2709 28.7926 54.3643 28.771 54.4362 28.7279C54.623 28.6417 54.8602 28.4548 55.1477 28.1673C55.4352 27.8798 55.6436 27.6139 55.773 27.3696C55.8161 27.2833 55.8376 27.1899 55.8376 27.0893V19.9958Z" fill="white"/>
                            </svg>
                            <form action="/hackReg/create-team" enctype="multipart/form-data" method="POST">
                                <input type="hidden" name="participant1" id="participant1hidden">
                                <input type="hidden" name="participant2" id="participant2hidden">
                                <input type="hidden" name="participant3" id="participant3hidden">
                                <input type="hidden" name="participant4" id="participant4hidden">
                                <input type="hidden" name="teamName" id="teamNameHidden">
                                <button type="submit" onclick="submitMainForm(event)">
                                    <svg class="sub-button" width="205" height="47" viewBox="0 0 205 47" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M204 1H55.8397L100.774 46H204V1Z" stroke="white" stroke-width="0.805611"/>
                                        <path d="M89.0341 46L44.1002 1H24.2645L69.1984 46H89.0341Z" stroke="white" stroke-width="0.805611"/>
                                        <path d="M58.0782 46L13.1443 1H1L45.9339 46H58.0782Z" stroke="white" stroke-width="0.805611"/>
                                        <path d="M111.278 27.5636C111.177 27.7936 111.012 28.0739 110.782 28.4045C110.308 29.0513 109.862 29.5041 109.445 29.7628C109.086 29.9928 108.719 30.1078 108.346 30.1078H105.5C105.111 30.1078 104.738 29.9928 104.378 29.7628C104.192 29.6478 103.933 29.4179 103.602 29.0729C103.272 28.7279 103.042 28.462 102.912 28.2751C102.725 27.9877 102.632 27.6427 102.632 27.2402V19.8664C102.632 19.4639 102.725 19.1189 102.912 18.8315C103.042 18.6302 103.272 18.3571 103.602 18.0122C103.933 17.6672 104.192 17.4372 104.378 17.3222C104.738 17.0922 105.104 16.9772 105.478 16.9772H108.346C108.719 16.9772 109.086 17.0922 109.445 17.3222C109.862 17.5809 110.308 18.0337 110.782 18.6805C111.012 19.0111 111.177 19.2914 111.278 19.5214L110.027 19.888C109.898 19.5861 109.682 19.2699 109.381 18.9393C109.079 18.5943 108.813 18.3643 108.583 18.2493C108.511 18.2062 108.41 18.1846 108.281 18.1846H105.586C105.456 18.1846 105.363 18.2062 105.306 18.2493C105.119 18.3356 104.874 18.5224 104.572 18.8099C104.285 19.0974 104.077 19.3633 103.947 19.6077C103.904 19.6939 103.882 19.7945 103.882 19.9095V27.1971C103.882 27.2977 103.904 27.3911 103.947 27.4774C104.077 27.7217 104.285 27.9877 104.572 28.2751C104.874 28.5626 105.119 28.7495 105.306 28.8357C105.363 28.8788 105.456 28.9004 105.586 28.9004H108.281C108.425 28.9004 108.525 28.8788 108.583 28.8357C108.798 28.7207 109.05 28.4979 109.337 28.1673C109.639 27.8367 109.869 27.5205 110.027 27.2186L111.278 27.5636ZM124.742 27.2186C124.742 27.6355 124.648 27.9877 124.462 28.2751C124.332 28.462 124.102 28.7279 123.772 29.0729C123.441 29.4179 123.182 29.6478 122.995 29.7628C122.636 29.9928 122.262 30.1078 121.874 30.1078H118.468C118.094 30.1078 117.727 29.9928 117.368 29.7628C117.181 29.6478 116.915 29.4179 116.57 29.0729C116.24 28.7279 116.01 28.462 115.88 28.2751C115.708 28.002 115.622 27.6499 115.622 27.2186V19.888C115.622 19.4567 115.708 19.1046 115.88 18.8315C116.01 18.6446 116.24 18.3787 116.57 18.0337C116.915 17.6744 117.181 17.4372 117.368 17.3222C117.727 17.0922 118.094 16.9772 118.468 16.9772H121.874C122.262 16.9772 122.636 17.0922 122.995 17.3222C123.182 17.4372 123.441 17.6672 123.772 18.0122C124.102 18.3571 124.332 18.6302 124.462 18.8315C124.648 19.1189 124.742 19.4711 124.742 19.888V27.2186ZM123.491 27.1971V19.9311C123.491 19.8017 123.47 19.6939 123.427 19.6077C123.297 19.3633 123.082 19.0974 122.78 18.8099C122.492 18.5224 122.255 18.3356 122.068 18.2493C121.996 18.2062 121.903 18.1846 121.788 18.1846H118.575C118.446 18.1846 118.353 18.2062 118.295 18.2493C118.123 18.3356 117.885 18.5224 117.584 18.8099C117.296 19.0974 117.088 19.3633 116.958 19.6077C116.901 19.7226 116.872 19.8305 116.872 19.9311V27.1971C116.872 27.269 116.901 27.3624 116.958 27.4774C117.088 27.7217 117.296 27.9877 117.584 28.2751C117.885 28.5626 118.123 28.7495 118.295 28.8357C118.353 28.8788 118.446 28.9004 118.575 28.9004H121.788C121.903 28.9004 121.996 28.8788 122.068 28.8357C122.255 28.7495 122.492 28.5626 122.78 28.2751C123.082 27.9877 123.297 27.7217 123.427 27.4774C123.47 27.3911 123.491 27.2977 123.491 27.1971ZM138.161 30H136.544L130.916 18.9608V30H129.709V17.0635H131.369L136.954 28.2104V17.0635H138.161V30ZM150.684 18.2709H144.517V22.928H150.36V24.1354H144.517V30H143.267V17.0635H150.684V18.2709ZM156.622 30H155.372V17.0635H156.622V30ZM170.267 21.6344C170.267 22.0656 170.159 22.4393 169.943 22.7555C169.871 22.8705 169.706 23.0574 169.447 23.3161C169.189 23.5749 168.987 23.7617 168.844 23.8767C168.484 24.1498 168.082 24.2864 167.636 24.2864L170.849 30H169.426L166.235 24.2864H163.001V30H161.75V17.0635H167.571C168.06 17.0635 168.484 17.2 168.844 17.4731C168.987 17.5881 169.189 17.7822 169.447 18.0553C169.706 18.314 169.871 18.5009 169.943 18.6159C170.159 18.9321 170.267 19.3058 170.267 19.737V21.6344ZM169.016 21.5913V19.7801C169.016 19.5933 169.002 19.4711 168.973 19.4136C168.872 19.2268 168.714 19.0255 168.499 18.8099C168.283 18.5943 168.089 18.4362 167.916 18.3356C167.845 18.2924 167.722 18.2709 167.55 18.2709H163.001V23.079H167.55C167.694 23.079 167.816 23.0502 167.916 22.9927C168.103 22.8921 168.305 22.7412 168.52 22.5399C168.736 22.3243 168.887 22.1303 168.973 21.9578C169.002 21.9003 169.016 21.7781 169.016 21.5913ZM185.98 30H184.772V18.4002L181.085 26.5287H180.245L176.579 18.4002V30H175.372V17.0635H177.161L180.676 24.6313L184.212 17.0635H185.98V30Z" fill="white"/>
                                    </svg>                                                  
                                </button>
                            </div>
                        </div>
                        <div class="team-name">
                            <svg class="team-heading-display" width="219" height="187" viewBox="0 0 219 187" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M148.5 186L165 169.5H183.5L167 186H148.5Z" fill="white"/>
                                <path d="M175 186L191.5 169.5H210L193.5 186H175Z" fill="white"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.5 0.5H218.5V164.117H162.042L139.589 186.5H0.5V0.5ZM1.5 1.5V185.5H139.176L161.629 163.117H217.5V1.5H1.5ZM164.793 169H184.707L167.207 186.5H147.293L164.793 169ZM165.207 170L149.707 185.5H166.793L182.293 170H165.207ZM191.293 169H211.207L193.707 186.5H173.793L191.293 169ZM191.707 170L176.207 185.5H193.293L208.793 170H191.707Z" fill="white"/>
                            </svg>
                        <p class="smth" id="teamName">TEAM NAME</p>
                        <label for="teamPfp">Click here to upload pfp</label>
                        <input type="file"  name="teamPfp" id="teamPfp" style="display: none;">
                    </form>
                    </div>
                </div>
            </div>
        </div>
    <% } else if (canEdit) { %>
        <div class="top">
            <svg class="lines" width="189" height="33" viewBox="0 0 189 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M189 32.9158V27.7997L161.829 4.19617e-05H141.293L173.465 32.9158H189ZM189 4.19617e-05H177.626L189 11.6372V4.19617e-05ZM157.668 32.9158H137.133L104.961 4.19617e-05H125.496L157.668 32.9158ZM100.801 32.9158H121.336L89.1639 4.19617e-05H68.6288L100.801 32.9158ZM52.8315 4.19617e-05L85.0034 32.9158H64.4683L32.2964 4.19617e-05H52.8315ZM28.136 32.9158H48.6711L16.4992 4.19617e-05L0 4.19617e-05V4.12928L28.136 32.9158ZM0 20.2918L12.3387 32.9158H0V20.2918Z" fill="white"/>
            </svg>
            <svg class="top-text" width="799" height="120" viewBox="0 0 799 120" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.5 44.4158V118.916H798V0.915771H40.5L0.5 44.4158Z" fill="#08040F" stroke="#FF0000"/>
                <path d="M249.249 39.8315C249.014 40.3714 248.768 40.8174 248.51 41.1695C247.055 43.1177 245.564 44.0918 244.038 44.0918H239.637C238.863 44.0918 238.135 43.8806 237.454 43.4581C237.102 43.2468 236.644 42.8595 236.081 42.2962C235.518 41.7328 235.119 41.2868 234.884 40.9582C234.508 40.3949 234.321 39.7259 234.321 38.9513V27.8604C234.321 27.1093 234.508 26.4521 234.884 25.8887C235.119 25.5367 235.518 25.0789 236.081 24.5156C236.668 23.9288 237.126 23.5415 237.454 23.3537C238.205 22.9312 238.933 22.7199 239.637 22.7199H244.038C245.541 22.7199 247.031 23.694 248.51 25.6423C248.651 25.8301 248.897 26.2408 249.249 26.8746L245.658 27.8957C244.954 27.0272 244.426 26.4873 244.073 26.276C244.05 26.2526 244.003 26.2408 243.933 26.2408H239.778L239.637 26.276C239.027 26.6047 238.499 27.1211 238.053 27.8252C238.029 27.8722 238.018 28.0013 238.018 28.2125V38.9161C238.018 39.1039 238.205 39.3855 238.581 39.7611C238.98 40.1132 239.332 40.3714 239.637 40.5357C239.661 40.5592 239.743 40.5709 239.884 40.5709H243.897C243.968 40.5709 244.027 40.5592 244.073 40.5357C244.285 40.4418 244.519 40.254 244.778 39.9724C245.059 39.6907 245.282 39.4325 245.447 39.1978L245.658 38.8809L249.249 39.8315ZM268.851 43.9158H265.154V35.2191H257.479V43.9158H253.782V22.8608H257.479V31.6982H265.154V22.8608H268.851V43.9158ZM290.514 43.9158H286.571L285.022 39.4442H277.029L275.48 43.9158H271.537L278.895 22.8608H283.191L290.514 43.9158ZM283.86 35.9233L281.043 27.614L278.191 35.9233H283.86ZM308.148 43.9158H304.24L296.951 29.9378V43.9158H293.254V22.8608H297.233L304.451 37.0148V22.8608H308.148V43.9158ZM316.928 27.8957V38.9161C316.928 39.1039 317.116 39.3855 317.492 39.7611C317.891 40.1132 318.243 40.3714 318.548 40.5357H318.583C318.63 40.5592 318.677 40.5709 318.724 40.5709H323.513L323.689 40.5357C323.97 40.3714 324.311 40.0897 324.71 39.6907C325.109 39.2917 325.308 38.9982 325.308 38.8105V35.3952H320.766V31.8743H329.005V38.9865C329.169 40.5357 329.392 42.1788 329.674 43.9158H326.048L325.872 43.0708C324.909 43.7515 324.181 44.0918 323.689 44.0918H318.548C317.773 44.0918 317.046 43.8806 316.365 43.4581C316.013 43.2468 315.555 42.8712 314.992 42.3314C314.429 41.768 314.03 41.322 313.795 40.9934C313.419 40.4301 313.231 39.7494 313.231 38.9513V27.8252C313.231 27.0506 313.419 26.3817 313.795 25.8183C314.03 25.4662 314.429 25.0085 314.992 24.4452C315.579 23.8584 316.036 23.4711 316.365 23.2833C316.999 22.8842 317.727 22.6847 318.548 22.6847H323.689C325.308 22.6847 326.799 23.6588 328.16 25.6071C328.512 26.1 328.759 26.5108 328.9 26.8394L325.343 27.8604C324.827 27.1563 324.275 26.6164 323.689 26.2408C323.665 26.2174 323.606 26.2056 323.513 26.2056H318.724L318.548 26.2408C317.914 26.5929 317.386 27.0976 316.964 27.7548L316.928 27.8957ZM347.513 43.9158H334.274V22.8608H347.513V26.3817H337.971V31.6982H346.844V35.2191H337.971V40.3949H347.513V43.9158ZM374.694 26.3817H368.99V43.9158H365.293V26.3817H359.589V22.8608H374.694V26.3817ZM391.696 43.9158H378.458V22.8608H391.696V26.3817H382.155V31.6982H391.027V35.2191H382.155V40.3949H391.696V43.9158ZM413.196 43.9158H409.252L407.703 39.4442H399.711L398.161 43.9158H394.218L401.577 22.8608H405.872L413.196 43.9158ZM406.541 35.9233L403.724 27.614L400.873 35.9233H406.541ZM434.139 43.9158H430.442V29.5153L426.252 38.74H423.823L419.633 29.5505V43.9158H415.936V22.8608H420.161L425.09 33.2474L429.949 22.8608H434.139V43.9158ZM462.394 38.8105C462.394 39.632 462.218 40.301 461.866 40.8174C461.631 41.146 461.232 41.592 460.668 42.1553C460.105 42.6952 459.636 43.0708 459.26 43.282C458.509 43.7045 457.805 43.9158 457.148 43.9158H447.5V22.8608H457.148C457.969 22.8608 458.685 23.0603 459.295 23.4593C459.647 23.6706 460.093 24.0579 460.633 24.6212C461.173 25.1846 461.572 25.654 461.83 26.0296C462.206 26.546 462.394 27.215 462.394 28.0365V38.8105ZM451.197 40.3949H456.901C457.042 40.3949 457.124 40.3831 457.148 40.3597C457.429 40.1953 457.758 39.9372 458.133 39.5851C458.509 39.2095 458.697 38.9278 458.697 38.74V28.1421C458.697 28.0717 458.685 28.013 458.662 27.9661C458.216 27.2384 457.699 26.722 457.112 26.4169C457.089 26.3934 456.983 26.3817 456.795 26.3817H451.197V40.3949ZM480.578 43.9158H467.34V22.8608H480.578V26.3817H471.037V31.6982H479.909V35.2191H471.037V40.3949H480.578V43.9158ZM499.472 26.3817H493.769V43.9158H490.072V26.3817H484.368V22.8608H499.472V26.3817ZM518.238 43.9158H514.295L512.746 39.4442H504.753L503.204 43.9158H499.261L506.619 22.8608H510.915L518.238 43.9158ZM511.584 35.9233L508.767 27.614L505.915 35.9233H511.584ZM524.675 43.9158H520.979V22.8608H524.675V43.9158ZM542.774 43.9158H529.746V22.8608H533.443V40.3949H542.774V43.9158ZM562.226 38.9161C562.226 39.7376 562.038 40.4066 561.662 40.923C561.428 41.2751 561.029 41.7445 560.465 42.3314C559.902 42.8947 559.444 43.2703 559.092 43.4581C558.341 43.8806 557.613 44.0918 556.909 44.0918H550.783C549.257 44.0918 547.766 43.1177 546.311 41.1695C546.17 40.9817 545.959 40.6179 545.677 40.078L549.163 38.9161C549.633 39.5733 550.149 40.1132 550.712 40.5357C550.759 40.5592 550.841 40.5709 550.959 40.5709H556.733L556.944 40.5357C557.203 40.3949 557.531 40.1249 557.93 39.7259C558.329 39.3269 558.529 39.0569 558.529 38.9161V36.8388C558.529 36.4867 558.388 36.2871 558.106 36.2402L548.952 33.6347C548.083 33.4 547.403 32.9188 546.91 32.1912C546.44 31.4635 546.206 30.6654 546.206 29.7969V27.8957C546.206 27.0741 546.382 26.4051 546.734 25.8887C546.968 25.5601 547.367 25.1141 547.931 24.5508C548.518 23.964 548.987 23.5649 549.339 23.3537C550.09 22.9312 550.818 22.7199 551.522 22.7199H556.733C558.235 22.7199 559.726 23.694 561.205 25.6423C561.439 25.9709 561.674 26.3817 561.909 26.8746L558.353 27.8957C557.813 27.1211 557.296 26.5812 556.803 26.276C556.78 26.2526 556.71 26.2408 556.592 26.2408H551.628L551.416 26.276C551.135 26.4169 550.806 26.6751 550.431 27.0506C550.079 27.4262 549.903 27.6844 549.903 27.8252V29.5857C549.903 29.9378 550.032 30.1373 550.29 30.1842L559.479 32.8601C560.324 33.0949 560.993 33.5878 561.486 34.3389C561.979 35.0666 562.226 35.8529 562.226 36.6979V38.9161Z" fill="#FF0000"/>
                <g filter="url(#filter0_d_0_1)">
                <path d="M296.505 97.0229H274.208V61.5619H296.505V67.4918H280.434V76.446H295.378V82.376H280.434V91.093H296.505V97.0229ZM329.868 88.4245C329.868 89.8082 329.571 90.9349 328.978 91.8046C328.583 92.3581 327.911 93.1092 326.962 94.058C326.014 94.9672 325.223 95.5998 324.59 95.9556C323.325 96.6672 322.139 97.0229 321.032 97.0229H304.784V61.5619H321.032C322.416 61.5619 323.622 61.8979 324.65 62.57C325.243 62.9258 325.994 63.5781 326.903 64.5269C327.812 65.4756 328.484 66.2663 328.919 66.8988C329.552 67.7686 329.868 68.8952 329.868 70.2789V88.4245ZM311.011 91.093H320.617C320.854 91.093 320.993 91.0732 321.032 91.0337C321.507 90.757 322.06 90.3221 322.693 89.7291C323.325 89.0966 323.642 88.6222 323.642 88.3059V70.4568C323.642 70.3382 323.622 70.2394 323.582 70.1603C322.831 68.9348 321.961 68.0651 320.973 67.5511C320.934 67.5116 320.756 67.4918 320.439 67.4918H311.011V91.093ZM344.425 97.0229H338.198V61.5619H344.425V97.0229ZM376.507 67.4918H366.901V97.0229H360.674V67.4918H351.068V61.5619H376.507V67.4918ZM420.345 67.4918H410.738V97.0229H404.512V67.4918H394.905V61.5619H420.345V67.4918ZM448.981 97.0229H426.684V61.5619H448.981V67.4918H432.91V76.446H447.854V82.376H432.91V91.093H448.981V97.0229ZM485.19 97.0229H478.549L475.94 89.4919H462.479L459.869 97.0229H453.228L465.622 61.5619H472.856L485.19 97.0229ZM473.983 83.562L469.239 69.5673L464.436 83.562H473.983ZM520.463 97.0229H514.237V72.7695L507.18 88.3059H503.089L496.032 72.8288V97.0229H489.806V61.5619H496.921L505.223 79.0552L513.407 61.5619H520.463V97.0229Z" fill="white"/>
                </g>
                <defs>
                <filter id="filter0_d_0_1" x="266.308" y="54.6618" width="264.055" height="53.2612" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dx="1" dy="2"/>
                <feGaussianBlur stdDeviation="4.45"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.25 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_0_1"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_0_1" result="shape"/>
                </filter>
                </defs>
            </svg>
        </div>
        <div class="bottom">
            <div class="left">
                <img class="man-image" src="/man-image.png" alt="behen ka loda">
            </div>
            <div class="right">
                <div class="right-top">
                    <div class="cards">
                        <div class="one">
                            <svg class="svg-participant" width="371" height="140" viewBox="0 0 371 140" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.29102 1H370V139H105.714L8.29102 1Z" stroke="white"/>
                                <path d="M0 52.1309V5.11938L92.2409 139H59.7469L0 52.1309Z" fill="white"/>
                            </svg> 
                            <p class="participant" id='participant1'><%= reqTeam.participant1 %></p>
                        </div>
                        <div class="one">
                            <svg class="svg-participant" width="371" height="140" viewBox="0 0 371 140" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.29102 1H370V139H105.714L8.29102 1Z" stroke="white"/>
                                <path d="M0 52.1309V5.11938L92.2409 139H59.7469L0 52.1309Z" fill="white"/>
                            </svg>
                            <% if(reqTeam.participant2) { %>
                            <p class="participant" id='participant2'><%= reqTeam.participant2 %></p>
                            <% } else { %>
                                <p class="participant" id="participant2">Participant 2</p>
                            <% } %>
                        </div>
                        <div class="one">
                            <svg class="svg-participant" width="371" height="140" viewBox="0 0 371 140" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.29102 1H370V139H105.714L8.29102 1Z" stroke="white"/>
                                <path d="M0 52.1309V5.11938L92.2409 139H59.7469L0 52.1309Z" fill="white"/>
                            </svg>
                            <% if(reqTeam.participant3) { %>
                            <p class="participant" id='participant3'><%= reqTeam.participant3 %></p>
                            <% } else { %>
                                <p class="participant" id="participant3">Participant 3</p>
                            <% } %>
                        </div>
                        <div class="one">
                            <svg class="svg-participant" width="371" height="140" viewBox="0 0 371 140" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.29102 1H370V139H105.714L8.29102 1Z" stroke="white"/>
                                <path d="M0 52.1309V5.11938L92.2409 139H59.7469L0 52.1309Z" fill="white"/>
                            </svg>
                            <% if(reqTeam.participant4) { %>
                            <p class="participant" id='participant4'><%= reqTeam.participant4 %></p>
                            <% } else { %>
                                <p class="participant" id="participant4">Participant 4</p>
                            <% } %>
                        </div>
                    </div>
                    <p class="small-text">Note:<br>A confirmation mail will be sent on the following Email ID, to confirm your participation in the Hackathon<br></p>
                </div>
                <div class="right-bottom">
                    <div>
                        <div class="one">
                            <svg class="input-svg" width="784" height="70" viewBox="0 0 784 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M781 1H1.00001V69H727.713L781 1Z" stroke="#FF0000"/>
                                <path d="M784 27.1756V4L733 70H750.966L784 27.1756Z" fill="#FF0000"/>
                            </svg>                  
                            <input type="text" value="<%= reqTeam.teamName %>" placeholder="Enter team name" required class="participant-email" oninput="teamInputEvent()" id="teamInput">
                        </div>
                        <div class="one">
                            <svg class="input-svg" width="784" height="70" viewBox="0 0 784 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M781 1H1.00001V69H727.713L781 1Z" stroke="#FF0000"/>
                                <path d="M784 27.1756V4L733 70H750.966L784 27.1756Z" fill="#FF0000"/>
                            </svg>                  
                            <input type="email" placeholder="Enter participant's email" class="participant-pass" id="participantInput">
                        </div>
                        <p style="color: red; font-family: BlenderProBook; margin: 0px;">
                            <% if (error) { %>
                                <%= error %>
                            <% } %>
                        </p>
                        <div class="buttons">
                            <svg onclick="participantInputEvent()" class="add-button" width="164" height="47" viewBox="0 0 164 47" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.999756 1H107.434L62.4999 46H0.999756V1Z" stroke="white" stroke-width="0.805611"/>
                                <path d="M74.2394 46L119.173 1H139.009L94.075 46H74.2394Z" stroke="white" stroke-width="0.805611"/>
                                <path d="M105.195 46L150.129 1H162.273L117.34 46H105.195Z" stroke="white" stroke-width="0.805611"/>
                                <path d="M29.9634 30L28.9932 27.003H22.9993L22.0075 30H20.6922L25.026 17.0635H26.9665L31.3002 30H29.9634ZM23.3873 25.7956H28.6051L26.1256 18.2924H25.8453L23.3873 25.7956ZM43.6354 27.1324C43.6354 27.5492 43.5491 27.8942 43.3766 28.1673C43.2473 28.3542 43.0173 28.6201 42.6867 28.9651C42.3561 29.3101 42.0974 29.54 41.9105 29.655C41.5511 29.885 41.1846 30 40.8109 30H35.1188V17.0635H40.8109C41.2134 17.0635 41.5799 17.1713 41.9105 17.3869C42.0974 17.5019 42.3561 17.739 42.6867 18.0984C43.0173 18.4434 43.2473 18.7165 43.3766 18.9177C43.5491 19.1908 43.6354 19.5358 43.6354 19.9526V27.1324ZM42.3848 19.9958C42.3848 19.8664 42.3633 19.7586 42.3202 19.6723C42.1908 19.428 41.9824 19.1693 41.6949 18.8961C41.4074 18.6087 41.1702 18.4218 40.9834 18.3356C40.9115 18.2924 40.8181 18.2709 40.7031 18.2709H36.3693V28.7926H40.7031C40.8181 28.7926 40.9115 28.771 40.9834 28.7279C41.1702 28.6417 41.4074 28.4548 41.6949 28.1673C41.9824 27.8798 42.1908 27.6139 42.3202 27.3696C42.3633 27.2833 42.3848 27.1899 42.3848 27.0893V19.9958ZM57.0882 27.1324C57.0882 27.5492 57.0019 27.8942 56.8294 28.1673C56.7001 28.3542 56.4701 28.6201 56.1395 28.9651C55.8089 29.3101 55.5502 29.54 55.3633 29.655C55.004 29.885 54.6374 30 54.2637 30H48.5716V17.0635H54.2637C54.6662 17.0635 55.0327 17.1713 55.3633 17.3869C55.5502 17.5019 55.8089 17.739 56.1395 18.0984C56.4701 18.4434 56.7001 18.7165 56.8294 18.9177C57.0019 19.1908 57.0882 19.5358 57.0882 19.9526V27.1324ZM55.8376 19.9958C55.8376 19.8664 55.8161 19.7586 55.773 19.6723C55.6436 19.428 55.4352 19.1693 55.1477 18.8961C54.8602 18.6087 54.623 18.4218 54.4362 18.3356C54.3643 18.2924 54.2709 18.2709 54.1559 18.2709H49.8222V28.7926H54.1559C54.2709 28.7926 54.3643 28.771 54.4362 28.7279C54.623 28.6417 54.8602 28.4548 55.1477 28.1673C55.4352 27.8798 55.6436 27.6139 55.773 27.3696C55.8161 27.2833 55.8376 27.1899 55.8376 27.0893V19.9958Z" fill="white"/>
                            </svg>
                            <form action="/hackReg/editTeam/<%= reqTeam.id %>" method="POST">
                                <input type="hidden" value="<%= reqTeam.participant1 %>" name="participant1" id="participant1hidden">
                                <input type="hidden" value="<%= reqTeam.participant2 %>" name="participant2" id="participant2hidden">
                                <input type="hidden" value="<%= reqTeam.participant3 %>" name="participant3" id="participant3hidden">
                                <input type="hidden" value="<%= reqTeam.participant4 %>" name="participant4" id="participant4hidden">
                                <input type="hidden" value="<%= reqTeam.teamName %>" name="teamName" id="teamNameHidden">
                                <button type="submit" onclick="submitMainForm(event)">
                                    <svg class="sub-button" width="205" height="47" viewBox="0 0 205 47" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M204 1H55.8397L100.774 46H204V1Z" stroke="white" stroke-width="0.805611"/>
                                        <path d="M89.0341 46L44.1002 1H24.2645L69.1984 46H89.0341Z" stroke="white" stroke-width="0.805611"/>
                                        <path d="M58.0782 46L13.1443 1H1L45.9339 46H58.0782Z" stroke="white" stroke-width="0.805611"/>
                                        <path d="M111.278 27.5636C111.177 27.7936 111.012 28.0739 110.782 28.4045C110.308 29.0513 109.862 29.5041 109.445 29.7628C109.086 29.9928 108.719 30.1078 108.346 30.1078H105.5C105.111 30.1078 104.738 29.9928 104.378 29.7628C104.192 29.6478 103.933 29.4179 103.602 29.0729C103.272 28.7279 103.042 28.462 102.912 28.2751C102.725 27.9877 102.632 27.6427 102.632 27.2402V19.8664C102.632 19.4639 102.725 19.1189 102.912 18.8315C103.042 18.6302 103.272 18.3571 103.602 18.0122C103.933 17.6672 104.192 17.4372 104.378 17.3222C104.738 17.0922 105.104 16.9772 105.478 16.9772H108.346C108.719 16.9772 109.086 17.0922 109.445 17.3222C109.862 17.5809 110.308 18.0337 110.782 18.6805C111.012 19.0111 111.177 19.2914 111.278 19.5214L110.027 19.888C109.898 19.5861 109.682 19.2699 109.381 18.9393C109.079 18.5943 108.813 18.3643 108.583 18.2493C108.511 18.2062 108.41 18.1846 108.281 18.1846H105.586C105.456 18.1846 105.363 18.2062 105.306 18.2493C105.119 18.3356 104.874 18.5224 104.572 18.8099C104.285 19.0974 104.077 19.3633 103.947 19.6077C103.904 19.6939 103.882 19.7945 103.882 19.9095V27.1971C103.882 27.2977 103.904 27.3911 103.947 27.4774C104.077 27.7217 104.285 27.9877 104.572 28.2751C104.874 28.5626 105.119 28.7495 105.306 28.8357C105.363 28.8788 105.456 28.9004 105.586 28.9004H108.281C108.425 28.9004 108.525 28.8788 108.583 28.8357C108.798 28.7207 109.05 28.4979 109.337 28.1673C109.639 27.8367 109.869 27.5205 110.027 27.2186L111.278 27.5636ZM124.742 27.2186C124.742 27.6355 124.648 27.9877 124.462 28.2751C124.332 28.462 124.102 28.7279 123.772 29.0729C123.441 29.4179 123.182 29.6478 122.995 29.7628C122.636 29.9928 122.262 30.1078 121.874 30.1078H118.468C118.094 30.1078 117.727 29.9928 117.368 29.7628C117.181 29.6478 116.915 29.4179 116.57 29.0729C116.24 28.7279 116.01 28.462 115.88 28.2751C115.708 28.002 115.622 27.6499 115.622 27.2186V19.888C115.622 19.4567 115.708 19.1046 115.88 18.8315C116.01 18.6446 116.24 18.3787 116.57 18.0337C116.915 17.6744 117.181 17.4372 117.368 17.3222C117.727 17.0922 118.094 16.9772 118.468 16.9772H121.874C122.262 16.9772 122.636 17.0922 122.995 17.3222C123.182 17.4372 123.441 17.6672 123.772 18.0122C124.102 18.3571 124.332 18.6302 124.462 18.8315C124.648 19.1189 124.742 19.4711 124.742 19.888V27.2186ZM123.491 27.1971V19.9311C123.491 19.8017 123.47 19.6939 123.427 19.6077C123.297 19.3633 123.082 19.0974 122.78 18.8099C122.492 18.5224 122.255 18.3356 122.068 18.2493C121.996 18.2062 121.903 18.1846 121.788 18.1846H118.575C118.446 18.1846 118.353 18.2062 118.295 18.2493C118.123 18.3356 117.885 18.5224 117.584 18.8099C117.296 19.0974 117.088 19.3633 116.958 19.6077C116.901 19.7226 116.872 19.8305 116.872 19.9311V27.1971C116.872 27.269 116.901 27.3624 116.958 27.4774C117.088 27.7217 117.296 27.9877 117.584 28.2751C117.885 28.5626 118.123 28.7495 118.295 28.8357C118.353 28.8788 118.446 28.9004 118.575 28.9004H121.788C121.903 28.9004 121.996 28.8788 122.068 28.8357C122.255 28.7495 122.492 28.5626 122.78 28.2751C123.082 27.9877 123.297 27.7217 123.427 27.4774C123.47 27.3911 123.491 27.2977 123.491 27.1971ZM138.161 30H136.544L130.916 18.9608V30H129.709V17.0635H131.369L136.954 28.2104V17.0635H138.161V30ZM150.684 18.2709H144.517V22.928H150.36V24.1354H144.517V30H143.267V17.0635H150.684V18.2709ZM156.622 30H155.372V17.0635H156.622V30ZM170.267 21.6344C170.267 22.0656 170.159 22.4393 169.943 22.7555C169.871 22.8705 169.706 23.0574 169.447 23.3161C169.189 23.5749 168.987 23.7617 168.844 23.8767C168.484 24.1498 168.082 24.2864 167.636 24.2864L170.849 30H169.426L166.235 24.2864H163.001V30H161.75V17.0635H167.571C168.06 17.0635 168.484 17.2 168.844 17.4731C168.987 17.5881 169.189 17.7822 169.447 18.0553C169.706 18.314 169.871 18.5009 169.943 18.6159C170.159 18.9321 170.267 19.3058 170.267 19.737V21.6344ZM169.016 21.5913V19.7801C169.016 19.5933 169.002 19.4711 168.973 19.4136C168.872 19.2268 168.714 19.0255 168.499 18.8099C168.283 18.5943 168.089 18.4362 167.916 18.3356C167.845 18.2924 167.722 18.2709 167.55 18.2709H163.001V23.079H167.55C167.694 23.079 167.816 23.0502 167.916 22.9927C168.103 22.8921 168.305 22.7412 168.52 22.5399C168.736 22.3243 168.887 22.1303 168.973 21.9578C169.002 21.9003 169.016 21.7781 169.016 21.5913ZM185.98 30H184.772V18.4002L181.085 26.5287H180.245L176.579 18.4002V30H175.372V17.0635H177.161L180.676 24.6313L184.212 17.0635H185.98V30Z" fill="white"/>
                                    </svg>                                                  
                                </button>
                            </div>
                        </div>
                        <div class="team-name">
                            <svg class="team-heading-display" width="219" height="187" viewBox="0 0 219 187" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M148.5 186L165 169.5H183.5L167 186H148.5Z" fill="white"/>
                                <path d="M175 186L191.5 169.5H210L193.5 186H175Z" fill="white"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.5 0.5H218.5V164.117H162.042L139.589 186.5H0.5V0.5ZM1.5 1.5V185.5H139.176L161.629 163.117H217.5V1.5H1.5ZM164.793 169H184.707L167.207 186.5H147.293L164.793 169ZM165.207 170L149.707 185.5H166.793L182.293 170H165.207ZM191.293 169H211.207L193.707 186.5H173.793L191.293 169ZM191.707 170L176.207 185.5H193.293L208.793 170H191.707Z" fill="white"/>
                            </svg>
                        <p class="smth" id="teamName"><%= reqTeam.teamName %></p>                    </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- <p>Edit your team:</p>
        <form action="/hackReg/editTeam/<%= reqTeam.id %>" method="post">
            <input type="text" required value="<%= reqTeam.teamName %>" placeholder="team name" name="teamName">
            <input type="email" required name="participant1" value="<%= reqTeam.participant1 %>" placeholder="enter email of participant 1">
            <input type="email" name="participant2" value="<%= reqTeam.participant2 %>" placeholder="leave blank if empty">
            <input type="email" name="participant3" value="<%= reqTeam.participant3 %>" placeholder="leave blank if empty">
            <input type="email" name="participant4" value="<%= reqTeam.participant4 %>" placeholder="leave blank if empty"> 
            <button type="submit">Submit</button>
        </form>
        <img src="/<%= reqTeam.teamPfp %>" alt=""> -->
    <% } else { %>
        <!-- <p>Your team:</p>
        <p>Team Admin: <%= reqTeam.teamAdmin %></p>
        <p>Team Name: <%= reqTeam.teamName %></p>
        <p>Participant 1: <%= reqTeam.participant1 %></p>
        <p>Participant 2: <%= reqTeam.participant2 %></p>
        <p>Participant 3: <%= reqTeam.participant3 %></p>
        <p>Participant 4: <%= reqTeam.participant4 %></p> -->
        <div class="top">
            <svg class="lines" width="189" height="33" viewBox="0 0 189 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M189 32.9158V27.7997L161.829 4.19617e-05H141.293L173.465 32.9158H189ZM189 4.19617e-05H177.626L189 11.6372V4.19617e-05ZM157.668 32.9158H137.133L104.961 4.19617e-05H125.496L157.668 32.9158ZM100.801 32.9158H121.336L89.1639 4.19617e-05H68.6288L100.801 32.9158ZM52.8315 4.19617e-05L85.0034 32.9158H64.4683L32.2964 4.19617e-05H52.8315ZM28.136 32.9158H48.6711L16.4992 4.19617e-05L0 4.19617e-05V4.12928L28.136 32.9158ZM0 20.2918L12.3387 32.9158H0V20.2918Z" fill="white"/>
            </svg>
            <svg class="top-text" width="799" height="120" viewBox="0 0 799 120" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.5 44.4158V118.916H798V0.915771H40.5L0.5 44.4158Z" fill="#08040F" stroke="#FF0000"/>
                <path d="M252.278 22.8608L245.307 43.9158H240.976L234.04 22.8608H237.984L243.159 39.1626L248.37 22.8608H252.278ZM258.596 43.9158H254.899V22.8608H258.596V43.9158ZM276.906 43.9158H263.667V22.8608H276.906V26.3817H267.364V31.6982H276.237V35.2191H267.364V40.3949H276.906V43.9158ZM304.989 22.8608L300.095 43.9158H295.905L292.525 29.7969L289.11 43.9158H284.885L280.061 22.8608H283.864L287.033 37.6486L290.518 22.8608H294.462L297.948 37.6486L301.081 22.8608H304.989ZM331.524 22.8608L324.553 34.7262V43.9158H320.856V34.7262L313.955 22.8608H318.039L322.722 30.8532L327.405 22.8608H331.524ZM350.415 38.9161C350.415 39.6907 350.227 40.3597 349.851 40.923C349.57 41.2986 349.147 41.768 348.584 42.3314C348.044 42.8947 347.61 43.2703 347.281 43.4581C346.601 43.8806 345.873 44.0918 345.098 44.0918H339.746C338.972 44.0918 338.244 43.8806 337.564 43.4581C337.235 43.2703 336.777 42.8947 336.19 42.3314C335.627 41.7445 335.228 41.2751 334.993 40.923C334.618 40.3597 334.43 39.6907 334.43 38.9161V27.8957C334.43 27.1211 334.618 26.4521 334.993 25.8887C335.228 25.5367 335.627 25.0789 336.19 24.5156C336.777 23.9288 337.235 23.5415 337.564 23.3537C338.244 22.9312 338.972 22.7199 339.746 22.7199H345.098C345.873 22.7199 346.601 22.9312 347.281 23.3537C347.61 23.5415 348.044 23.917 348.584 24.4804C349.147 25.0437 349.57 25.5132 349.851 25.8887C350.227 26.4521 350.415 27.1211 350.415 27.8957V38.9161ZM338.127 28.0013V38.8809C338.127 38.9513 338.139 38.9982 338.162 39.0217C338.632 39.7259 339.148 40.2306 339.711 40.5357C339.758 40.5592 339.817 40.5709 339.887 40.5709H344.957C345.028 40.5709 345.087 40.5592 345.133 40.5357C345.697 40.2306 346.213 39.7259 346.683 39.0217L346.718 38.8809V28.0013C346.718 27.9074 346.706 27.8487 346.683 27.8252C346.19 27.0976 345.673 26.5812 345.133 26.276C345.087 26.2526 345.028 26.2408 344.957 26.2408H339.887C339.793 26.2408 339.735 26.2526 339.711 26.276C339.171 26.5812 338.655 27.0976 338.162 27.8252L338.127 28.0013ZM366.184 38.8809V22.8608H369.881V38.9161C369.881 39.6907 369.693 40.3597 369.317 40.923C369.059 41.2751 368.648 41.7445 368.085 42.3314C367.545 42.8947 367.099 43.2703 366.747 43.4581C366.066 43.8806 365.351 44.0918 364.599 44.0918H360.128C359.353 44.0918 358.626 43.8806 357.945 43.4581C357.616 43.2703 357.159 42.8947 356.572 42.3314C356.008 41.7445 355.609 41.2751 355.375 40.923C354.999 40.3597 354.811 39.6907 354.811 38.9161V22.8608H358.508V38.8457C358.508 38.9396 358.52 38.9982 358.543 39.0217C359.036 39.7494 359.553 40.254 360.093 40.5357L360.269 40.5709H364.459C364.529 40.5709 364.588 40.5592 364.635 40.5357C365.174 40.254 365.679 39.7494 366.149 39.0217L366.184 38.8809ZM389.587 30.818C389.587 31.6161 389.376 32.332 388.953 32.9658C388.789 33.2005 388.495 33.5291 388.073 33.9516C387.65 34.3506 387.31 34.6441 387.052 34.8318C386.747 35.0666 386.441 35.2309 386.136 35.3248L390.326 43.9158H386.312L382.404 35.6064H378.355V43.9158H374.658V22.8608H384.552C385.491 22.8608 386.324 23.119 387.052 23.6354C387.286 23.7997 387.615 24.1048 388.038 24.5508C388.484 24.9968 388.789 25.3371 388.953 25.5719C389.376 26.2056 389.587 26.9215 389.587 27.7196V30.818ZM385.89 30.7828V27.7548C385.89 27.6375 385.878 27.5553 385.855 27.5084C385.456 26.8042 385.08 26.4286 384.728 26.3817H378.355V32.0855H384.552C384.716 32.0855 384.939 31.9564 385.221 31.6982C385.503 31.44 385.714 31.1818 385.855 30.9236C385.878 30.8767 385.89 30.8297 385.89 30.7828ZM418.263 39.8315C418.028 40.3714 417.782 40.8174 417.524 41.1695C416.068 43.1177 414.578 44.0918 413.052 44.0918H408.651C407.876 44.0918 407.149 43.8806 406.468 43.4581C406.116 43.2468 405.658 42.8595 405.095 42.2962C404.531 41.7328 404.132 41.2868 403.898 40.9582C403.522 40.3949 403.334 39.7259 403.334 38.9513V27.8604C403.334 27.1093 403.522 26.4521 403.898 25.8887C404.132 25.5367 404.531 25.0789 405.095 24.5156C405.682 23.9288 406.139 23.5415 406.468 23.3537C407.219 22.9312 407.947 22.7199 408.651 22.7199H413.052C414.554 22.7199 416.045 23.694 417.524 25.6423C417.664 25.8301 417.911 26.2408 418.263 26.8746L414.672 27.8957C413.967 27.0272 413.439 26.4873 413.087 26.276C413.064 26.2526 413.017 26.2408 412.946 26.2408H408.792L408.651 26.276C408.041 26.6047 407.512 27.1211 407.066 27.8252C407.043 27.8722 407.031 28.0013 407.031 28.2125V38.9161C407.031 39.1039 407.219 39.3855 407.595 39.7611C407.994 40.1132 408.346 40.3714 408.651 40.5357C408.674 40.5592 408.756 40.5709 408.897 40.5709H412.911C412.982 40.5709 413.04 40.5592 413.087 40.5357C413.298 40.4418 413.533 40.254 413.791 39.9724C414.073 39.6907 414.296 39.4325 414.46 39.1978L414.672 38.8809L418.263 39.8315ZM438.816 38.9161C438.816 39.6907 438.628 40.3597 438.252 40.923C437.971 41.2986 437.548 41.768 436.985 42.3314C436.445 42.8947 436.011 43.2703 435.682 43.4581C435.001 43.8806 434.274 44.0918 433.499 44.0918H428.147C427.373 44.0918 426.645 43.8806 425.964 43.4581C425.636 43.2703 425.178 42.8947 424.591 42.3314C424.028 41.7445 423.629 41.2751 423.394 40.923C423.019 40.3597 422.831 39.6907 422.831 38.9161V27.8957C422.831 27.1211 423.019 26.4521 423.394 25.8887C423.629 25.5367 424.028 25.0789 424.591 24.5156C425.178 23.9288 425.636 23.5415 425.964 23.3537C426.645 22.9312 427.373 22.7199 428.147 22.7199H433.499C434.274 22.7199 435.001 22.9312 435.682 23.3537C436.011 23.5415 436.445 23.917 436.985 24.4804C437.548 25.0437 437.971 25.5132 438.252 25.8887C438.628 26.4521 438.816 27.1211 438.816 27.8957V38.9161ZM426.528 28.0013V38.8809C426.528 38.9513 426.539 38.9982 426.563 39.0217C427.032 39.7259 427.549 40.2306 428.112 40.5357C428.159 40.5592 428.218 40.5709 428.288 40.5709H433.358C433.429 40.5709 433.487 40.5592 433.534 40.5357C434.098 40.2306 434.614 39.7259 435.083 39.0217L435.119 38.8809V28.0013C435.119 27.9074 435.107 27.8487 435.083 27.8252C434.591 27.0976 434.074 26.5812 433.534 26.276C433.487 26.2526 433.429 26.2408 433.358 26.2408H428.288C428.194 26.2408 428.136 26.2526 428.112 26.276C427.572 26.5812 427.056 27.0976 426.563 27.8252L426.528 28.0013ZM461.732 43.9158H458.035V29.5153L453.845 38.74H451.416L447.226 29.5505V43.9158H443.529V22.8608H447.754L452.683 33.2474L457.542 22.8608H461.732V43.9158ZM481.735 30.818C481.735 31.6161 481.524 32.332 481.102 32.9658C480.937 33.2005 480.644 33.5291 480.221 33.9516C479.799 34.3506 479.459 34.6441 479.2 34.8318C478.895 35.0666 478.59 35.2309 478.285 35.3248L482.475 43.9158H478.461L474.553 35.6064H470.504V43.9158H466.807V22.8608H476.701C477.639 22.8608 478.473 23.119 479.2 23.6354C479.435 23.7997 479.764 24.1048 480.186 24.5508C480.632 24.9968 480.937 25.3371 481.102 25.5719C481.524 26.2056 481.735 26.9215 481.735 27.7196V30.818ZM478.039 30.7828V27.7548C478.039 27.6375 478.027 27.5553 478.003 27.5084C477.604 26.8042 477.229 26.4286 476.877 26.3817H470.504V32.0855H476.701C476.865 32.0855 477.088 31.9564 477.37 31.6982C477.651 31.44 477.862 31.1818 478.003 30.9236C478.027 30.8767 478.039 30.8297 478.039 30.7828ZM503.78 43.9158H499.836L498.287 39.4442H490.295L488.746 43.9158H484.802L492.161 22.8608H496.456L503.78 43.9158ZM497.125 35.9233L494.309 27.614L491.457 35.9233H497.125ZM521.414 38.8105C521.414 39.632 521.238 40.301 520.885 40.8174C520.651 41.146 520.252 41.592 519.688 42.1553C519.125 42.6952 518.656 43.0708 518.28 43.282C517.529 43.7045 516.825 43.9158 516.167 43.9158H506.52V22.8608H516.167C516.989 22.8608 517.705 23.0603 518.315 23.4593C518.667 23.6706 519.113 24.0579 519.653 24.6212C520.193 25.1846 520.592 25.654 520.85 26.0296C521.226 26.546 521.414 27.215 521.414 28.0365V38.8105ZM510.217 40.3949H515.921C516.062 40.3949 516.144 40.3831 516.167 40.3597C516.449 40.1953 516.778 39.9372 517.153 39.5851C517.529 39.2095 517.717 38.9278 517.717 38.74V28.1421C517.717 28.0717 517.705 28.013 517.681 27.9661C517.235 27.2384 516.719 26.722 516.132 26.4169C516.109 26.3934 516.003 26.3817 515.815 26.3817H510.217V40.3949ZM539.598 43.9158H526.36V22.8608H539.598V26.3817H530.057V31.6982H538.929V35.2191H530.057V40.3949H539.598V43.9158ZM560.077 38.9161C560.077 39.7376 559.889 40.4066 559.513 40.923C559.279 41.2751 558.88 41.7445 558.316 42.3314C557.753 42.8947 557.295 43.2703 556.943 43.4581C556.192 43.8806 555.464 44.0918 554.76 44.0918H548.634C547.108 44.0918 545.618 43.1177 544.162 41.1695C544.021 40.9817 543.81 40.6179 543.528 40.078L547.014 38.9161C547.484 39.5733 548 40.1132 548.563 40.5357C548.61 40.5592 548.692 40.5709 548.81 40.5709H554.584L554.795 40.5357C555.054 40.3949 555.382 40.1249 555.781 39.7259C556.18 39.3269 556.38 39.0569 556.38 38.9161V36.8388C556.38 36.4867 556.239 36.2871 555.957 36.2402L546.803 33.6347C545.934 33.4 545.254 32.9188 544.761 32.1912C544.291 31.4635 544.057 30.6654 544.057 29.7969V27.8957C544.057 27.0741 544.233 26.4051 544.585 25.8887C544.819 25.5601 545.218 25.1141 545.782 24.5508C546.369 23.964 546.838 23.5649 547.19 23.3537C547.941 22.9312 548.669 22.7199 549.373 22.7199H554.584C556.086 22.7199 557.577 23.694 559.056 25.6423C559.29 25.9709 559.525 26.3817 559.76 26.8746L556.204 27.8957C555.664 27.1211 555.147 26.5812 554.654 26.276C554.631 26.2526 554.561 26.2408 554.443 26.2408H549.479L549.268 26.276C548.986 26.4169 548.657 26.6751 548.282 27.0506C547.93 27.4262 547.754 27.6844 547.754 27.8252V29.5857C547.754 29.9378 547.883 30.1373 548.141 30.1842L557.33 32.8601C558.175 33.0949 558.844 33.5878 559.337 34.3389C559.83 35.0666 560.077 35.8529 560.077 36.6979V38.9161Z" fill="#FF0000"/>
                <path d="M295.071 61.5619L283.33 97.0229H276.036L264.354 61.5619H270.996L279.713 89.0175L288.489 61.5619H295.071ZM305.712 97.0229H299.486V61.5619H305.712V97.0229ZM336.549 97.0229H314.253V61.5619H336.549V67.4918H320.479V76.446H335.422V82.376H320.479V91.093H336.549V97.0229ZM383.848 61.5619L375.605 97.0229H368.549L362.856 73.2439L357.104 97.0229H349.988L341.864 61.5619H348.268L353.605 86.4676L359.476 61.5619H366.117L371.988 86.4676L377.266 61.5619H383.848ZM426.107 67.4918H416.5V97.0229H410.274V67.4918H400.667V61.5619H426.107V67.4918ZM454.743 97.0229H432.446V61.5619H454.743V67.4918H438.672V76.446H453.616V82.376H438.672V91.093H454.743V97.0229ZM490.952 97.0229H484.311L481.702 89.4919H468.241L465.631 97.0229H458.99L471.384 61.5619H478.618L490.952 97.0229ZM479.745 83.562L475.001 69.5673L470.198 83.562H479.745ZM526.225 97.0229H519.999V72.7695L512.942 88.3059H508.851L501.794 72.8288V97.0229H495.567V61.5619H502.683L510.985 79.0552L519.169 61.5619H526.225V97.0229Z" fill="white"/>
            </svg>                
        </div>
        <div class="bottom">
            <div class="left">
                <img class="man-image" src="/man-image.png" alt="behen ka loda">
            </div>
            <div class="right">
                <div class="this">
                    <div class="one">
                        <svg class="team-name-svg" width="339" height="167" viewBox="0 0 339 167" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0H339V144.617H282.249L259.796 167H0V0ZM2 2V165H258.969L281.422 142.617H337V2H2ZM284.586 148.5H305.914L287.414 167H266.086L284.586 148.5ZM285.414 150.5L270.914 165H286.586L301.086 150.5H285.414ZM311.086 148.5H332.414L313.914 167H292.586L311.086 148.5ZM311.914 150.5L297.414 165H313.086L327.586 150.5H311.914Z" fill="#FF0000"/>
                        </svg>
                        <h1 class="team-name-heading"><%= reqTeam.teamName %></h1>
                    </div>
                    <form method="POST" action="/hackReg/leave/<%= reqTeam.id %>">
                        <button type="submit">
                            <svg class="button-leave" width="409" height="69" viewBox="0 0 409 69" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M98.932 45H86.764V23.4H88.852V42.984H98.932V45ZM113.083 41.4L113.119 41.328L115.027 41.976C114.979 42.072 114.811 42.336 114.523 42.768C113.947 43.56 113.407 44.136 112.903 44.496C112.303 44.952 111.571 45.18 110.707 45.18H107.035C106.147 45.18 105.403 44.952 104.803 44.496C104.299 44.136 103.759 43.56 103.183 42.768C102.823 42.24 102.643 41.604 102.643 40.86V33.66C102.643 32.916 102.823 32.28 103.183 31.752C103.759 30.96 104.299 30.384 104.803 30.024C105.403 29.568 106.147 29.34 107.035 29.34H110.635C111.523 29.34 112.267 29.568 112.867 30.024C113.371 30.384 113.911 30.96 114.487 31.752C114.823 32.256 114.991 32.892 114.991 33.66V38.088H104.587V40.788C104.587 41.052 104.623 41.256 104.695 41.4C105.103 42.168 105.667 42.756 106.387 43.164C106.555 43.26 106.759 43.308 106.999 43.308H110.779C111.043 43.308 111.259 43.26 111.427 43.164C112.099 42.78 112.651 42.192 113.083 41.4ZM104.695 33.12C104.623 33.264 104.587 33.468 104.587 33.732V36.252H113.047V33.732C113.047 33.42 113.023 33.216 112.975 33.12C112.567 32.376 111.991 31.788 111.247 31.356C111.079 31.26 110.863 31.212 110.599 31.212H107.035C106.795 31.212 106.591 31.26 106.423 31.356C105.679 31.788 105.103 32.376 104.695 33.12ZM131.936 45H129.992L129.668 43.2C129.236 43.656 128.78 44.064 128.3 44.424C127.604 44.928 127.016 45.18 126.536 45.18H123.368C122.504 45.18 121.772 44.952 121.172 44.496C120.548 43.968 120.02 43.404 119.588 42.804C119.228 42.276 119.048 41.64 119.048 40.896V40.176C119.048 39.456 119.228 38.82 119.588 38.268C120.02 37.668 120.548 37.104 121.172 36.576C121.772 36.12 122.504 35.892 123.368 35.892H129.632V33.696C129.632 33.456 129.608 33.264 129.56 33.12C129.152 32.376 128.576 31.788 127.832 31.356C127.664 31.26 127.448 31.212 127.184 31.212H123.8C123.56 31.212 123.356 31.26 123.188 31.356C122.588 31.692 122.012 32.292 121.46 33.156L119.588 32.544C119.828 32.16 120.008 31.884 120.128 31.716C120.584 31.044 121.124 30.468 121.748 29.988C122.324 29.556 123.044 29.34 123.908 29.34H127.22C128.108 29.34 128.852 29.568 129.452 30.024C129.908 30.312 130.448 30.876 131.072 31.716C131.408 32.172 131.576 32.82 131.576 33.66V42.444L131.936 45ZM126.932 43.2C127.34 42.984 127.832 42.66 128.408 42.228C129.008 41.796 129.416 41.388 129.632 41.004V37.728H123.404C123.14 37.728 122.924 37.776 122.756 37.872C122.06 38.256 121.508 38.832 121.1 39.6C121.028 39.744 120.992 39.936 120.992 40.176V40.896C120.992 41.136 121.028 41.328 121.1 41.472C121.484 42.192 122.036 42.756 122.756 43.164C122.924 43.26 123.14 43.308 123.404 43.308H126.428C126.62 43.308 126.788 43.272 126.932 43.2ZM141.97 43.02L146.218 29.52H148.27L143.23 45H140.53L135.418 29.52H137.506L141.754 43.02H141.97ZM162.196 41.4L162.232 41.328L164.14 41.976C164.092 42.072 163.924 42.336 163.636 42.768C163.06 43.56 162.52 44.136 162.016 44.496C161.416 44.952 160.684 45.18 159.82 45.18H156.148C155.26 45.18 154.516 44.952 153.916 44.496C153.412 44.136 152.872 43.56 152.296 42.768C151.936 42.24 151.756 41.604 151.756 40.86V33.66C151.756 32.916 151.936 32.28 152.296 31.752C152.872 30.96 153.412 30.384 153.916 30.024C154.516 29.568 155.26 29.34 156.148 29.34H159.748C160.636 29.34 161.38 29.568 161.98 30.024C162.484 30.384 163.024 30.96 163.6 31.752C163.936 32.256 164.104 32.892 164.104 33.66V38.088H153.7V40.788C153.7 41.052 153.736 41.256 153.808 41.4C154.216 42.168 154.78 42.756 155.5 43.164C155.668 43.26 155.872 43.308 156.112 43.308H159.892C160.156 43.308 160.372 43.26 160.54 43.164C161.212 42.78 161.764 42.192 162.196 41.4ZM153.808 33.12C153.736 33.264 153.7 33.468 153.7 33.732V36.252H162.16V33.732C162.16 33.42 162.136 33.216 162.088 33.12C161.68 32.376 161.104 31.788 160.36 31.356C160.192 31.26 159.976 31.212 159.712 31.212H156.148C155.908 31.212 155.704 31.26 155.536 31.356C154.792 31.788 154.216 32.376 153.808 33.12ZM190.321 25.416H184.165V45H182.077V25.416H175.921V23.4H190.321V25.416ZM201.712 41.4L201.748 41.328L203.656 41.976C203.608 42.072 203.44 42.336 203.152 42.768C202.576 43.56 202.036 44.136 201.532 44.496C200.932 44.952 200.2 45.18 199.336 45.18H195.664C194.776 45.18 194.032 44.952 193.432 44.496C192.928 44.136 192.388 43.56 191.812 42.768C191.452 42.24 191.272 41.604 191.272 40.86V33.66C191.272 32.916 191.452 32.28 191.812 31.752C192.388 30.96 192.928 30.384 193.432 30.024C194.032 29.568 194.776 29.34 195.664 29.34H199.264C200.152 29.34 200.896 29.568 201.496 30.024C202 30.384 202.54 30.96 203.116 31.752C203.452 32.256 203.62 32.892 203.62 33.66V38.088H193.216V40.788C193.216 41.052 193.252 41.256 193.324 41.4C193.732 42.168 194.296 42.756 195.016 43.164C195.184 43.26 195.388 43.308 195.628 43.308H199.408C199.672 43.308 199.888 43.26 200.056 43.164C200.728 42.78 201.28 42.192 201.712 41.4ZM193.324 33.12C193.252 33.264 193.216 33.468 193.216 33.732V36.252H201.676V33.732C201.676 33.42 201.652 33.216 201.604 33.12C201.196 32.376 200.62 31.788 199.876 31.356C199.708 31.26 199.492 31.212 199.228 31.212H195.664C195.424 31.212 195.22 31.26 195.052 31.356C194.308 31.788 193.732 32.376 193.324 33.12ZM220.565 45H218.621L218.297 43.2C217.865 43.656 217.409 44.064 216.929 44.424C216.233 44.928 215.645 45.18 215.165 45.18H211.997C211.133 45.18 210.401 44.952 209.801 44.496C209.177 43.968 208.649 43.404 208.217 42.804C207.857 42.276 207.677 41.64 207.677 40.896V40.176C207.677 39.456 207.857 38.82 208.217 38.268C208.649 37.668 209.177 37.104 209.801 36.576C210.401 36.12 211.133 35.892 211.997 35.892H218.261V33.696C218.261 33.456 218.237 33.264 218.189 33.12C217.781 32.376 217.205 31.788 216.461 31.356C216.293 31.26 216.077 31.212 215.813 31.212H212.429C212.189 31.212 211.985 31.26 211.817 31.356C211.217 31.692 210.641 32.292 210.089 33.156L208.217 32.544C208.457 32.16 208.637 31.884 208.757 31.716C209.213 31.044 209.753 30.468 210.377 29.988C210.953 29.556 211.673 29.34 212.537 29.34H215.849C216.737 29.34 217.481 29.568 218.081 30.024C218.537 30.312 219.077 30.876 219.701 31.716C220.037 32.172 220.205 32.82 220.205 33.66V42.444L220.565 45ZM215.561 43.2C215.969 42.984 216.461 42.66 217.037 42.228C217.637 41.796 218.045 41.388 218.261 41.004V37.728H212.033C211.769 37.728 211.553 37.776 211.385 37.872C210.689 38.256 210.137 38.832 209.729 39.6C209.657 39.744 209.621 39.936 209.621 40.176V40.896C209.621 41.136 209.657 41.328 209.729 41.472C210.113 42.192 210.665 42.756 211.385 43.164C211.553 43.26 211.769 43.308 212.033 43.308H215.057C215.249 43.308 215.417 43.272 215.561 43.2ZM232.363 31.212H230.671C230.479 31.212 230.311 31.248 230.167 31.32C228.823 32.04 227.923 32.76 227.467 33.48V45H225.523V32.076L225.307 29.52H227.251L227.467 31.356C227.971 30.828 228.427 30.408 228.835 30.096C229.531 29.592 230.119 29.34 230.599 29.34H232.399C233.287 29.34 234.031 29.568 234.631 30.024C235.135 30.384 235.675 30.96 236.251 31.752L236.287 31.824C237.007 31.008 237.595 30.432 238.051 30.096C238.747 29.592 239.347 29.34 239.851 29.34H241.543C242.431 29.34 243.175 29.568 243.775 30.024C244.279 30.384 244.819 30.96 245.395 31.752C245.731 32.256 245.899 32.892 245.899 33.66V45H243.955V33.732C243.955 33.468 243.919 33.264 243.847 33.12C243.679 32.808 243.427 32.472 243.091 32.112C242.755 31.752 242.443 31.488 242.155 31.32C242.035 31.248 241.819 31.212 241.507 31.212H239.959C239.743 31.212 239.563 31.248 239.419 31.32C238.051 32.088 237.163 32.796 236.755 33.444V33.66V45H234.847V33.732C234.847 33.468 234.811 33.264 234.739 33.12C234.571 32.808 234.307 32.472 233.947 32.112C233.611 31.752 233.299 31.488 233.011 31.32C232.891 31.248 232.675 31.212 232.363 31.212Z" fill="white"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M58.5506 35L66.9999 43.4491L67 47.9994H62.4497L54.0003 39.5503L45.5506 48H41L41.0003 43.4498L49.45 35.0001L41 26.5503L41.0003 22.0004L45.5502 22L54.0003 30.4498L62.4497 22.0004H66.9999L67 26.5506L58.5506 35Z" fill="#FF0000"/>
                                <path d="M1 1H325.065L257.111 68H1V1Z" stroke="white" stroke-width="0.805611"/>
                                <path d="M274.865 68L342.819 1H372.817L304.863 68H274.865Z" stroke="white" stroke-width="0.805611"/>
                                <path d="M321.68 68L389.634 1H408L340.046 68H321.68Z" stroke="white" stroke-width="0.805611"/>
                            </svg>                            
                        </button>
                    </form>
                </div>
                <div class="right-top">
                    <div class="cards">
                        <div class="one">
                            <svg class="svg-participant" width="371" height="140" viewBox="0 0 371 140" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.29102 1H370V139H105.714L8.29102 1Z" stroke="white"/>
                                <path d="M0 52.1309V5.11938L92.2409 139H59.7469L0 52.1309Z" fill="white"/>
                            </svg> 
                            <p class="participant special-text"><%= reqTeam.participant1 %></p>
                        </div>
                        <div class="one">
                            <svg class="svg-participant" width="371" height="140" viewBox="0 0 371 140" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.29102 1H370V139H105.714L8.29102 1Z" stroke="white"/>
                                <path d="M0 52.1309V5.11938L92.2409 139H59.7469L0 52.1309Z" fill="white"/>
                            </svg>
                            <% if(reqTeam.participant2) { %>
                            <p class="participant special-text"><%= reqTeam.participant2 %></p>
                            <% } else { %>
                                <p class="participant">Participant 2</p>
                            <% } %>
                        </div>
                        <div class="one">
                            <svg class="svg-participant" width="371" height="140" viewBox="0 0 371 140" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.29102 1H370V139H105.714L8.29102 1Z" stroke="white"/>
                                <path d="M0 52.1309V5.11938L92.2409 139H59.7469L0 52.1309Z" fill="white"/>
                            </svg>
                            <% if(reqTeam.participant3) { %>
                            <p class="participant special-text"><%= reqTeam.participant3 %></p>
                            <% } else { %>
                                <p class="participant">Participant 3</p>
                            <% } %>
                        </div>
                        <div class="one">
                            <svg class="svg-participant" width="371" height="140" viewBox="0 0 371 140" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.29102 1H370V139H105.714L8.29102 1Z" stroke="white"/>
                                <path d="M0 52.1309V5.11938L92.2409 139H59.7469L0 52.1309Z" fill="white"/>
                            </svg>
                            <% if(reqTeam.participant4) { %>
                            <p class="participant special-text"><%= reqTeam.participant4 %></p>
                            <% } else { %>
                                <p class="participant">Participant 4</p>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
            
                    
            
            
    <% } %>
    <svg class="bottom-vector" width="988" height="39" viewBox="0 0 988 39" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M38.5 37.5L548.5 37.5M789 37.5L987 37.5V1L825.5 1L789 37.5ZM789 37.5L752.5 37.5M752.5 37.5L789 1L703.5 1L667 37.5M752.5 37.5L667 37.5M667 37.5L630 37.5M548.5 37.5L585 1L666.5 1L630 37.5M548.5 37.5L630 37.5M33 37.5H22M17.5 37.5H10M5.5 37.5H0" stroke="#FF0000"/>
        <path d="M847.5 1.18359L811 37.6836L832 37.6836L868 1.18359L847.5 1.18359Z" fill="#FF0000" stroke="#FF0000"/>
        <path d="M881.499 1L844.999 37.5L865.999 37.5L901.999 1L881.499 1Z" fill="#FF0000" stroke="#FF0000"/>
    </svg>   
</body>
<style>
    body {
        height: auto;
        min-height: 100vh;
        width: 100%;
        background-image: linear-gradient(#000615, #190000);
        overflow-x: hidden;
        background-size: contain;
        display: flex;
        flex-direction: column;
    }
    .button-leave {
        width: 20.657vw;
    }
    .this {
        width: 70%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .special-text {
        font-family: BlenderProHeavy !important;
        color: white !important;
        font-size: 1vw;
    }
    @font-face 
    {
        font-family:BlenderProBook;
        font-style:normal;
        font-weight:400;
        src:url('/BlenderProBook.woff2') format("woff2");
    }
    @font-face 
    {
        font-family:BlenderProHeavy;
        font-style:normal;
        font-weight:700;
        src:url('/BlenderPro-Heavy.woff2') format("woff2");
    }
    @font-face 
    {
        font-family:sentex;
        font-style:normal;
        font-weight:400;
        src:url('/Sentex-Regular.ttf');
    }
    .bottom-vector {
        position: relative;
        bottom: 0vw;
        align-self: end;
        right: 2vw;
        width: 55vw;
    }
    .top {
        display: flex;
        flex-direction: column;
        align-self: center;
        gap: 1vw;
        margin-top: 2.5vw;
    }
    .top > .lines {
        height: fit-content;
        width: 11.719vw;
        align-self: flex-end;
        margin-left: -50px;
    }
    .top > .top-text {
        height: fit-content;
        margin-bottom: 2.5vw;
        width: 40.625vw;
    }
    .left {
        position: relative;
    }
    .man-image {
        width: 40vw;
        margin-bottom: -3vw;
    }
    .bottom {
        display: flex;
        flex-direction: row;
    }
    .right {
        /* flex-direction: row; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* margin-left: -5vw; */
    }
    .right-top {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .cards {
        display: flex;
        flex-wrap: wrap;
        gap: 2vw;
        width: 70%;
    }
    .svg-participant {
        height: fit-content;
        width: 18.802vw;
    }
    .one {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    .participant {
        font-family: BlenderProBook;
        color: #7E7E7E;
        margin-left: 2vw;
        /* width: 50%; */
        position: absolute;
    }
    .team-name-svg {
        width: 17.121vw;
    }
    .team-name-heading {
        position: absolute;
        font-weight: 400;
        font-size: 1.8vw;
        color: white;
        text-align: center;
        /* margin-left: -1.5vw; */
        width: 30%;
        font-family: BlenderProBook;
    }
    .small-text {
        color: #fff;
        font-size: 1.250vw;
        width: 11vw;
        font-family: BlenderProBook;
    }
    .input-svg {
        width: 40.833vw;
    }
    .participant-pass, .participant-email {
        position: absolute;
        font-family: BlenderProBook;
        color: #7E7E7E;
        width: 35vw;
        height: 2vw;
        background: transparent;
        border: none;
        outline: none;
        font-size: 1.2em;
    }
    .team-heading-display {
        width: 11.354vw;
        margin-left: 2vw;
        align-self: flex-start;
    }
    .right-bottom {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .buttons {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;  
    }
    .add-button {
        width: 8.542vw;
        margin-top: 0;
    }
    ::-webkit-scrollbar {
        display: none;
    }
    .sub-button {
        width: 10.677vw;
    }
    button {
        background: transparent;
        outline: none;
        border: none;
        padding: 0;
    }
    .team-name {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .smth {
        position: absolute;
        color: white;
        text-align: center;
        margin-left: 1.5vw;
        width: 50%;
        font-family: BlenderProBook;
    }
    label {
        margin-left: 1.5vw;
        font-family: BlenderProBook;
        color: white;
        text-align: center;
        margin-top: -2vh;
        width: 50%;
        cursor: pointer;
    }
</style>
<script>
    var selectedParticipant;
    function clickEvent(participant) {
        document.getElementById(participant).addEventListener('click', () => {
            document.getElementById('participant1').style.color = '#7E7E7E'
            document.getElementById('participant2').style.color = '#7E7E7E'
            document.getElementById('participant3').style.color = '#7E7E7E'
            document.getElementById('participant4').style.color = '#7E7E7E'
            document.getElementById(participant).style.color = 'white'
            selectedParticipant = participant
        })
    }
    function participantInputEvent() {
        if (!selectedParticipant) {
            console.log("Bhap")
            return alert('Please Select A Participant To Add!')
        }
        console.log(selectedParticipant)
        getId(selectedParticipant + 'hidden').value = getId('participantInput').value
        getId(selectedParticipant).innerHTML = getId('participantInput').value
        getId('participantInput').value = ''
    }
    function teamInputEvent() {
        getId('teamName').innerHTML = getId('teamInput').value
        getId('teamNameHidden').value = getId('teamInput').value
    }
    function getId(id) {
        return document.getElementById(id)
    }
    function submitMainForm(e) {
        if (getId('teamInput').value == '') {
            e.preventDefault()
            return alert("Please enter the team name!")
        }
    }
    clickEvent('participant1')
    clickEvent('participant2')
    clickEvent('participant3')
    clickEvent('participant4')
</script>
</html>