<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit Hack</title>
</head>
<body>
    <%- include('./partials/navbar') %>
    <% if(!canSub) { %>
        <div class="titles">
            <svg class="title" width="602" height="81" viewBox="0 0 602 81" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M104.038 52H97.8111V37.3529H84.8837V52H78.6572V16.5386H84.8837V31.4229H97.8111V16.5386H104.038V52ZM140.523 52H133.881L131.272 44.4689H117.811L115.202 52H108.56L120.954 16.5386H128.188L140.523 52ZM129.315 38.5389L124.571 24.5441L119.768 38.5389H129.315ZM170.281 45.1212C169.886 46.0305 169.471 46.7816 169.036 47.3746C166.585 50.6559 164.075 52.2965 161.505 52.2965H154.092C152.788 52.2965 151.562 51.9407 150.416 51.2291C149.823 50.8733 149.052 50.221 148.103 49.2722C147.154 48.3234 146.482 47.5723 146.087 47.0188C145.454 46.07 145.138 44.9433 145.138 43.6387V24.9592C145.138 23.6941 145.454 22.5872 146.087 21.6384C146.482 21.0454 147.154 20.2745 148.103 19.3257C149.091 18.3374 149.862 17.6851 150.416 17.3688C151.681 16.6572 152.906 16.3014 154.092 16.3014H161.505C164.035 16.3014 166.545 17.942 169.036 21.2233C169.273 21.5396 169.688 22.2314 170.281 23.2988L164.233 25.0185C163.047 23.5558 162.157 22.6465 161.564 22.2907C161.525 22.2512 161.446 22.2314 161.327 22.2314H154.33L154.092 22.2907C153.064 22.8442 152.175 23.7139 151.424 24.8999C151.384 24.979 151.365 25.1964 151.365 25.5522V43.5794C151.365 43.8957 151.681 44.3701 152.313 45.0026C152.985 45.5956 153.578 46.0305 154.092 46.3072C154.132 46.3467 154.27 46.3665 154.507 46.3665H161.268C161.386 46.3665 161.485 46.3467 161.564 46.3072C161.92 46.1491 162.315 45.8328 162.75 45.3584C163.225 44.884 163.6 44.4491 163.877 44.0538L164.233 43.5201L170.281 45.1212ZM204.719 52H197.069L184.794 37.175H184.142V52H177.915V16.5386H184.142V31.3043H184.735C186.158 29.6439 188.233 27.1533 190.961 23.8325C193.689 20.5117 195.705 18.0804 197.01 16.5386H204.66L189.894 34.21C190.526 34.9611 192.72 37.6099 196.476 42.1562C200.271 46.7025 203.019 49.9838 204.719 52ZM250.049 43.5794C250.049 44.9631 249.732 46.0898 249.1 46.9595C248.704 47.5525 248.032 48.3432 247.084 49.3315C246.135 50.2803 245.364 50.9128 244.771 51.2291C243.506 51.9407 242.28 52.2965 241.094 52.2965H230.776C228.206 52.2965 225.696 50.6559 223.245 47.3746C223.008 47.0583 222.652 46.4456 222.178 45.5363L228.048 43.5794C228.839 44.6863 229.709 45.5956 230.657 46.3072C230.737 46.3467 230.875 46.3665 231.073 46.3665H240.798L241.154 46.3072C241.588 46.07 242.142 45.6154 242.814 44.9433C243.486 44.2712 243.822 43.8166 243.822 43.5794V40.0807C243.822 39.4877 243.585 39.1517 243.11 39.0726L227.692 34.6844C226.23 34.2891 225.083 33.4786 224.253 32.2531C223.462 31.0276 223.067 29.6834 223.067 28.2207V25.0185C223.067 23.6348 223.364 22.5081 223.957 21.6384C224.352 21.0849 225.024 20.3338 225.973 19.385C226.961 18.3967 227.752 17.7246 228.345 17.3688C229.61 16.6572 230.835 16.3014 232.021 16.3014H240.798C243.328 16.3014 245.838 17.942 248.329 21.2233C248.724 21.7768 249.12 22.4686 249.515 23.2988L243.526 25.0185C242.616 23.7139 241.747 22.8046 240.916 22.2907C240.877 22.2512 240.758 22.2314 240.561 22.2314H232.199L231.843 22.2907C231.369 22.5279 230.816 22.9628 230.183 23.5953C229.59 24.2278 229.294 24.6627 229.294 24.8999V27.8649C229.294 28.4579 229.511 28.7939 229.946 28.873L245.423 33.3798C246.846 33.7751 247.973 34.6053 248.803 35.8704C249.633 37.0959 250.049 38.4203 250.049 39.8435V43.5794ZM276.336 43.5201V16.5386H282.562V43.5794C282.562 44.884 282.246 46.0107 281.613 46.9595C281.178 47.5525 280.487 48.3432 279.538 49.3315C278.629 50.2803 277.877 50.9128 277.284 51.2291C276.138 51.9407 274.932 52.2965 273.667 52.2965H266.136C264.831 52.2965 263.606 51.9407 262.459 51.2291C261.906 50.9128 261.135 50.2803 260.147 49.3315C259.198 48.3432 258.526 47.5525 258.131 46.9595C257.498 46.0107 257.182 44.884 257.182 43.5794V16.5386H263.408V43.4608C263.408 43.6189 263.428 43.7178 263.468 43.7573C264.298 44.9828 265.167 45.8328 266.077 46.3072L266.373 46.3665H273.43C273.549 46.3665 273.647 46.3467 273.726 46.3072C274.636 45.8328 275.486 44.9828 276.276 43.7573L276.336 43.5201ZM315.692 43.9352C315.692 45.3189 315.356 46.5049 314.684 47.4932C314.407 47.8885 313.913 48.4618 313.202 49.2129C312.49 49.9245 311.937 50.4187 311.541 50.6954C310.316 51.5651 308.893 52 307.272 52H290.608V16.5386H307.272C308.813 16.5386 310.237 16.9932 311.541 17.9025C311.937 18.1792 312.49 18.6932 313.202 19.4443C313.913 20.1559 314.407 20.7094 314.684 21.1047C315.356 22.093 315.692 23.3186 315.692 24.7813V29.1695C315.692 31.0671 314.921 32.7868 313.38 34.3286C314.921 35.8704 315.692 37.5703 315.692 39.4284V43.9352ZM309.406 29.466C309.446 29.3869 309.466 29.2486 309.466 29.0509V24.8406L309.406 24.5441C309.13 24.0697 308.754 23.6151 308.28 23.1802C307.845 22.7058 307.489 22.4686 307.212 22.4686H296.835V31.4229H307.272C307.548 31.4229 307.924 31.2055 308.398 30.7706C308.873 30.3357 309.209 29.9009 309.406 29.466ZM309.406 44.1131C309.446 43.9945 309.466 43.8561 309.466 43.698V39.4877L309.406 39.1912C309.13 38.7168 308.754 38.2622 308.28 37.8273C307.845 37.3924 307.489 37.175 307.212 37.175H296.835V46.07H307.272C307.548 46.07 307.924 45.8526 308.398 45.4177C308.873 44.9828 309.209 44.548 309.406 44.1131ZM354.159 52H347.933V27.7463L340.876 43.2829H336.785L329.728 27.8056V52H323.501V16.5386H330.617L338.919 34.0321L347.103 16.5386H354.159V52ZM368.933 52H362.707V16.5386H368.933V52ZM403.684 43.5794C403.684 44.9631 403.368 46.0898 402.735 46.9595C402.34 47.5525 401.668 48.3432 400.719 49.3315C399.77 50.2803 399 50.9128 398.407 51.2291C397.141 51.9407 395.916 52.2965 394.73 52.2965H384.412C381.842 52.2965 379.332 50.6559 376.881 47.3746C376.643 47.0583 376.288 46.4456 375.813 45.5363L381.684 43.5794C382.475 44.6863 383.344 45.5956 384.293 46.3072C384.372 46.3467 384.511 46.3665 384.708 46.3665H394.433L394.789 46.3072C395.224 46.07 395.778 45.6154 396.45 44.9433C397.122 44.2712 397.458 43.8166 397.458 43.5794V40.0807C397.458 39.4877 397.221 39.1517 396.746 39.0726L381.328 34.6844C379.865 34.2891 378.719 33.4786 377.889 32.2531C377.098 31.0276 376.703 29.6834 376.703 28.2207V25.0185C376.703 23.6348 376.999 22.5081 377.592 21.6384C377.988 21.0849 378.66 20.3338 379.608 19.385C380.597 18.3967 381.387 17.7246 381.98 17.3688C383.245 16.6572 384.471 16.3014 385.657 16.3014H394.433C396.964 16.3014 399.474 17.942 401.965 21.2233C402.36 21.7768 402.755 22.4686 403.151 23.2988L397.161 25.0185C396.252 23.7139 395.382 22.8046 394.552 22.2907C394.512 22.2512 394.394 22.2314 394.196 22.2314H385.835L385.479 22.2907C385.005 22.5279 384.451 22.9628 383.819 23.5953C383.226 24.2278 382.929 24.6627 382.929 24.8999V27.8649C382.929 28.4579 383.147 28.7939 383.582 28.873L399.059 33.3798C400.482 33.7751 401.609 34.6053 402.439 35.8704C403.269 37.0959 403.684 38.4203 403.684 39.8435V43.5794ZM437.562 43.5794C437.562 44.9631 437.245 46.0898 436.613 46.9595C436.218 47.5525 435.545 48.3432 434.597 49.3315C433.648 50.2803 432.877 50.9128 432.284 51.2291C431.019 51.9407 429.793 52.2965 428.607 52.2965H418.289C415.719 52.2965 413.209 50.6559 410.758 47.3746C410.521 47.0583 410.165 46.4456 409.691 45.5363L415.561 43.5794C416.352 44.6863 417.222 45.5956 418.171 46.3072C418.25 46.3467 418.388 46.3665 418.586 46.3665H428.311L428.667 46.3072C429.102 46.07 429.655 45.6154 430.327 44.9433C430.999 44.2712 431.335 43.8166 431.335 43.5794V40.0807C431.335 39.4877 431.098 39.1517 430.624 39.0726L415.206 34.6844C413.743 34.2891 412.596 33.4786 411.766 32.2531C410.975 31.0276 410.58 29.6834 410.58 28.2207V25.0185C410.58 23.6348 410.877 22.5081 411.47 21.6384C411.865 21.0849 412.537 20.3338 413.486 19.385C414.474 18.3967 415.265 17.7246 415.858 17.3688C417.123 16.6572 418.348 16.3014 419.534 16.3014H428.311C430.841 16.3014 433.351 17.942 435.842 21.2233C436.237 21.7768 436.633 22.4686 437.028 23.2988L431.039 25.0185C430.129 23.7139 429.26 22.8046 428.429 22.2907C428.39 22.2512 428.271 22.2314 428.074 22.2314H419.712L419.357 22.2907C418.882 22.5279 418.329 22.9628 417.696 23.5953C417.103 24.2278 416.807 24.6627 416.807 24.8999V27.8649C416.807 28.4579 417.024 28.7939 417.459 28.873L432.936 33.3798C434.359 33.7751 435.486 34.6053 436.316 35.8704C437.147 37.0959 437.562 38.4203 437.562 39.8435V43.5794ZM451.455 52H445.228V16.5386H451.455V52ZM486.977 43.5794C486.977 44.884 486.661 46.0107 486.028 46.9595C485.554 47.592 484.842 48.3827 483.893 49.3315C482.984 50.2803 482.253 50.9128 481.699 51.2291C480.553 51.9407 479.327 52.2965 478.023 52.2965H469.009C467.705 52.2965 466.479 51.9407 465.333 51.2291C464.779 50.9128 464.008 50.2803 463.02 49.3315C462.071 48.3432 461.399 47.5525 461.004 46.9595C460.371 46.0107 460.055 44.884 460.055 43.5794V25.0185C460.055 23.7139 460.371 22.5872 461.004 21.6384C461.399 21.0454 462.071 20.2745 463.02 19.3257C464.008 18.3374 464.779 17.6851 465.333 17.3688C466.479 16.6572 467.705 16.3014 469.009 16.3014H478.023C479.327 16.3014 480.553 16.6572 481.699 17.3688C482.253 17.6851 482.984 18.3176 483.893 19.2664C484.842 20.2152 485.554 21.0059 486.028 21.6384C486.661 22.5872 486.977 23.7139 486.977 25.0185V43.5794ZM466.281 25.1964V43.5201C466.281 43.6387 466.301 43.7178 466.341 43.7573C467.131 44.9433 468.001 45.7933 468.95 46.3072C469.029 46.3467 469.128 46.3665 469.246 46.3665H477.786C477.904 46.3665 478.003 46.3467 478.082 46.3072C479.031 45.7933 479.901 44.9433 480.691 43.7573L480.751 43.5201V25.1964C480.751 25.0383 480.731 24.9394 480.691 24.8999C479.861 23.6744 478.991 22.8046 478.082 22.2907C478.003 22.2512 477.904 22.2314 477.786 22.2314H469.246C469.088 22.2314 468.989 22.2512 468.95 22.2907C468.041 22.8046 467.171 23.6744 466.341 24.8999L466.281 25.1964ZM519.999 52H513.417L501.142 28.4579V52H494.915V16.5386H501.616L513.773 40.3772V16.5386H519.999V52Z" fill="white"/>
                <path d="M273.66 80H265.644V66.02H273.66V67.3248H266.996V72.3576H273.31V73.6624H266.996V78.6952H273.66V80ZM286.406 80H284.658L278.577 68.0704V80H277.272V66.02H279.066L285.101 78.0661V66.02H286.406V80ZM299.263 76.9011C299.263 77.3516 299.17 77.7244 298.983 78.0195C298.843 78.2214 298.595 78.5088 298.238 78.8816C297.88 79.2544 297.601 79.5029 297.399 79.6272C297.011 79.8757 296.614 80 296.211 80H290.059V66.02H296.211C296.645 66.02 297.042 66.1365 297.399 66.3695C297.601 66.4938 297.88 66.7501 298.238 67.1384C298.595 67.5112 298.843 67.8063 298.983 68.0238C299.17 68.3189 299.263 68.6917 299.263 69.1422V76.9011ZM297.911 69.1888C297.911 69.049 297.888 68.9325 297.842 68.8393C297.702 68.5752 297.477 68.2956 297.166 68.0005C296.855 67.6898 296.599 67.4879 296.397 67.3947C296.319 67.3481 296.218 67.3248 296.094 67.3248H291.411V78.6952H296.094C296.218 78.6952 296.319 78.6719 296.397 78.6253C296.599 78.5321 296.855 78.3302 297.166 78.0195C297.477 77.7088 297.702 77.4215 297.842 77.1574C297.888 77.0642 297.911 76.9632 297.911 76.8545V69.1888ZM312.38 76.9943C312.38 77.4603 312.286 77.8409 312.1 78.136C311.96 78.3379 311.704 78.6253 311.331 78.9981C310.974 79.3709 310.694 79.6194 310.492 79.7437C310.104 79.9922 309.708 80.1165 309.304 80.1165H305.436C305.017 80.1165 304.613 79.9922 304.225 79.7437C303.774 79.4641 303.293 78.9748 302.78 78.2758C302.562 77.9807 302.392 77.6778 302.267 77.3671L303.595 76.9943L303.759 77.2739C303.914 77.5535 304.139 77.8409 304.434 78.136C304.729 78.4311 304.978 78.6331 305.18 78.7418C305.242 78.7884 305.351 78.8117 305.506 78.8117H309.211C309.319 78.8117 309.413 78.7884 309.49 78.7418C309.692 78.6331 309.949 78.4389 310.259 78.1593C310.585 77.8642 310.818 77.5923 310.958 77.3438C311.005 77.2506 311.028 77.1496 311.028 77.0409V75.5497C311.028 75.3012 310.958 75.0759 310.818 74.874C310.679 74.6565 310.5 74.5167 310.283 74.4546L303.898 72.7071C303.463 72.5828 303.114 72.3188 302.85 71.9149C302.586 71.4955 302.454 71.0295 302.454 70.5169V69.0723C302.454 68.6063 302.547 68.2257 302.733 67.9306C302.873 67.7287 303.122 67.4413 303.479 67.0685C303.852 66.6802 304.139 66.4239 304.341 66.2996C304.729 66.0511 305.125 65.9268 305.529 65.9268H309.001C309.405 65.9268 309.801 66.0511 310.189 66.2996C310.64 66.5792 311.121 67.0685 311.634 67.7675C311.882 68.1248 312.061 68.4277 312.17 68.6762L310.818 69.0723L310.655 68.7694C310.516 68.5053 310.29 68.2257 309.98 67.9306C309.684 67.6199 309.436 67.4102 309.234 67.3015C309.156 67.2549 309.055 67.2316 308.931 67.2316H305.646C305.522 67.2316 305.421 67.2549 305.343 67.3015C305.125 67.4102 304.861 67.6044 304.551 67.884C304.256 68.1481 304.038 68.4044 303.898 68.6529C303.836 68.7772 303.805 68.8781 303.805 68.9558V70.4237C303.805 70.6567 303.875 70.8742 304.015 71.0761C304.155 71.278 304.325 71.4101 304.527 71.4722L310.888 73.243C311.339 73.3673 311.696 73.6391 311.96 74.0585C312.24 74.4624 312.38 74.9128 312.38 75.4099V76.9943ZM322.151 80H320.8V66.02H322.151V80ZM334.985 80H333.238L327.157 68.0704V80H325.852V66.02H327.646L333.681 78.0661V66.02H334.985V80Z" fill="#FF0000"/>
                <circle cx="33.6962" cy="33.2411" r="25.578" stroke="#FF0000" stroke-width="2"/>
                <circle cx="33.7717" cy="33.3171" r="21.2619" stroke="#FF0000" stroke-width="2" stroke-linecap="round" stroke-dasharray="1 20"/>
                <circle cx="34.2873" cy="33.2873" r="1.28725" fill="white"/>
                <line x1="34.1201" x2="34.1201" y2="67.543" stroke="#FF0000"/>
                <line y1="33.1201" x2="67.543" y2="33.1201" stroke="#FF0000"/>
                <circle cx="33.6954" cy="33.2413" r="10.631" stroke="#FF0000"/>
                <circle cx="567.696" cy="33.2411" r="25.578" stroke="#FF0000" stroke-width="2"/>
                <circle cx="567.772" cy="33.3171" r="21.2619" stroke="#FF0000" stroke-width="2" stroke-linecap="round" stroke-dasharray="1 20"/>
                <circle cx="568.287" cy="33.2873" r="1.28725" fill="white"/>
                <line x1="568.12" x2="568.12" y2="67.543" stroke="#FF0000"/>
                <line x1="534" y1="33.1201" x2="601.543" y2="33.1201" stroke="#FF0000"/>
                <circle cx="567.695" cy="33.2413" r="10.631" stroke="#FF0000"/>
            </svg>
            <h1 class="main-title"><span id="days">18</span> : <span id="hours">5</span> : <span id="minutes">48</span> : <span id="seconds">23</span></h1>
        </div>
        
        <form action="/hack/delete/<%= reqId %>" enctype="multipart/form-data" method="POST" style="gap: 2vw">
            <div class="left">
                <div class="svgs">
                    <img src="<%= reqHack.thumbnail %>" style="width: 15vw; margin-bottom: 10px;">
                </div>
                <div class="svgs">
                    <svg class="project-name-svg" width="340" height="70" viewBox="0 0 340 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M336.94 1H0.999913V69H290.016L336.94 1Z" stroke="white"/>
                        <path d="M340 27V4L295.116 69.5H310.927L340 27Z" fill="white"/>
                    </svg>
                    <input type="text" disabled class="project-name" name="projectName" placeholder="Name of project" value="<%= reqHack.projectName %>">                    
                </div>
                <h1 class="team-name"><%= reqTeam.teamName %></h1>
                <p class="participant">Team Members:</p>
                <p class="participant"><%= reqTeam.participant1 %></p>
                <p class="participant"><%= reqTeam.participant2 %></p>
                <p class="participant"><%= reqTeam.participant3 %></p>
                <p class="participant"><%= reqTeam.participant4 %></p>
            </div>
            <div class="right">
                <div class="svgs">
                    <svg class="desc-svg" style="width: 43.33vw;" viewBox="0 0 858 191" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 190H60H857.5V1H100L1 190Z" fill="#0E030A" stroke="#FF0000"/>
                    </svg>
                    <input type="text" disabled placeholder="Enter description of your project" name="desc" class="desc" value="<%= reqHack.desc %>">
                </div>
                <div class="svgs">
                    <svg class="svg-input" width="858" height="70" viewBox="0 0 858 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M854.787 1H1.00089V69H805.51L854.787 1Z" stroke="white"/>
                        <path d="M858 27V4L810.865 69.5H827.469L858 27Z" fill="white"/>
                    </svg>
                    <input class="input-text" disabled name="submissionLink" type="text" placeholder="Github Link" value="<%= reqHack.submissionLink %>">                    
                </div>
                <div class="svgs">
                    <svg class="svg-input" width="858" height="70" viewBox="0 0 858 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M854.787 1H1.00089V69H805.51L854.787 1Z" stroke="white"/>
                        <path d="M858 27V4L810.865 69.5H827.469L858 27Z" fill="white"/>
                    </svg>
                    <input class="input-text" disabled name="gdLink" type="text" placeholder="Google Drive Link" value="<%= reqHack.gdLink %>">                    
                </div>
                <% if (isAdmin) { %>
                <button type="submit">
                    <svg class="sub-button" width="243" height="70" viewBox="0 0 243 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1H176.165L123.041 69H1V1Z" stroke="#FF0000"/>
                        <path d="M136.92 69L190.044 1H213.495L160.371 69H136.92Z" stroke="#FF0000"/>
                        <path d="M173.518 69L226.642 1H241L187.876 69H173.518Z" stroke="#FF0000"/>
                        <path d="M40.32 40.01C40.32 40.52 40.23 41.03 39.96 41.45C39.63 41.96 38.46 43.19 37.92 43.52C37.5 43.79 36.87 44 36.39 44H28.47V26H36.39C36.87 26 37.5 26.18 37.92 26.45C38.46 26.78 39.63 28.07 39.96 28.58C40.23 29 40.32 29.51 40.32 30.02V40.01ZM38.58 30.08C38.58 29.93 38.55 29.75 38.49 29.63C38.1 28.94 37.11 28.01 36.63 27.77C36.54 27.71 36.39 27.68 36.24 27.68H30.21V42.32H36.24C36.39 42.32 36.54 42.29 36.63 42.23C37.11 41.99 38.1 41.03 38.49 40.34C38.55 40.22 38.58 40.1 38.58 39.95V30.08ZM55.1084 44H44.7884V26H55.1084V27.68H46.5284V34.16H54.6584V35.84H46.5284V42.32H55.1084V44ZM69.8698 44H59.7298V26H61.4698V42.32H69.8698V44ZM83.7021 44H73.3821V26H83.7021V27.68H75.1221V34.16H83.2521V35.84H75.1221V42.32H83.7021V44ZM99.0935 27.68H93.9635V44H92.2235V27.68H87.0935V26H99.0935V27.68ZM112.735 44H102.415V26H112.735V27.68H104.155V34.16H112.285V35.84H104.155V42.32H112.735V44Z" fill="white"/>
                    </svg>
                </button>
                <% } %>
            </div>
        </form>
    <% } else if(canView) { %>
        <div class="titles">
            <svg class="title" width="602" height="81" viewBox="0 0 602 81" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M104.038 52H97.8111V37.3529H84.8837V52H78.6572V16.5386H84.8837V31.4229H97.8111V16.5386H104.038V52ZM140.523 52H133.881L131.272 44.4689H117.811L115.202 52H108.56L120.954 16.5386H128.188L140.523 52ZM129.315 38.5389L124.571 24.5441L119.768 38.5389H129.315ZM170.281 45.1212C169.886 46.0305 169.471 46.7816 169.036 47.3746C166.585 50.6559 164.075 52.2965 161.505 52.2965H154.092C152.788 52.2965 151.562 51.9407 150.416 51.2291C149.823 50.8733 149.052 50.221 148.103 49.2722C147.154 48.3234 146.482 47.5723 146.087 47.0188C145.454 46.07 145.138 44.9433 145.138 43.6387V24.9592C145.138 23.6941 145.454 22.5872 146.087 21.6384C146.482 21.0454 147.154 20.2745 148.103 19.3257C149.091 18.3374 149.862 17.6851 150.416 17.3688C151.681 16.6572 152.906 16.3014 154.092 16.3014H161.505C164.035 16.3014 166.545 17.942 169.036 21.2233C169.273 21.5396 169.688 22.2314 170.281 23.2988L164.233 25.0185C163.047 23.5558 162.157 22.6465 161.564 22.2907C161.525 22.2512 161.446 22.2314 161.327 22.2314H154.33L154.092 22.2907C153.064 22.8442 152.175 23.7139 151.424 24.8999C151.384 24.979 151.365 25.1964 151.365 25.5522V43.5794C151.365 43.8957 151.681 44.3701 152.313 45.0026C152.985 45.5956 153.578 46.0305 154.092 46.3072C154.132 46.3467 154.27 46.3665 154.507 46.3665H161.268C161.386 46.3665 161.485 46.3467 161.564 46.3072C161.92 46.1491 162.315 45.8328 162.75 45.3584C163.225 44.884 163.6 44.4491 163.877 44.0538L164.233 43.5201L170.281 45.1212ZM204.719 52H197.069L184.794 37.175H184.142V52H177.915V16.5386H184.142V31.3043H184.735C186.158 29.6439 188.233 27.1533 190.961 23.8325C193.689 20.5117 195.705 18.0804 197.01 16.5386H204.66L189.894 34.21C190.526 34.9611 192.72 37.6099 196.476 42.1562C200.271 46.7025 203.019 49.9838 204.719 52ZM250.049 43.5794C250.049 44.9631 249.732 46.0898 249.1 46.9595C248.704 47.5525 248.032 48.3432 247.084 49.3315C246.135 50.2803 245.364 50.9128 244.771 51.2291C243.506 51.9407 242.28 52.2965 241.094 52.2965H230.776C228.206 52.2965 225.696 50.6559 223.245 47.3746C223.008 47.0583 222.652 46.4456 222.178 45.5363L228.048 43.5794C228.839 44.6863 229.709 45.5956 230.657 46.3072C230.737 46.3467 230.875 46.3665 231.073 46.3665H240.798L241.154 46.3072C241.588 46.07 242.142 45.6154 242.814 44.9433C243.486 44.2712 243.822 43.8166 243.822 43.5794V40.0807C243.822 39.4877 243.585 39.1517 243.11 39.0726L227.692 34.6844C226.23 34.2891 225.083 33.4786 224.253 32.2531C223.462 31.0276 223.067 29.6834 223.067 28.2207V25.0185C223.067 23.6348 223.364 22.5081 223.957 21.6384C224.352 21.0849 225.024 20.3338 225.973 19.385C226.961 18.3967 227.752 17.7246 228.345 17.3688C229.61 16.6572 230.835 16.3014 232.021 16.3014H240.798C243.328 16.3014 245.838 17.942 248.329 21.2233C248.724 21.7768 249.12 22.4686 249.515 23.2988L243.526 25.0185C242.616 23.7139 241.747 22.8046 240.916 22.2907C240.877 22.2512 240.758 22.2314 240.561 22.2314H232.199L231.843 22.2907C231.369 22.5279 230.816 22.9628 230.183 23.5953C229.59 24.2278 229.294 24.6627 229.294 24.8999V27.8649C229.294 28.4579 229.511 28.7939 229.946 28.873L245.423 33.3798C246.846 33.7751 247.973 34.6053 248.803 35.8704C249.633 37.0959 250.049 38.4203 250.049 39.8435V43.5794ZM276.336 43.5201V16.5386H282.562V43.5794C282.562 44.884 282.246 46.0107 281.613 46.9595C281.178 47.5525 280.487 48.3432 279.538 49.3315C278.629 50.2803 277.877 50.9128 277.284 51.2291C276.138 51.9407 274.932 52.2965 273.667 52.2965H266.136C264.831 52.2965 263.606 51.9407 262.459 51.2291C261.906 50.9128 261.135 50.2803 260.147 49.3315C259.198 48.3432 258.526 47.5525 258.131 46.9595C257.498 46.0107 257.182 44.884 257.182 43.5794V16.5386H263.408V43.4608C263.408 43.6189 263.428 43.7178 263.468 43.7573C264.298 44.9828 265.167 45.8328 266.077 46.3072L266.373 46.3665H273.43C273.549 46.3665 273.647 46.3467 273.726 46.3072C274.636 45.8328 275.486 44.9828 276.276 43.7573L276.336 43.5201ZM315.692 43.9352C315.692 45.3189 315.356 46.5049 314.684 47.4932C314.407 47.8885 313.913 48.4618 313.202 49.2129C312.49 49.9245 311.937 50.4187 311.541 50.6954C310.316 51.5651 308.893 52 307.272 52H290.608V16.5386H307.272C308.813 16.5386 310.237 16.9932 311.541 17.9025C311.937 18.1792 312.49 18.6932 313.202 19.4443C313.913 20.1559 314.407 20.7094 314.684 21.1047C315.356 22.093 315.692 23.3186 315.692 24.7813V29.1695C315.692 31.0671 314.921 32.7868 313.38 34.3286C314.921 35.8704 315.692 37.5703 315.692 39.4284V43.9352ZM309.406 29.466C309.446 29.3869 309.466 29.2486 309.466 29.0509V24.8406L309.406 24.5441C309.13 24.0697 308.754 23.6151 308.28 23.1802C307.845 22.7058 307.489 22.4686 307.212 22.4686H296.835V31.4229H307.272C307.548 31.4229 307.924 31.2055 308.398 30.7706C308.873 30.3357 309.209 29.9009 309.406 29.466ZM309.406 44.1131C309.446 43.9945 309.466 43.8561 309.466 43.698V39.4877L309.406 39.1912C309.13 38.7168 308.754 38.2622 308.28 37.8273C307.845 37.3924 307.489 37.175 307.212 37.175H296.835V46.07H307.272C307.548 46.07 307.924 45.8526 308.398 45.4177C308.873 44.9828 309.209 44.548 309.406 44.1131ZM354.159 52H347.933V27.7463L340.876 43.2829H336.785L329.728 27.8056V52H323.501V16.5386H330.617L338.919 34.0321L347.103 16.5386H354.159V52ZM368.933 52H362.707V16.5386H368.933V52ZM403.684 43.5794C403.684 44.9631 403.368 46.0898 402.735 46.9595C402.34 47.5525 401.668 48.3432 400.719 49.3315C399.77 50.2803 399 50.9128 398.407 51.2291C397.141 51.9407 395.916 52.2965 394.73 52.2965H384.412C381.842 52.2965 379.332 50.6559 376.881 47.3746C376.643 47.0583 376.288 46.4456 375.813 45.5363L381.684 43.5794C382.475 44.6863 383.344 45.5956 384.293 46.3072C384.372 46.3467 384.511 46.3665 384.708 46.3665H394.433L394.789 46.3072C395.224 46.07 395.778 45.6154 396.45 44.9433C397.122 44.2712 397.458 43.8166 397.458 43.5794V40.0807C397.458 39.4877 397.221 39.1517 396.746 39.0726L381.328 34.6844C379.865 34.2891 378.719 33.4786 377.889 32.2531C377.098 31.0276 376.703 29.6834 376.703 28.2207V25.0185C376.703 23.6348 376.999 22.5081 377.592 21.6384C377.988 21.0849 378.66 20.3338 379.608 19.385C380.597 18.3967 381.387 17.7246 381.98 17.3688C383.245 16.6572 384.471 16.3014 385.657 16.3014H394.433C396.964 16.3014 399.474 17.942 401.965 21.2233C402.36 21.7768 402.755 22.4686 403.151 23.2988L397.161 25.0185C396.252 23.7139 395.382 22.8046 394.552 22.2907C394.512 22.2512 394.394 22.2314 394.196 22.2314H385.835L385.479 22.2907C385.005 22.5279 384.451 22.9628 383.819 23.5953C383.226 24.2278 382.929 24.6627 382.929 24.8999V27.8649C382.929 28.4579 383.147 28.7939 383.582 28.873L399.059 33.3798C400.482 33.7751 401.609 34.6053 402.439 35.8704C403.269 37.0959 403.684 38.4203 403.684 39.8435V43.5794ZM437.562 43.5794C437.562 44.9631 437.245 46.0898 436.613 46.9595C436.218 47.5525 435.545 48.3432 434.597 49.3315C433.648 50.2803 432.877 50.9128 432.284 51.2291C431.019 51.9407 429.793 52.2965 428.607 52.2965H418.289C415.719 52.2965 413.209 50.6559 410.758 47.3746C410.521 47.0583 410.165 46.4456 409.691 45.5363L415.561 43.5794C416.352 44.6863 417.222 45.5956 418.171 46.3072C418.25 46.3467 418.388 46.3665 418.586 46.3665H428.311L428.667 46.3072C429.102 46.07 429.655 45.6154 430.327 44.9433C430.999 44.2712 431.335 43.8166 431.335 43.5794V40.0807C431.335 39.4877 431.098 39.1517 430.624 39.0726L415.206 34.6844C413.743 34.2891 412.596 33.4786 411.766 32.2531C410.975 31.0276 410.58 29.6834 410.58 28.2207V25.0185C410.58 23.6348 410.877 22.5081 411.47 21.6384C411.865 21.0849 412.537 20.3338 413.486 19.385C414.474 18.3967 415.265 17.7246 415.858 17.3688C417.123 16.6572 418.348 16.3014 419.534 16.3014H428.311C430.841 16.3014 433.351 17.942 435.842 21.2233C436.237 21.7768 436.633 22.4686 437.028 23.2988L431.039 25.0185C430.129 23.7139 429.26 22.8046 428.429 22.2907C428.39 22.2512 428.271 22.2314 428.074 22.2314H419.712L419.357 22.2907C418.882 22.5279 418.329 22.9628 417.696 23.5953C417.103 24.2278 416.807 24.6627 416.807 24.8999V27.8649C416.807 28.4579 417.024 28.7939 417.459 28.873L432.936 33.3798C434.359 33.7751 435.486 34.6053 436.316 35.8704C437.147 37.0959 437.562 38.4203 437.562 39.8435V43.5794ZM451.455 52H445.228V16.5386H451.455V52ZM486.977 43.5794C486.977 44.884 486.661 46.0107 486.028 46.9595C485.554 47.592 484.842 48.3827 483.893 49.3315C482.984 50.2803 482.253 50.9128 481.699 51.2291C480.553 51.9407 479.327 52.2965 478.023 52.2965H469.009C467.705 52.2965 466.479 51.9407 465.333 51.2291C464.779 50.9128 464.008 50.2803 463.02 49.3315C462.071 48.3432 461.399 47.5525 461.004 46.9595C460.371 46.0107 460.055 44.884 460.055 43.5794V25.0185C460.055 23.7139 460.371 22.5872 461.004 21.6384C461.399 21.0454 462.071 20.2745 463.02 19.3257C464.008 18.3374 464.779 17.6851 465.333 17.3688C466.479 16.6572 467.705 16.3014 469.009 16.3014H478.023C479.327 16.3014 480.553 16.6572 481.699 17.3688C482.253 17.6851 482.984 18.3176 483.893 19.2664C484.842 20.2152 485.554 21.0059 486.028 21.6384C486.661 22.5872 486.977 23.7139 486.977 25.0185V43.5794ZM466.281 25.1964V43.5201C466.281 43.6387 466.301 43.7178 466.341 43.7573C467.131 44.9433 468.001 45.7933 468.95 46.3072C469.029 46.3467 469.128 46.3665 469.246 46.3665H477.786C477.904 46.3665 478.003 46.3467 478.082 46.3072C479.031 45.7933 479.901 44.9433 480.691 43.7573L480.751 43.5201V25.1964C480.751 25.0383 480.731 24.9394 480.691 24.8999C479.861 23.6744 478.991 22.8046 478.082 22.2907C478.003 22.2512 477.904 22.2314 477.786 22.2314H469.246C469.088 22.2314 468.989 22.2512 468.95 22.2907C468.041 22.8046 467.171 23.6744 466.341 24.8999L466.281 25.1964ZM519.999 52H513.417L501.142 28.4579V52H494.915V16.5386H501.616L513.773 40.3772V16.5386H519.999V52Z" fill="white"/>
                <path d="M273.66 80H265.644V66.02H273.66V67.3248H266.996V72.3576H273.31V73.6624H266.996V78.6952H273.66V80ZM286.406 80H284.658L278.577 68.0704V80H277.272V66.02H279.066L285.101 78.0661V66.02H286.406V80ZM299.263 76.9011C299.263 77.3516 299.17 77.7244 298.983 78.0195C298.843 78.2214 298.595 78.5088 298.238 78.8816C297.88 79.2544 297.601 79.5029 297.399 79.6272C297.011 79.8757 296.614 80 296.211 80H290.059V66.02H296.211C296.645 66.02 297.042 66.1365 297.399 66.3695C297.601 66.4938 297.88 66.7501 298.238 67.1384C298.595 67.5112 298.843 67.8063 298.983 68.0238C299.17 68.3189 299.263 68.6917 299.263 69.1422V76.9011ZM297.911 69.1888C297.911 69.049 297.888 68.9325 297.842 68.8393C297.702 68.5752 297.477 68.2956 297.166 68.0005C296.855 67.6898 296.599 67.4879 296.397 67.3947C296.319 67.3481 296.218 67.3248 296.094 67.3248H291.411V78.6952H296.094C296.218 78.6952 296.319 78.6719 296.397 78.6253C296.599 78.5321 296.855 78.3302 297.166 78.0195C297.477 77.7088 297.702 77.4215 297.842 77.1574C297.888 77.0642 297.911 76.9632 297.911 76.8545V69.1888ZM312.38 76.9943C312.38 77.4603 312.286 77.8409 312.1 78.136C311.96 78.3379 311.704 78.6253 311.331 78.9981C310.974 79.3709 310.694 79.6194 310.492 79.7437C310.104 79.9922 309.708 80.1165 309.304 80.1165H305.436C305.017 80.1165 304.613 79.9922 304.225 79.7437C303.774 79.4641 303.293 78.9748 302.78 78.2758C302.562 77.9807 302.392 77.6778 302.267 77.3671L303.595 76.9943L303.759 77.2739C303.914 77.5535 304.139 77.8409 304.434 78.136C304.729 78.4311 304.978 78.6331 305.18 78.7418C305.242 78.7884 305.351 78.8117 305.506 78.8117H309.211C309.319 78.8117 309.413 78.7884 309.49 78.7418C309.692 78.6331 309.949 78.4389 310.259 78.1593C310.585 77.8642 310.818 77.5923 310.958 77.3438C311.005 77.2506 311.028 77.1496 311.028 77.0409V75.5497C311.028 75.3012 310.958 75.0759 310.818 74.874C310.679 74.6565 310.5 74.5167 310.283 74.4546L303.898 72.7071C303.463 72.5828 303.114 72.3188 302.85 71.9149C302.586 71.4955 302.454 71.0295 302.454 70.5169V69.0723C302.454 68.6063 302.547 68.2257 302.733 67.9306C302.873 67.7287 303.122 67.4413 303.479 67.0685C303.852 66.6802 304.139 66.4239 304.341 66.2996C304.729 66.0511 305.125 65.9268 305.529 65.9268H309.001C309.405 65.9268 309.801 66.0511 310.189 66.2996C310.64 66.5792 311.121 67.0685 311.634 67.7675C311.882 68.1248 312.061 68.4277 312.17 68.6762L310.818 69.0723L310.655 68.7694C310.516 68.5053 310.29 68.2257 309.98 67.9306C309.684 67.6199 309.436 67.4102 309.234 67.3015C309.156 67.2549 309.055 67.2316 308.931 67.2316H305.646C305.522 67.2316 305.421 67.2549 305.343 67.3015C305.125 67.4102 304.861 67.6044 304.551 67.884C304.256 68.1481 304.038 68.4044 303.898 68.6529C303.836 68.7772 303.805 68.8781 303.805 68.9558V70.4237C303.805 70.6567 303.875 70.8742 304.015 71.0761C304.155 71.278 304.325 71.4101 304.527 71.4722L310.888 73.243C311.339 73.3673 311.696 73.6391 311.96 74.0585C312.24 74.4624 312.38 74.9128 312.38 75.4099V76.9943ZM322.151 80H320.8V66.02H322.151V80ZM334.985 80H333.238L327.157 68.0704V80H325.852V66.02H327.646L333.681 78.0661V66.02H334.985V80Z" fill="#FF0000"/>
                <circle cx="33.6962" cy="33.2411" r="25.578" stroke="#FF0000" stroke-width="2"/>
                <circle cx="33.7717" cy="33.3171" r="21.2619" stroke="#FF0000" stroke-width="2" stroke-linecap="round" stroke-dasharray="1 20"/>
                <circle cx="34.2873" cy="33.2873" r="1.28725" fill="white"/>
                <line x1="34.1201" x2="34.1201" y2="67.543" stroke="#FF0000"/>
                <line y1="33.1201" x2="67.543" y2="33.1201" stroke="#FF0000"/>
                <circle cx="33.6954" cy="33.2413" r="10.631" stroke="#FF0000"/>
                <circle cx="567.696" cy="33.2411" r="25.578" stroke="#FF0000" stroke-width="2"/>
                <circle cx="567.772" cy="33.3171" r="21.2619" stroke="#FF0000" stroke-width="2" stroke-linecap="round" stroke-dasharray="1 20"/>
                <circle cx="568.287" cy="33.2873" r="1.28725" fill="white"/>
                <line x1="568.12" x2="568.12" y2="67.543" stroke="#FF0000"/>
                <line x1="534" y1="33.1201" x2="601.543" y2="33.1201" stroke="#FF0000"/>
                <circle cx="567.695" cy="33.2413" r="10.631" stroke="#FF0000"/>
            </svg>
            <h1 class="main-title"><span id="days">18</span> : <span id="hours">5</span> : <span id="minutes">48</span> : <span id="seconds">23</span></h1>
        </div>
        
        <form action="/hack/delete/<%= reqId %>" enctype="multipart/form-data" method="POST" style="gap: 2vw">
            <div class="left">
                <div class="svgs">
                    <img src="<%= reqHack.thumbnail %>" style="width: 15vw; margin-bottom: 10px;">
                </div>
                <div class="svgs">
                    <svg class="project-name-svg" width="340" height="70" viewBox="0 0 340 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M336.94 1H0.999913V69H290.016L336.94 1Z" stroke="white"/>
                        <path d="M340 27V4L295.116 69.5H310.927L340 27Z" fill="white"/>
                    </svg>
                    <input type="text" disabled class="project-name" name="projectName" placeholder="Name of project" value="<%= reqHack.projectName %>">                    
                </div>
                <h1 class="team-name"><%= reqTeam.teamName %></h1>
                <p class="participant">Team Members:</p>
                <p class="participant"><%= reqTeam.participant1 %></p>
                <p class="participant"><%= reqTeam.participant2 %></p>
                <p class="participant"><%= reqTeam.participant3 %></p>
                <p class="participant"><%= reqTeam.participant4 %></p>
            </div>
            <div class="right">
                <div class="svgs">
                    <svg class="desc-svg" style="width: 43.33vw;" viewBox="0 0 858 191" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 190H60H857.5V1H100L1 190Z" fill="#0E030A" stroke="#FF0000"/>
                    </svg>
                    <input type="text" disabled placeholder="Enter description of your project" name="desc" class="desc" value="<%= reqHack.desc %>">
                </div>
                <div class="svgs">
                    <svg class="svg-input" width="858" height="70" viewBox="0 0 858 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M854.787 1H1.00089V69H805.51L854.787 1Z" stroke="white"/>
                        <path d="M858 27V4L810.865 69.5H827.469L858 27Z" fill="white"/>
                    </svg>
                    <input class="input-text" disabled name="submissionLink" type="text" placeholder="Github Link" value="<%= reqHack.submissionLink %>">                    
                </div>
                <div class="svgs">
                    <svg class="svg-input" width="858" height="70" viewBox="0 0 858 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M854.787 1H1.00089V69H805.51L854.787 1Z" stroke="white"/>
                        <path d="M858 27V4L810.865 69.5H827.469L858 27Z" fill="white"/>
                    </svg>
                    <input class="input-text" disabled name="gdLink" type="text" placeholder="Google Drive Link" value="<%= reqHack.gdLink %>">                    
                </div>
            </div>
        </form>
    <% } else {  %>
    <% if (error.length > 1) { %>
        <div class="section">
            <p><%= error %></p>
            <button class="goBackBtn" onclick="history.back()">Go Back</button>
        </div>
    <% } else { %>
        <div class="titles">
            <svg class="title" width="602" height="81" viewBox="0 0 602 81" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M104.038 52H97.8111V37.3529H84.8837V52H78.6572V16.5386H84.8837V31.4229H97.8111V16.5386H104.038V52ZM140.523 52H133.881L131.272 44.4689H117.811L115.202 52H108.56L120.954 16.5386H128.188L140.523 52ZM129.315 38.5389L124.571 24.5441L119.768 38.5389H129.315ZM170.281 45.1212C169.886 46.0305 169.471 46.7816 169.036 47.3746C166.585 50.6559 164.075 52.2965 161.505 52.2965H154.092C152.788 52.2965 151.562 51.9407 150.416 51.2291C149.823 50.8733 149.052 50.221 148.103 49.2722C147.154 48.3234 146.482 47.5723 146.087 47.0188C145.454 46.07 145.138 44.9433 145.138 43.6387V24.9592C145.138 23.6941 145.454 22.5872 146.087 21.6384C146.482 21.0454 147.154 20.2745 148.103 19.3257C149.091 18.3374 149.862 17.6851 150.416 17.3688C151.681 16.6572 152.906 16.3014 154.092 16.3014H161.505C164.035 16.3014 166.545 17.942 169.036 21.2233C169.273 21.5396 169.688 22.2314 170.281 23.2988L164.233 25.0185C163.047 23.5558 162.157 22.6465 161.564 22.2907C161.525 22.2512 161.446 22.2314 161.327 22.2314H154.33L154.092 22.2907C153.064 22.8442 152.175 23.7139 151.424 24.8999C151.384 24.979 151.365 25.1964 151.365 25.5522V43.5794C151.365 43.8957 151.681 44.3701 152.313 45.0026C152.985 45.5956 153.578 46.0305 154.092 46.3072C154.132 46.3467 154.27 46.3665 154.507 46.3665H161.268C161.386 46.3665 161.485 46.3467 161.564 46.3072C161.92 46.1491 162.315 45.8328 162.75 45.3584C163.225 44.884 163.6 44.4491 163.877 44.0538L164.233 43.5201L170.281 45.1212ZM204.719 52H197.069L184.794 37.175H184.142V52H177.915V16.5386H184.142V31.3043H184.735C186.158 29.6439 188.233 27.1533 190.961 23.8325C193.689 20.5117 195.705 18.0804 197.01 16.5386H204.66L189.894 34.21C190.526 34.9611 192.72 37.6099 196.476 42.1562C200.271 46.7025 203.019 49.9838 204.719 52ZM250.049 43.5794C250.049 44.9631 249.732 46.0898 249.1 46.9595C248.704 47.5525 248.032 48.3432 247.084 49.3315C246.135 50.2803 245.364 50.9128 244.771 51.2291C243.506 51.9407 242.28 52.2965 241.094 52.2965H230.776C228.206 52.2965 225.696 50.6559 223.245 47.3746C223.008 47.0583 222.652 46.4456 222.178 45.5363L228.048 43.5794C228.839 44.6863 229.709 45.5956 230.657 46.3072C230.737 46.3467 230.875 46.3665 231.073 46.3665H240.798L241.154 46.3072C241.588 46.07 242.142 45.6154 242.814 44.9433C243.486 44.2712 243.822 43.8166 243.822 43.5794V40.0807C243.822 39.4877 243.585 39.1517 243.11 39.0726L227.692 34.6844C226.23 34.2891 225.083 33.4786 224.253 32.2531C223.462 31.0276 223.067 29.6834 223.067 28.2207V25.0185C223.067 23.6348 223.364 22.5081 223.957 21.6384C224.352 21.0849 225.024 20.3338 225.973 19.385C226.961 18.3967 227.752 17.7246 228.345 17.3688C229.61 16.6572 230.835 16.3014 232.021 16.3014H240.798C243.328 16.3014 245.838 17.942 248.329 21.2233C248.724 21.7768 249.12 22.4686 249.515 23.2988L243.526 25.0185C242.616 23.7139 241.747 22.8046 240.916 22.2907C240.877 22.2512 240.758 22.2314 240.561 22.2314H232.199L231.843 22.2907C231.369 22.5279 230.816 22.9628 230.183 23.5953C229.59 24.2278 229.294 24.6627 229.294 24.8999V27.8649C229.294 28.4579 229.511 28.7939 229.946 28.873L245.423 33.3798C246.846 33.7751 247.973 34.6053 248.803 35.8704C249.633 37.0959 250.049 38.4203 250.049 39.8435V43.5794ZM276.336 43.5201V16.5386H282.562V43.5794C282.562 44.884 282.246 46.0107 281.613 46.9595C281.178 47.5525 280.487 48.3432 279.538 49.3315C278.629 50.2803 277.877 50.9128 277.284 51.2291C276.138 51.9407 274.932 52.2965 273.667 52.2965H266.136C264.831 52.2965 263.606 51.9407 262.459 51.2291C261.906 50.9128 261.135 50.2803 260.147 49.3315C259.198 48.3432 258.526 47.5525 258.131 46.9595C257.498 46.0107 257.182 44.884 257.182 43.5794V16.5386H263.408V43.4608C263.408 43.6189 263.428 43.7178 263.468 43.7573C264.298 44.9828 265.167 45.8328 266.077 46.3072L266.373 46.3665H273.43C273.549 46.3665 273.647 46.3467 273.726 46.3072C274.636 45.8328 275.486 44.9828 276.276 43.7573L276.336 43.5201ZM315.692 43.9352C315.692 45.3189 315.356 46.5049 314.684 47.4932C314.407 47.8885 313.913 48.4618 313.202 49.2129C312.49 49.9245 311.937 50.4187 311.541 50.6954C310.316 51.5651 308.893 52 307.272 52H290.608V16.5386H307.272C308.813 16.5386 310.237 16.9932 311.541 17.9025C311.937 18.1792 312.49 18.6932 313.202 19.4443C313.913 20.1559 314.407 20.7094 314.684 21.1047C315.356 22.093 315.692 23.3186 315.692 24.7813V29.1695C315.692 31.0671 314.921 32.7868 313.38 34.3286C314.921 35.8704 315.692 37.5703 315.692 39.4284V43.9352ZM309.406 29.466C309.446 29.3869 309.466 29.2486 309.466 29.0509V24.8406L309.406 24.5441C309.13 24.0697 308.754 23.6151 308.28 23.1802C307.845 22.7058 307.489 22.4686 307.212 22.4686H296.835V31.4229H307.272C307.548 31.4229 307.924 31.2055 308.398 30.7706C308.873 30.3357 309.209 29.9009 309.406 29.466ZM309.406 44.1131C309.446 43.9945 309.466 43.8561 309.466 43.698V39.4877L309.406 39.1912C309.13 38.7168 308.754 38.2622 308.28 37.8273C307.845 37.3924 307.489 37.175 307.212 37.175H296.835V46.07H307.272C307.548 46.07 307.924 45.8526 308.398 45.4177C308.873 44.9828 309.209 44.548 309.406 44.1131ZM354.159 52H347.933V27.7463L340.876 43.2829H336.785L329.728 27.8056V52H323.501V16.5386H330.617L338.919 34.0321L347.103 16.5386H354.159V52ZM368.933 52H362.707V16.5386H368.933V52ZM403.684 43.5794C403.684 44.9631 403.368 46.0898 402.735 46.9595C402.34 47.5525 401.668 48.3432 400.719 49.3315C399.77 50.2803 399 50.9128 398.407 51.2291C397.141 51.9407 395.916 52.2965 394.73 52.2965H384.412C381.842 52.2965 379.332 50.6559 376.881 47.3746C376.643 47.0583 376.288 46.4456 375.813 45.5363L381.684 43.5794C382.475 44.6863 383.344 45.5956 384.293 46.3072C384.372 46.3467 384.511 46.3665 384.708 46.3665H394.433L394.789 46.3072C395.224 46.07 395.778 45.6154 396.45 44.9433C397.122 44.2712 397.458 43.8166 397.458 43.5794V40.0807C397.458 39.4877 397.221 39.1517 396.746 39.0726L381.328 34.6844C379.865 34.2891 378.719 33.4786 377.889 32.2531C377.098 31.0276 376.703 29.6834 376.703 28.2207V25.0185C376.703 23.6348 376.999 22.5081 377.592 21.6384C377.988 21.0849 378.66 20.3338 379.608 19.385C380.597 18.3967 381.387 17.7246 381.98 17.3688C383.245 16.6572 384.471 16.3014 385.657 16.3014H394.433C396.964 16.3014 399.474 17.942 401.965 21.2233C402.36 21.7768 402.755 22.4686 403.151 23.2988L397.161 25.0185C396.252 23.7139 395.382 22.8046 394.552 22.2907C394.512 22.2512 394.394 22.2314 394.196 22.2314H385.835L385.479 22.2907C385.005 22.5279 384.451 22.9628 383.819 23.5953C383.226 24.2278 382.929 24.6627 382.929 24.8999V27.8649C382.929 28.4579 383.147 28.7939 383.582 28.873L399.059 33.3798C400.482 33.7751 401.609 34.6053 402.439 35.8704C403.269 37.0959 403.684 38.4203 403.684 39.8435V43.5794ZM437.562 43.5794C437.562 44.9631 437.245 46.0898 436.613 46.9595C436.218 47.5525 435.545 48.3432 434.597 49.3315C433.648 50.2803 432.877 50.9128 432.284 51.2291C431.019 51.9407 429.793 52.2965 428.607 52.2965H418.289C415.719 52.2965 413.209 50.6559 410.758 47.3746C410.521 47.0583 410.165 46.4456 409.691 45.5363L415.561 43.5794C416.352 44.6863 417.222 45.5956 418.171 46.3072C418.25 46.3467 418.388 46.3665 418.586 46.3665H428.311L428.667 46.3072C429.102 46.07 429.655 45.6154 430.327 44.9433C430.999 44.2712 431.335 43.8166 431.335 43.5794V40.0807C431.335 39.4877 431.098 39.1517 430.624 39.0726L415.206 34.6844C413.743 34.2891 412.596 33.4786 411.766 32.2531C410.975 31.0276 410.58 29.6834 410.58 28.2207V25.0185C410.58 23.6348 410.877 22.5081 411.47 21.6384C411.865 21.0849 412.537 20.3338 413.486 19.385C414.474 18.3967 415.265 17.7246 415.858 17.3688C417.123 16.6572 418.348 16.3014 419.534 16.3014H428.311C430.841 16.3014 433.351 17.942 435.842 21.2233C436.237 21.7768 436.633 22.4686 437.028 23.2988L431.039 25.0185C430.129 23.7139 429.26 22.8046 428.429 22.2907C428.39 22.2512 428.271 22.2314 428.074 22.2314H419.712L419.357 22.2907C418.882 22.5279 418.329 22.9628 417.696 23.5953C417.103 24.2278 416.807 24.6627 416.807 24.8999V27.8649C416.807 28.4579 417.024 28.7939 417.459 28.873L432.936 33.3798C434.359 33.7751 435.486 34.6053 436.316 35.8704C437.147 37.0959 437.562 38.4203 437.562 39.8435V43.5794ZM451.455 52H445.228V16.5386H451.455V52ZM486.977 43.5794C486.977 44.884 486.661 46.0107 486.028 46.9595C485.554 47.592 484.842 48.3827 483.893 49.3315C482.984 50.2803 482.253 50.9128 481.699 51.2291C480.553 51.9407 479.327 52.2965 478.023 52.2965H469.009C467.705 52.2965 466.479 51.9407 465.333 51.2291C464.779 50.9128 464.008 50.2803 463.02 49.3315C462.071 48.3432 461.399 47.5525 461.004 46.9595C460.371 46.0107 460.055 44.884 460.055 43.5794V25.0185C460.055 23.7139 460.371 22.5872 461.004 21.6384C461.399 21.0454 462.071 20.2745 463.02 19.3257C464.008 18.3374 464.779 17.6851 465.333 17.3688C466.479 16.6572 467.705 16.3014 469.009 16.3014H478.023C479.327 16.3014 480.553 16.6572 481.699 17.3688C482.253 17.6851 482.984 18.3176 483.893 19.2664C484.842 20.2152 485.554 21.0059 486.028 21.6384C486.661 22.5872 486.977 23.7139 486.977 25.0185V43.5794ZM466.281 25.1964V43.5201C466.281 43.6387 466.301 43.7178 466.341 43.7573C467.131 44.9433 468.001 45.7933 468.95 46.3072C469.029 46.3467 469.128 46.3665 469.246 46.3665H477.786C477.904 46.3665 478.003 46.3467 478.082 46.3072C479.031 45.7933 479.901 44.9433 480.691 43.7573L480.751 43.5201V25.1964C480.751 25.0383 480.731 24.9394 480.691 24.8999C479.861 23.6744 478.991 22.8046 478.082 22.2907C478.003 22.2512 477.904 22.2314 477.786 22.2314H469.246C469.088 22.2314 468.989 22.2512 468.95 22.2907C468.041 22.8046 467.171 23.6744 466.341 24.8999L466.281 25.1964ZM519.999 52H513.417L501.142 28.4579V52H494.915V16.5386H501.616L513.773 40.3772V16.5386H519.999V52Z" fill="white"/>
                <path d="M273.66 80H265.644V66.02H273.66V67.3248H266.996V72.3576H273.31V73.6624H266.996V78.6952H273.66V80ZM286.406 80H284.658L278.577 68.0704V80H277.272V66.02H279.066L285.101 78.0661V66.02H286.406V80ZM299.263 76.9011C299.263 77.3516 299.17 77.7244 298.983 78.0195C298.843 78.2214 298.595 78.5088 298.238 78.8816C297.88 79.2544 297.601 79.5029 297.399 79.6272C297.011 79.8757 296.614 80 296.211 80H290.059V66.02H296.211C296.645 66.02 297.042 66.1365 297.399 66.3695C297.601 66.4938 297.88 66.7501 298.238 67.1384C298.595 67.5112 298.843 67.8063 298.983 68.0238C299.17 68.3189 299.263 68.6917 299.263 69.1422V76.9011ZM297.911 69.1888C297.911 69.049 297.888 68.9325 297.842 68.8393C297.702 68.5752 297.477 68.2956 297.166 68.0005C296.855 67.6898 296.599 67.4879 296.397 67.3947C296.319 67.3481 296.218 67.3248 296.094 67.3248H291.411V78.6952H296.094C296.218 78.6952 296.319 78.6719 296.397 78.6253C296.599 78.5321 296.855 78.3302 297.166 78.0195C297.477 77.7088 297.702 77.4215 297.842 77.1574C297.888 77.0642 297.911 76.9632 297.911 76.8545V69.1888ZM312.38 76.9943C312.38 77.4603 312.286 77.8409 312.1 78.136C311.96 78.3379 311.704 78.6253 311.331 78.9981C310.974 79.3709 310.694 79.6194 310.492 79.7437C310.104 79.9922 309.708 80.1165 309.304 80.1165H305.436C305.017 80.1165 304.613 79.9922 304.225 79.7437C303.774 79.4641 303.293 78.9748 302.78 78.2758C302.562 77.9807 302.392 77.6778 302.267 77.3671L303.595 76.9943L303.759 77.2739C303.914 77.5535 304.139 77.8409 304.434 78.136C304.729 78.4311 304.978 78.6331 305.18 78.7418C305.242 78.7884 305.351 78.8117 305.506 78.8117H309.211C309.319 78.8117 309.413 78.7884 309.49 78.7418C309.692 78.6331 309.949 78.4389 310.259 78.1593C310.585 77.8642 310.818 77.5923 310.958 77.3438C311.005 77.2506 311.028 77.1496 311.028 77.0409V75.5497C311.028 75.3012 310.958 75.0759 310.818 74.874C310.679 74.6565 310.5 74.5167 310.283 74.4546L303.898 72.7071C303.463 72.5828 303.114 72.3188 302.85 71.9149C302.586 71.4955 302.454 71.0295 302.454 70.5169V69.0723C302.454 68.6063 302.547 68.2257 302.733 67.9306C302.873 67.7287 303.122 67.4413 303.479 67.0685C303.852 66.6802 304.139 66.4239 304.341 66.2996C304.729 66.0511 305.125 65.9268 305.529 65.9268H309.001C309.405 65.9268 309.801 66.0511 310.189 66.2996C310.64 66.5792 311.121 67.0685 311.634 67.7675C311.882 68.1248 312.061 68.4277 312.17 68.6762L310.818 69.0723L310.655 68.7694C310.516 68.5053 310.29 68.2257 309.98 67.9306C309.684 67.6199 309.436 67.4102 309.234 67.3015C309.156 67.2549 309.055 67.2316 308.931 67.2316H305.646C305.522 67.2316 305.421 67.2549 305.343 67.3015C305.125 67.4102 304.861 67.6044 304.551 67.884C304.256 68.1481 304.038 68.4044 303.898 68.6529C303.836 68.7772 303.805 68.8781 303.805 68.9558V70.4237C303.805 70.6567 303.875 70.8742 304.015 71.0761C304.155 71.278 304.325 71.4101 304.527 71.4722L310.888 73.243C311.339 73.3673 311.696 73.6391 311.96 74.0585C312.24 74.4624 312.38 74.9128 312.38 75.4099V76.9943ZM322.151 80H320.8V66.02H322.151V80ZM334.985 80H333.238L327.157 68.0704V80H325.852V66.02H327.646L333.681 78.0661V66.02H334.985V80Z" fill="#FF0000"/>
                <circle cx="33.6962" cy="33.2411" r="25.578" stroke="#FF0000" stroke-width="2"/>
                <circle cx="33.7717" cy="33.3171" r="21.2619" stroke="#FF0000" stroke-width="2" stroke-linecap="round" stroke-dasharray="1 20"/>
                <circle cx="34.2873" cy="33.2873" r="1.28725" fill="white"/>
                <line x1="34.1201" x2="34.1201" y2="67.543" stroke="#FF0000"/>
                <line y1="33.1201" x2="67.543" y2="33.1201" stroke="#FF0000"/>
                <circle cx="33.6954" cy="33.2413" r="10.631" stroke="#FF0000"/>
                <circle cx="567.696" cy="33.2411" r="25.578" stroke="#FF0000" stroke-width="2"/>
                <circle cx="567.772" cy="33.3171" r="21.2619" stroke="#FF0000" stroke-width="2" stroke-linecap="round" stroke-dasharray="1 20"/>
                <circle cx="568.287" cy="33.2873" r="1.28725" fill="white"/>
                <line x1="568.12" x2="568.12" y2="67.543" stroke="#FF0000"/>
                <line x1="534" y1="33.1201" x2="601.543" y2="33.1201" stroke="#FF0000"/>
                <circle cx="567.695" cy="33.2413" r="10.631" stroke="#FF0000"/>
            </svg>
            <h1 class="main-title"><span id="days">18</span> : <span id="hours">5</span> : <span id="minutes">48</span> : <span id="seconds">23</span></h1>
        </div>
        
        <form action="/hack/post" enctype="multipart/form-data" method="POST">
            <div class="left">
                <div class="svgs">
                    <svg class="upload-svg" width="510" height="192" viewBox="0 0 510 192" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.999969 1H445.25L341.25 191H0.999969V1Z" fill="#0F0309"/>
                        <path d="M370.979 191L474.979 1H509L405 191H370.979Z" fill="#FF0000"/>
                        <path d="M0.999969 1H445.25L341.25 191H0.999969V1Z" stroke="#FF0000" stroke-dasharray="30 30"/>
                        <path d="M370.979 191L474.979 1H509L405 191H370.979Z" stroke="#FF0000" stroke-dasharray="30 30"/>
                    </svg>
                    <label class="upload-label" for="upload">Click to upload thumbnail</label>
                    <input type="file" name="thumbnail" id="upload" style="display: none;">
                </div>
                <div class="svgs">
                    <svg class="project-name-svg" width="340" height="70" viewBox="0 0 340 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M336.94 1H0.999913V69H290.016L336.94 1Z" stroke="white"/>
                        <path d="M340 27V4L295.116 69.5H310.927L340 27Z" fill="white"/>
                    </svg>
                    <input type="text" class="project-name" name="projectName" placeholder="Name of project" autocomplete="off">                    
                </div>
                <h1 class="team-name"><%= reqTeam.teamName %></h1>
                <p class="participant">Team Members:</p>
                <p class="participant"><%= reqTeam.participant1 %></p>
                <p class="participant"><%= reqTeam.participant2 %></p>
                <p class="participant"><%= reqTeam.participant3 %></p>
                <p class="participant"><%= reqTeam.participant4 %></p>
            </div>
            <div class="right">
                <div class="svgs">
                    <svg class="desc-svg" width="858" height="191" viewBox="0 0 858 191" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 190H60H857.5V1H100L1 190Z" fill="#0E030A" stroke="#FF0000"/>
                    </svg>
                    <input type="text" placeholder="Enter description of your project" name="desc" class="desc" autocomplete="off">
                </div>
                <div class="svgs">
                    <svg class="svg-input" width="858" height="70" viewBox="0 0 858 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M854.787 1H1.00089V69H805.51L854.787 1Z" stroke="white"/>
                        <path d="M858 27V4L810.865 69.5H827.469L858 27Z" fill="white"/>
                    </svg>
                    <input class="input-text" name="submissionLink" type="text" placeholder="Github Link" autocomplete="off">                    
                </div>
                <div class="svgs">
                    <svg class="svg-input" width="858" height="70" viewBox="0 0 858 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M854.787 1H1.00089V69H805.51L854.787 1Z" stroke="white"/>
                        <path d="M858 27V4L810.865 69.5H827.469L858 27Z" fill="white"/>
                    </svg>
                    <input class="input-text" name="gdLink" type="text" placeholder="Google Drive Link" autocomplete="off">                    
                </div>
                <label class="upload-label2" for="env">Click to upload .env</label>
                <input type="file" name="env" id="env" style="display: none;">

                <button type="submit">
                    <svg class="sub-button" width="243" height="70" viewBox="0 0 243 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1H176.165L123.041 69H1V1Z" stroke="#FF0000"/>
                        <path d="M136.92 69L190.044 1H213.495L160.371 69H136.92Z" stroke="#FF0000"/>
                        <path d="M173.518 69L226.642 1H241L187.876 69H173.518Z" stroke="#FF0000"/>
                        <path d="M41.58 39.74C41.58 40.44 41.42 41.01 41.1 41.45C40.9 41.75 40.56 42.15 40.08 42.65C39.6 43.13 39.21 43.45 38.91 43.61C38.27 43.97 37.65 44.15 37.05 44.15H31.83C30.53 44.15 29.26 43.32 28.02 41.66C27.9 41.5 27.72 41.19 27.48 40.73L30.45 39.74C30.85 40.3 31.29 40.76 31.77 41.12C31.81 41.14 31.88 41.15 31.98 41.15H36.9L37.08 41.12C37.3 41 37.58 40.77 37.92 40.43C38.26 40.09 38.43 39.86 38.43 39.74V37.97C38.43 37.67 38.31 37.5 38.07 37.46L30.27 35.24C29.53 35.04 28.95 34.63 28.53 34.01C28.13 33.39 27.93 32.71 27.93 31.97V30.35C27.93 29.65 28.08 29.08 28.38 28.64C28.58 28.36 28.92 27.98 29.4 27.5C29.9 27 30.3 26.66 30.6 26.48C31.24 26.12 31.86 25.94 32.46 25.94H36.9C38.18 25.94 39.45 26.77 40.71 28.43C40.91 28.71 41.11 29.06 41.31 29.48L38.28 30.35C37.82 29.69 37.38 29.23 36.96 28.97C36.94 28.95 36.88 28.94 36.78 28.94H32.55L32.37 28.97C32.13 29.09 31.85 29.31 31.53 29.63C31.23 29.95 31.08 30.17 31.08 30.29V31.79C31.08 32.09 31.19 32.26 31.41 32.3L39.24 34.58C39.96 34.78 40.53 35.2 40.95 35.84C41.37 36.46 41.58 37.13 41.58 37.85V39.74ZM54.8787 39.71V26.06H58.0287V39.74C58.0287 40.4 57.8687 40.97 57.5487 41.45C57.3287 41.75 56.9787 42.15 56.4987 42.65C56.0387 43.13 55.6587 43.45 55.3587 43.61C54.7787 43.97 54.1687 44.15 53.5287 44.15H49.7187C49.0587 44.15 48.4387 43.97 47.8587 43.61C47.5787 43.45 47.1887 43.13 46.6887 42.65C46.2087 42.15 45.8687 41.75 45.6687 41.45C45.3487 40.97 45.1887 40.4 45.1887 39.74V26.06H48.3387V39.68C48.3387 39.76 48.3487 39.81 48.3687 39.83C48.7887 40.45 49.2287 40.88 49.6887 41.12L49.8387 41.15H53.4087C53.4687 41.15 53.5187 41.14 53.5587 41.12C54.0187 40.88 54.4487 40.45 54.8487 39.83L54.8787 39.71ZM74.7893 39.92C74.7893 40.62 74.6193 41.22 74.2793 41.72C74.1393 41.92 73.8893 42.21 73.5293 42.59C73.1693 42.95 72.8893 43.2 72.6893 43.34C72.0693 43.78 71.3493 44 70.5293 44H62.0993V26.06H70.5293C71.3093 26.06 72.0293 26.29 72.6893 26.75C72.8893 26.89 73.1693 27.15 73.5293 27.53C73.8893 27.89 74.1393 28.17 74.2793 28.37C74.6193 28.87 74.7893 29.49 74.7893 30.23V32.45C74.7893 33.41 74.3993 34.28 73.6193 35.06C74.3993 35.84 74.7893 36.7 74.7893 37.64V39.92ZM71.6093 32.6C71.6293 32.56 71.6393 32.49 71.6393 32.39V30.26L71.6093 30.11C71.4693 29.87 71.2793 29.64 71.0393 29.42C70.8193 29.18 70.6393 29.06 70.4993 29.06H65.2493V33.59H70.5293C70.6693 33.59 70.8593 33.48 71.0993 33.26C71.3393 33.04 71.5093 32.82 71.6093 32.6ZM71.6093 40.01C71.6293 39.95 71.6393 39.88 71.6393 39.8V37.67L71.6093 37.52C71.4693 37.28 71.2793 37.05 71.0393 36.83C70.8193 36.61 70.6393 36.5 70.4993 36.5H65.2493V41H70.5293C70.6693 41 70.8593 40.89 71.0993 40.67C71.3393 40.45 71.5093 40.23 71.6093 40.01ZM94.2499 44H91.0999V31.73L87.5299 39.59H85.4599L81.8899 31.76V44H78.7399V26.06H82.3399L86.5399 34.91L90.6799 26.06H94.2499V44ZM101.724 44H98.5739V26.06H101.724V44ZM117.955 29.06H113.095V44H109.945V29.06H105.085V26.06H117.955V29.06Z" fill="white"/>
                    </svg>                
                </button>
            </div>
        </form>
    <% } %>
<% } %>

    <svg class="bottom-vector" width="988" height="39" viewBox="0 0 988 39" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M38.5 37.5L548.5 37.5M789 37.5L987 37.5V1L825.5 1L789 37.5ZM789 37.5L752.5 37.5M752.5 37.5L789 1L703.5 1L667 37.5M752.5 37.5L667 37.5M667 37.5L630 37.5M548.5 37.5L585 1L666.5 1L630 37.5M548.5 37.5L630 37.5M33 37.5H22M17.5 37.5H10M5.5 37.5H0" stroke="#FF0000"/>
        <path d="M847.5 1.18359L811 37.6836L832 37.6836L868 1.18359L847.5 1.18359Z" fill="#FF0000" stroke="#FF0000"/>
        <path d="M881.499 1L844.999 37.5L865.999 37.5L901.999 1L881.499 1Z" fill="#FF0000" stroke="#FF0000"/>
    </svg>
</body>
<style>
    body {
        height: 100%;
        width: 100%;
        background-image: linear-gradient(#000615, #190000);
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
    }
    .svgs {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .upload-svg {
        width: 26.563vw;
        margin-bottom: 0;
    }
    .upload-label {
        margin-left: -5vw;
        font-family: BlenderProBook;
        color: #7e7e7e;
        position: absolute;
    }
    .upload-label2 {
        font-family: BlenderProBook;
        color: #7e7e7e;
    }
    .main-title {
        font-size: 6.667vw;
        color: #fff;
        font-family: BlenderProBook;
        margin: 0;
        margin-top: -2vw;
    }
    .titles {
        align-self: center;
        margin-top: 2vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .title {
        align-self: center;
        width: 31.354vw;
        margin: 0;
    }
    .project-name {
        font-family: BlenderProBook;
        position: absolute;
        margin-left: -1.5vw;
        height: 2vw;
        background: transparent;
        outline: none;
        border: none;
        color: #fff;
        width: 13vw;
        font-size: 1.1em;
        margin-top: -0.5vw;
    }
    .project-name::placeholder {
        color: #7e7e7e;
    }
    .project-name-svg {
        width: 17.708vw;
        margin-bottom: 0.5vw;
    }
    @font-face 
    {
        font-family:BlenderProBook;
        font-style:normal;
        font-weight:400;
        src:url('/BlenderProBook.woff2') format("woff2");
    }
    @font-face 
    {
        font-family:sentex;
        font-style:normal;
        font-weight:400;
        src:url('/Sentex-Regular.ttf');
    }
    .bottom-vector {
        position: relative;
        bottom: -1vw;
        align-self: end;
        right: 2vw;
        width: 55vw;
    }
    form {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 80vh
    }
    .left {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }
    .team-name {
        font-family: BlenderProBook;
        font-size: 2vw;
        color: #fff;
        width: 100%;
        margin: 0;
    }
    .participant {
        font-family: BlenderProBook;
        font-size: 1.5vw;
        color: #fff;
        width: 100%;
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-top: 0 !important;
        margin: 0.25vw;
    }
    .desc-svg {
        width: 44.583vw;

    }
    .right {
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
    }
    .desc {
        color: #fff;
        width: 70%;
        text-align: start;
        margin: 0;
        background: transparent;
        outline: none;
        border: none;
        height: 5vw;
        font-size: 1.1em;
        position: absolute;
        font-family: BlenderProBook;
    }
    .svg-input {
        width: 44.688vw;
    }
    .input-text {
        position: absolute;
        width: 35vw;
        height: 2vw;
        align-self: flex-start;
        margin-left: 1.5vw;
        background: transparent;
        outline: none;
        border: none;
        font-size: 1.1em;
        color: #fff;
        font-family: BlenderProBook;
    }
    button {
        background: transparent;
        outline: none;
        border: none;
    }
    .sub-button {
        width: 12.656vw;
    }
    ::-webkit-scrollbar {
        display: none;
    }
    .section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 82vh;
    }
    .section > p {
        color: #fff;
        font-family: BlenderProBook;
        font-size: 3vw;
        width: 70%;
        text-align: center;
    }
    .goBackBtn {
        background-color: transparent;
        border: 2px solid red;
        padding: 15px 20px;
        font-size: 1.2em;
        outline: none;
        color: red;
        font-family: BlenderProBook;
        border-radius: 50px;
        margin-top: 10px;
        cursor: pointer;
        transition: 0.3s;
    }
    .goBackBtn:hover {
        background: red;
        color: black;
    }
</style>
<script>
    const targetDate = new Date("2023-11-29T00:00:00");
    const reqHours = <%= reqTeam.timeExtension %>
    targetDate.setHours(targetDate.getHours() + reqHours)
    const daysSpan = document.getElementById('days')
    const hoursSpan = document.getElementById('hours')
    const minutesSpan = document.getElementById('minutes')
    const secondsSpan = document.getElementById('seconds')
    function update() {
        const now = new Date();
        const timeRemaining = targetDate - now;
        
        const days = Math.floor(timeRemaining / (1000 * 60 * 60 * 24));
        const hours = Math.floor((timeRemaining % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        const minutes = Math.floor((timeRemaining % (1000 * 60 * 60)) / (1000 * 60));
        const seconds = Math.floor((timeRemaining % (1000 * 60)) / 1000);

        daysSpan.innerHTML = days;
        hoursSpan.innerHTML = hours;
        minutesSpan.innerHTML = minutes;
        secondsSpan.innerHTML = seconds;
    }
    setInterval(update, 1000);
</script>
</html>

<!-- <form action="/hack/post" method="post">
    <p>Complete the details below</p>
    <input type="text" name="submissionLink" id="">
    <input type="text" name="gdLink" id="">
    <label for="env">Click here to upload env.</label>
    <input type="file" name="env" id="env">
    <button type="submit">Submit</button>
</form> -->