<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit Hack</title>
</head>
<body>
    <header class="nav">
        <div class="logo">
            <svg class="logo-img" xmlns="http://www.w3.org/2000/svg" width="56" height="56" viewBox="0 0 56 56" fill="none">
                <path d="M56 28C56 35.4261 53.05 42.548 47.799 47.799C42.548 53.05 35.4261 56 28 56C20.5739 56 13.452 53.05 8.20101 47.799C2.94999 42.548 0 35.4261 0 28C0 20.5739 2.94999 13.452 8.20101 8.20101C13.452 2.94999 20.5739 0 28 0C35.4261 0 42.548 2.94999 47.799 8.20101C53.05 13.452 56 20.5739 56 28ZM52.0873 28.0019C52.0873 21.6136 49.5495 15.4869 45.0323 10.9696C40.515 6.4524 34.3883 3.91464 28 3.91464C21.6117 3.91464 15.485 6.4524 10.9677 10.9696C6.45048 15.4869 3.91271 21.6136 3.91271 28.0019C3.91271 34.3903 6.45048 40.517 10.9677 45.0342C15.485 49.5514 21.6117 52.0892 28 52.0892C34.3883 52.0892 40.515 49.5514 45.0323 45.0342C49.5495 40.517 52.0873 34.3903 52.0873 28.0019Z" fill="#FF0000"/>
                <path d="M30.118 34.6766C30.1184 34.6874 30.1218 34.6978 30.128 34.7067C30.1342 34.7155 30.1428 34.7224 30.1527 34.7265C30.1627 34.7305 30.1737 34.7316 30.1843 34.7296C30.1949 34.7276 30.2046 34.7226 30.2125 34.7152L34.6321 30.2955C34.6534 30.2738 34.6673 30.2459 34.6718 30.2158C34.6763 30.1856 34.6712 30.1549 34.6571 30.1278C33.3285 27.6376 33.1152 25.1647 34.0172 22.7091C36.6077 15.6527 46.216 14.8413 49.9437 21.3638C52.22 25.3497 50.9903 30.4844 47.1836 33.0132C44.3368 34.906 40.8385 34.9792 37.8278 33.3062C37.8151 33.2995 37.8006 33.297 37.7864 33.299C37.7722 33.3011 37.759 33.3077 37.7488 33.3178L30.2298 40.8348C30.1582 40.9064 30.118 41.0034 30.118 41.1047V51.0734C30.1181 51.0912 30.1115 51.1082 30.0997 51.1212C30.0878 51.1341 30.0716 51.1418 30.0544 51.1428C28.6641 51.2481 27.2737 51.2481 25.8834 51.1428C25.814 51.1376 25.7793 51.1004 25.7793 51.031L25.7774 41.1528C25.7774 41.0392 25.7324 40.9297 25.6521 40.8483L18.1736 33.3775C18.1222 33.3261 18.0638 33.3171 17.9982 33.3505C15.0165 34.8482 11.9056 34.9484 9.09536 33.2542C4.99954 30.7813 3.46915 25.3189 6.07313 21.1286C8.31282 17.5262 12.8558 15.8782 16.888 17.5262C21.8878 19.5674 23.8692 25.4172 21.2306 30.1066C21.1933 30.1735 21.2016 30.2339 21.2556 30.2878L25.6945 34.7267C25.7013 34.7337 25.71 34.7385 25.7195 34.7405C25.729 34.7425 25.7389 34.7415 25.7478 34.7378C25.7568 34.734 25.7644 34.7276 25.7697 34.7195C25.775 34.7113 25.7777 34.7018 25.7774 34.692L25.7793 22.2253C25.7793 22.1726 25.7543 22.1392 25.7042 22.1251C20.0857 20.4906 17.4239 14.3594 20.3169 9.20158C21.9688 6.25451 25.3148 4.56607 28.6339 4.83206C34.713 5.3197 38.4966 11.6668 35.9466 17.2506C34.8338 19.6894 32.8987 21.3214 30.1411 22.1463C30.1257 22.1514 30.118 22.1617 30.118 22.1771V34.6766Z" fill="#FF0000"/>
              </svg>
            <svg class="logo-txt" xmlns="http://www.w3.org/2000/svg" width="255" height="36" viewBox="0 0 255 36" fill="none">
                <path d="M27.7571 15.4698C27.7571 15.2522 27.6792 15.0692 27.5234 14.9208L22.0773 9.64163C21.9795 9.54618 21.8508 9.49176 21.7174 9.48952C19.4767 9.44129 17.4919 9.41532 15.2029 10.2352C12.4984 11.2072 10.1389 13.2217 9.3376 16.0115C7.77574 21.4279 11.545 25.709 16.583 26.8999C18.5121 27.3525 20.9421 27.1744 23.0938 27.1819C23.2199 27.1843 23.3275 27.2288 23.4165 27.3154L26.1136 29.9235C26.2074 30.0138 26.2821 30.1221 26.3331 30.2419C26.3841 30.3618 26.4104 30.4907 26.4104 30.6209L26.4067 35.8036C26.4067 35.8528 26.3871 35.9 26.3524 35.9348C26.3176 35.9695 26.2704 35.9891 26.2212 35.9891C23.6094 35.9965 20.9915 36.0002 18.3674 36.0002C11.6117 35.9965 5.36433 32.5612 2.13675 26.6736C-3.825 15.8 3.42407 3.53147 14.7911 1.12377C17.8703 0.474545 21.9697 0.767625 25.4495 0.741656C25.6138 0.741584 25.7707 0.804072 25.8873 0.91602L36.6607 11.3556C36.7745 11.4669 36.8314 11.6017 36.8314 11.76L36.8277 35.8963C36.8277 35.9606 36.7955 35.9928 36.7312 35.9928H27.9426C27.9202 35.9928 27.898 35.9885 27.8773 35.9801C27.8566 35.9717 27.8377 35.9594 27.8219 35.9439C27.806 35.9284 27.7935 35.91 27.7849 35.8897C27.7763 35.8695 27.7719 35.8478 27.7719 35.8258L27.7571 15.4698Z" fill="white"/>
                <path d="M41.6385 23.3901C41.9502 23.3926 41.9761 23.3073 41.7164 23.1341L38.6818 21.1382C38.6213 21.0984 38.5717 21.0443 38.5374 20.9809C38.5031 20.9174 38.4851 20.8465 38.4852 20.7747L38.4889 0.934313C38.4889 0.815598 38.5495 0.756236 38.6706 0.756236C49.0682 0.741396 59.457 0.742637 69.8372 0.759949C73.7771 0.767369 76.5892 4.45868 76.6634 8.12773C76.7153 10.6405 76.7227 13.1361 76.6856 15.6142C76.6832 15.7824 76.5978 15.8665 76.4296 15.8665L67.897 15.8628C67.7782 15.8628 67.7177 15.8022 67.7152 15.681C67.6781 13.2436 68.5054 9.80088 64.8326 9.78233C59.1491 9.7576 53.4656 9.75884 47.7821 9.78604C47.6337 9.78852 47.5595 9.86272 47.5595 10.0086L47.5446 15.8776C47.5446 15.9656 47.5662 16.0524 47.6075 16.1307C47.6489 16.2089 47.7088 16.2761 47.7821 16.3265L76.8748 35.718C77.1469 35.901 77.1197 35.9925 76.7932 35.9925H61.2229C61.0869 35.9925 60.9632 35.9554 60.8519 35.8812L47.7487 27.1779C47.7267 27.1637 47.7012 27.1556 47.675 27.1544C47.6488 27.1533 47.6229 27.1591 47.6 27.1713C47.5771 27.1835 47.5581 27.2016 47.5451 27.2237C47.5321 27.2458 47.5255 27.271 47.5261 27.2966L47.5706 29.2665C47.5756 29.4174 47.5014 29.4928 47.348 29.4928H38.5816C38.557 29.4928 38.5334 29.4831 38.516 29.4657C38.4986 29.4483 38.4889 29.4247 38.4889 29.4001L38.4814 23.6572C38.4814 23.6199 38.4889 23.5829 38.5033 23.5485C38.5177 23.514 38.5388 23.4828 38.5653 23.4565C38.5919 23.4303 38.6234 23.4096 38.6581 23.3957C38.6927 23.3817 38.7298 23.3748 38.7671 23.3753L41.6385 23.3901Z" fill="white"/>
                <path d="M90.6171 11.0324C85.375 13.8408 84.5403 20.9489 89.2296 24.7626C90.3969 25.7124 91.8228 26.4049 93.507 26.8402C95.5252 27.3596 97.9886 27.1815 100.222 27.1815C100.355 27.1815 100.483 27.2335 100.578 27.3262L103.305 29.9564C103.39 30.0397 103.459 30.1394 103.505 30.2497C103.552 30.3599 103.576 30.4784 103.576 30.5982L103.572 35.8069C103.572 35.8561 103.552 35.9033 103.518 35.9381C103.483 35.9728 103.436 35.9924 103.386 35.9924C100.713 35.9949 98.0331 35.9887 95.3471 35.9739C86.0057 35.9219 78.0851 29.2553 77.217 19.9287C76.3452 10.5761 83.7872 2.44038 92.791 0.974986C95.5883 0.518673 99.4317 0.774659 102.652 0.737561C102.783 0.737735 102.908 0.788286 103.001 0.878526L113.882 11.4183C113.917 11.4524 113.945 11.4936 113.964 11.5394C113.983 11.5853 113.993 11.6349 113.993 11.6854V35.8032C113.993 35.9293 113.93 35.9924 113.804 35.9924H105.108C105.086 35.9924 105.064 35.9881 105.044 35.9797C105.024 35.9713 105.005 35.959 104.99 35.9435C104.974 35.928 104.962 35.9096 104.954 35.8893C104.945 35.8691 104.941 35.8474 104.941 35.8254L104.922 15.4175C104.92 15.2464 104.851 15.0837 104.729 14.9649L99.2833 9.68575C99.1646 9.57198 99.0236 9.51262 98.8604 9.50767C95.9296 9.39267 93.4514 9.51139 90.6171 11.0324Z" fill="white"/>
                <path d="M131.862 10.5465L153.58 25.0001C153.835 25.1708 153.962 25.4094 153.962 25.7161V35.8886C153.962 35.9141 153.952 35.9387 153.934 35.9568C153.916 35.9748 153.891 35.985 153.866 35.985C144.084 36.0023 134.295 36.0011 124.498 35.9813C122.715 35.9764 121.467 35.8688 120.755 35.6586C114.856 33.9038 115.661 26.5249 115.78 21.0343C115.783 20.9254 115.84 20.871 115.951 20.871H124.55C124.664 20.871 124.722 20.9279 124.725 21.0417C124.817 23.8501 123.857 26.907 127.967 26.9107C131.969 26.9157 135.911 26.9255 139.794 26.9404C140.051 26.9428 140.072 26.8724 139.857 26.7289L115.654 10.5724C115.303 10.3375 115.339 10.2212 115.762 10.2237L131.228 10.3239C131.362 10.3239 131.428 10.2571 131.428 10.1236L131.432 0.930517C131.432 0.882305 131.451 0.836063 131.484 0.801972C131.518 0.767881 131.563 0.748737 131.61 0.748737H141.79C142.107 0.748703 142.414 0.854533 142.662 1.04924L150.141 6.95163C150.26 7.04561 150.319 7.1668 150.319 7.31519L150.323 9.99371C150.323 10.1495 150.246 10.2274 150.093 10.2274H131.959C131.573 10.2274 131.541 10.3338 131.862 10.5465Z" fill="white"/>
                <path d="M175.009 9.59671C168.621 8.69521 161.342 12.2233 162.258 19.6653C162.722 23.4456 165.935 25.8014 169.344 26.7845C171.392 27.3744 173.941 27.1963 176.218 27.174C176.34 27.174 176.458 27.2218 176.549 27.3076L179.339 29.9861C179.409 30.0529 179.465 30.1337 179.503 30.2237C179.541 30.3136 179.561 30.4107 179.561 30.5092L179.557 35.7995C179.557 35.9256 179.494 35.9887 179.368 35.9887C176.643 36.006 173.926 35.9986 171.218 35.9664C152.857 35.7624 146.143 12.6425 162.511 3.17494C167.775 0.129137 173.035 0.741273 178.671 0.748693C178.799 0.748834 178.923 0.799412 179.016 0.889669L189.704 11.2476C189.798 11.3379 189.872 11.4462 189.923 11.5661C189.974 11.6859 190.001 11.8148 190.001 11.9451L190.015 35.7475C190.015 35.8125 189.99 35.8748 189.945 35.9207C189.9 35.9666 189.838 35.9924 189.774 35.9924H181.138C181.012 35.9924 180.949 35.9293 180.949 35.8032V15.5548C180.949 15.4352 180.924 15.3167 180.877 15.2064C180.83 15.0961 180.761 14.9963 180.674 14.913L175.339 9.75624C175.248 9.6672 175.138 9.61402 175.009 9.59671Z" fill="white"/>
                <path d="M194.03 23.4086C194.054 23.41 194.077 23.4035 194.096 23.3902C194.115 23.377 194.129 23.3577 194.136 23.3354C194.143 23.3132 194.142 23.2893 194.133 23.2676C194.125 23.2459 194.11 23.2276 194.09 23.2157L190.973 21.1307C190.907 21.0862 190.853 21.026 190.815 20.9555C190.778 20.885 190.758 20.8063 190.758 20.7264L190.754 0.949077C190.754 0.815522 190.821 0.748753 190.955 0.748753H199.68C199.707 0.748753 199.732 0.759302 199.751 0.778087C199.77 0.796872 199.781 0.822349 199.781 0.848915L199.777 9.53742C199.777 9.55205 199.781 9.56632 199.788 9.57877C199.796 9.59121 199.807 9.60137 199.82 9.60818C199.834 9.615 199.849 9.61822 199.864 9.61752C199.879 9.61682 199.894 9.61222 199.907 9.6042L213.129 0.845202C213.221 0.784648 213.329 0.752401 213.44 0.752455L229.085 0.745039C229.382 0.745039 229.408 0.827898 229.163 0.993605L203.279 18.2407C203.259 18.2528 203.243 18.2697 203.232 18.2898C203.221 18.31 203.215 18.3327 203.215 18.3559C203.215 18.3792 203.221 18.4022 203.232 18.4229C203.243 18.4436 203.259 18.4613 203.279 18.4745L229.289 35.8181C229.321 35.8379 229.335 35.8676 229.33 35.9071C229.32 35.9616 229.27 35.9875 229.181 35.985C223.953 35.9826 218.765 35.9875 213.618 35.9999C213.413 35.9999 213.211 35.9393 213.04 35.8255L199.899 27.0999C199.888 27.0926 199.876 27.0885 199.862 27.0878C199.849 27.0871 199.836 27.0899 199.824 27.0959C199.813 27.102 199.803 27.111 199.796 27.1222C199.789 27.1333 199.785 27.1461 199.784 27.1593L199.777 29.3592C199.776 29.3959 199.761 29.4308 199.735 29.4565C199.71 29.4821 199.675 29.4965 199.64 29.4965L190.955 29.4928C190.902 29.4928 190.851 29.4721 190.813 29.4352C190.776 29.3983 190.754 29.3483 190.754 29.2962L190.747 23.7128C190.747 23.6672 190.756 23.622 190.774 23.5799C190.791 23.5378 190.817 23.4996 190.849 23.4675C190.882 23.4354 190.92 23.4101 190.963 23.393C191.005 23.3759 191.05 23.3673 191.096 23.3678L194.03 23.4086Z" fill="white"/>
                <path d="M239.516 9.57451C233.161 8.72495 225.578 12.3013 226.851 19.9399C227.441 23.4717 230.501 25.8905 233.896 26.8068C235.966 27.3633 238.489 27.1927 240.774 27.1741C240.837 27.1729 240.9 27.1844 240.96 27.208C241.019 27.2316 241.073 27.2667 241.119 27.3114L243.89 30.0418C243.989 30.1383 244.039 30.2558 244.039 30.3943L244.053 35.8886C244.053 35.9142 244.043 35.9387 244.025 35.9568C244.007 35.9749 243.983 35.985 243.957 35.985C240.977 36.0023 237.999 35.9986 235.024 35.9739C229.192 35.9294 223.404 32.3642 220.384 27.6119C214.515 18.3669 218.656 7.34489 228.079 2.62594C232.898 0.214527 237.906 0.748745 243.093 0.745035C243.295 0.744979 243.489 0.823462 243.634 0.963915L254.089 11.0696C254.22 11.1975 254.325 11.3504 254.396 11.5193C254.467 11.6882 254.504 11.8695 254.504 12.0527L254.5 35.8033C254.5 35.9269 254.439 35.9887 254.315 35.9887L245.697 35.9962C245.568 35.9962 245.504 35.9319 245.504 35.8033C245.494 29.306 245.494 22.8138 245.504 16.3265C245.508 14.9538 245.192 14.9353 244.15 13.9039C242.725 12.4942 241.286 11.1017 239.832 9.72661C239.743 9.64252 239.637 9.59182 239.516 9.57451Z" fill="white"/>
              </svg>
        </div>
        <ul class="nav-menu">
            <li class="nav-item" id="special" data-value="REGISTER">REGISTER</li>
            <li class="nav-item" style="height: 100%;"><div class="line"></div></li>
            <li class="nav-item" id="special2" data-value="LOGIN">LOGIN</li>
            <li class="nav-item" style="height: 100%;"><div class="line"></div></li>
            <li class="nav-item" id="special3" data-value="TEAMS">TEAMS</li>
            <li class="nav-item" style="height: 100%;"><div class="line"></div></li>
            <li class="nav-item" id="special4" data-value="PROMO">PROMO</li>
            <li class="nav-item" style="height: 100%;"><div class="line"></div></li>
            <li class="nav-item" id="special5" data-value="FAQS">FAQS</li>
        </ul>
    </header>
    <% if(!canSub) { %>
        <div class="titles">
            <svg class="title" width="602" height="81" viewBox="0 0 602 81" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M104.038 52H97.8111V37.3529H84.8837V52H78.6572V16.5386H84.8837V31.4229H97.8111V16.5386H104.038V52ZM140.523 52H133.881L131.272 44.4689H117.811L115.202 52H108.56L120.954 16.5386H128.188L140.523 52ZM129.315 38.5389L124.571 24.5441L119.768 38.5389H129.315ZM170.281 45.1212C169.886 46.0305 169.471 46.7816 169.036 47.3746C166.585 50.6559 164.075 52.2965 161.505 52.2965H154.092C152.788 52.2965 151.562 51.9407 150.416 51.2291C149.823 50.8733 149.052 50.221 148.103 49.2722C147.154 48.3234 146.482 47.5723 146.087 47.0188C145.454 46.07 145.138 44.9433 145.138 43.6387V24.9592C145.138 23.6941 145.454 22.5872 146.087 21.6384C146.482 21.0454 147.154 20.2745 148.103 19.3257C149.091 18.3374 149.862 17.6851 150.416 17.3688C151.681 16.6572 152.906 16.3014 154.092 16.3014H161.505C164.035 16.3014 166.545 17.942 169.036 21.2233C169.273 21.5396 169.688 22.2314 170.281 23.2988L164.233 25.0185C163.047 23.5558 162.157 22.6465 161.564 22.2907C161.525 22.2512 161.446 22.2314 161.327 22.2314H154.33L154.092 22.2907C153.064 22.8442 152.175 23.7139 151.424 24.8999C151.384 24.979 151.365 25.1964 151.365 25.5522V43.5794C151.365 43.8957 151.681 44.3701 152.313 45.0026C152.985 45.5956 153.578 46.0305 154.092 46.3072C154.132 46.3467 154.27 46.3665 154.507 46.3665H161.268C161.386 46.3665 161.485 46.3467 161.564 46.3072C161.92 46.1491 162.315 45.8328 162.75 45.3584C163.225 44.884 163.6 44.4491 163.877 44.0538L164.233 43.5201L170.281 45.1212ZM204.719 52H197.069L184.794 37.175H184.142V52H177.915V16.5386H184.142V31.3043H184.735C186.158 29.6439 188.233 27.1533 190.961 23.8325C193.689 20.5117 195.705 18.0804 197.01 16.5386H204.66L189.894 34.21C190.526 34.9611 192.72 37.6099 196.476 42.1562C200.271 46.7025 203.019 49.9838 204.719 52ZM250.049 43.5794C250.049 44.9631 249.732 46.0898 249.1 46.9595C248.704 47.5525 248.032 48.3432 247.084 49.3315C246.135 50.2803 245.364 50.9128 244.771 51.2291C243.506 51.9407 242.28 52.2965 241.094 52.2965H230.776C228.206 52.2965 225.696 50.6559 223.245 47.3746C223.008 47.0583 222.652 46.4456 222.178 45.5363L228.048 43.5794C228.839 44.6863 229.709 45.5956 230.657 46.3072C230.737 46.3467 230.875 46.3665 231.073 46.3665H240.798L241.154 46.3072C241.588 46.07 242.142 45.6154 242.814 44.9433C243.486 44.2712 243.822 43.8166 243.822 43.5794V40.0807C243.822 39.4877 243.585 39.1517 243.11 39.0726L227.692 34.6844C226.23 34.2891 225.083 33.4786 224.253 32.2531C223.462 31.0276 223.067 29.6834 223.067 28.2207V25.0185C223.067 23.6348 223.364 22.5081 223.957 21.6384C224.352 21.0849 225.024 20.3338 225.973 19.385C226.961 18.3967 227.752 17.7246 228.345 17.3688C229.61 16.6572 230.835 16.3014 232.021 16.3014H240.798C243.328 16.3014 245.838 17.942 248.329 21.2233C248.724 21.7768 249.12 22.4686 249.515 23.2988L243.526 25.0185C242.616 23.7139 241.747 22.8046 240.916 22.2907C240.877 22.2512 240.758 22.2314 240.561 22.2314H232.199L231.843 22.2907C231.369 22.5279 230.816 22.9628 230.183 23.5953C229.59 24.2278 229.294 24.6627 229.294 24.8999V27.8649C229.294 28.4579 229.511 28.7939 229.946 28.873L245.423 33.3798C246.846 33.7751 247.973 34.6053 248.803 35.8704C249.633 37.0959 250.049 38.4203 250.049 39.8435V43.5794ZM276.336 43.5201V16.5386H282.562V43.5794C282.562 44.884 282.246 46.0107 281.613 46.9595C281.178 47.5525 280.487 48.3432 279.538 49.3315C278.629 50.2803 277.877 50.9128 277.284 51.2291C276.138 51.9407 274.932 52.2965 273.667 52.2965H266.136C264.831 52.2965 263.606 51.9407 262.459 51.2291C261.906 50.9128 261.135 50.2803 260.147 49.3315C259.198 48.3432 258.526 47.5525 258.131 46.9595C257.498 46.0107 257.182 44.884 257.182 43.5794V16.5386H263.408V43.4608C263.408 43.6189 263.428 43.7178 263.468 43.7573C264.298 44.9828 265.167 45.8328 266.077 46.3072L266.373 46.3665H273.43C273.549 46.3665 273.647 46.3467 273.726 46.3072C274.636 45.8328 275.486 44.9828 276.276 43.7573L276.336 43.5201ZM315.692 43.9352C315.692 45.3189 315.356 46.5049 314.684 47.4932C314.407 47.8885 313.913 48.4618 313.202 49.2129C312.49 49.9245 311.937 50.4187 311.541 50.6954C310.316 51.5651 308.893 52 307.272 52H290.608V16.5386H307.272C308.813 16.5386 310.237 16.9932 311.541 17.9025C311.937 18.1792 312.49 18.6932 313.202 19.4443C313.913 20.1559 314.407 20.7094 314.684 21.1047C315.356 22.093 315.692 23.3186 315.692 24.7813V29.1695C315.692 31.0671 314.921 32.7868 313.38 34.3286C314.921 35.8704 315.692 37.5703 315.692 39.4284V43.9352ZM309.406 29.466C309.446 29.3869 309.466 29.2486 309.466 29.0509V24.8406L309.406 24.5441C309.13 24.0697 308.754 23.6151 308.28 23.1802C307.845 22.7058 307.489 22.4686 307.212 22.4686H296.835V31.4229H307.272C307.548 31.4229 307.924 31.2055 308.398 30.7706C308.873 30.3357 309.209 29.9009 309.406 29.466ZM309.406 44.1131C309.446 43.9945 309.466 43.8561 309.466 43.698V39.4877L309.406 39.1912C309.13 38.7168 308.754 38.2622 308.28 37.8273C307.845 37.3924 307.489 37.175 307.212 37.175H296.835V46.07H307.272C307.548 46.07 307.924 45.8526 308.398 45.4177C308.873 44.9828 309.209 44.548 309.406 44.1131ZM354.159 52H347.933V27.7463L340.876 43.2829H336.785L329.728 27.8056V52H323.501V16.5386H330.617L338.919 34.0321L347.103 16.5386H354.159V52ZM368.933 52H362.707V16.5386H368.933V52ZM403.684 43.5794C403.684 44.9631 403.368 46.0898 402.735 46.9595C402.34 47.5525 401.668 48.3432 400.719 49.3315C399.77 50.2803 399 50.9128 398.407 51.2291C397.141 51.9407 395.916 52.2965 394.73 52.2965H384.412C381.842 52.2965 379.332 50.6559 376.881 47.3746C376.643 47.0583 376.288 46.4456 375.813 45.5363L381.684 43.5794C382.475 44.6863 383.344 45.5956 384.293 46.3072C384.372 46.3467 384.511 46.3665 384.708 46.3665H394.433L394.789 46.3072C395.224 46.07 395.778 45.6154 396.45 44.9433C397.122 44.2712 397.458 43.8166 397.458 43.5794V40.0807C397.458 39.4877 397.221 39.1517 396.746 39.0726L381.328 34.6844C379.865 34.2891 378.719 33.4786 377.889 32.2531C377.098 31.0276 376.703 29.6834 376.703 28.2207V25.0185C376.703 23.6348 376.999 22.5081 377.592 21.6384C377.988 21.0849 378.66 20.3338 379.608 19.385C380.597 18.3967 381.387 17.7246 381.98 17.3688C383.245 16.6572 384.471 16.3014 385.657 16.3014H394.433C396.964 16.3014 399.474 17.942 401.965 21.2233C402.36 21.7768 402.755 22.4686 403.151 23.2988L397.161 25.0185C396.252 23.7139 395.382 22.8046 394.552 22.2907C394.512 22.2512 394.394 22.2314 394.196 22.2314H385.835L385.479 22.2907C385.005 22.5279 384.451 22.9628 383.819 23.5953C383.226 24.2278 382.929 24.6627 382.929 24.8999V27.8649C382.929 28.4579 383.147 28.7939 383.582 28.873L399.059 33.3798C400.482 33.7751 401.609 34.6053 402.439 35.8704C403.269 37.0959 403.684 38.4203 403.684 39.8435V43.5794ZM437.562 43.5794C437.562 44.9631 437.245 46.0898 436.613 46.9595C436.218 47.5525 435.545 48.3432 434.597 49.3315C433.648 50.2803 432.877 50.9128 432.284 51.2291C431.019 51.9407 429.793 52.2965 428.607 52.2965H418.289C415.719 52.2965 413.209 50.6559 410.758 47.3746C410.521 47.0583 410.165 46.4456 409.691 45.5363L415.561 43.5794C416.352 44.6863 417.222 45.5956 418.171 46.3072C418.25 46.3467 418.388 46.3665 418.586 46.3665H428.311L428.667 46.3072C429.102 46.07 429.655 45.6154 430.327 44.9433C430.999 44.2712 431.335 43.8166 431.335 43.5794V40.0807C431.335 39.4877 431.098 39.1517 430.624 39.0726L415.206 34.6844C413.743 34.2891 412.596 33.4786 411.766 32.2531C410.975 31.0276 410.58 29.6834 410.58 28.2207V25.0185C410.58 23.6348 410.877 22.5081 411.47 21.6384C411.865 21.0849 412.537 20.3338 413.486 19.385C414.474 18.3967 415.265 17.7246 415.858 17.3688C417.123 16.6572 418.348 16.3014 419.534 16.3014H428.311C430.841 16.3014 433.351 17.942 435.842 21.2233C436.237 21.7768 436.633 22.4686 437.028 23.2988L431.039 25.0185C430.129 23.7139 429.26 22.8046 428.429 22.2907C428.39 22.2512 428.271 22.2314 428.074 22.2314H419.712L419.357 22.2907C418.882 22.5279 418.329 22.9628 417.696 23.5953C417.103 24.2278 416.807 24.6627 416.807 24.8999V27.8649C416.807 28.4579 417.024 28.7939 417.459 28.873L432.936 33.3798C434.359 33.7751 435.486 34.6053 436.316 35.8704C437.147 37.0959 437.562 38.4203 437.562 39.8435V43.5794ZM451.455 52H445.228V16.5386H451.455V52ZM486.977 43.5794C486.977 44.884 486.661 46.0107 486.028 46.9595C485.554 47.592 484.842 48.3827 483.893 49.3315C482.984 50.2803 482.253 50.9128 481.699 51.2291C480.553 51.9407 479.327 52.2965 478.023 52.2965H469.009C467.705 52.2965 466.479 51.9407 465.333 51.2291C464.779 50.9128 464.008 50.2803 463.02 49.3315C462.071 48.3432 461.399 47.5525 461.004 46.9595C460.371 46.0107 460.055 44.884 460.055 43.5794V25.0185C460.055 23.7139 460.371 22.5872 461.004 21.6384C461.399 21.0454 462.071 20.2745 463.02 19.3257C464.008 18.3374 464.779 17.6851 465.333 17.3688C466.479 16.6572 467.705 16.3014 469.009 16.3014H478.023C479.327 16.3014 480.553 16.6572 481.699 17.3688C482.253 17.6851 482.984 18.3176 483.893 19.2664C484.842 20.2152 485.554 21.0059 486.028 21.6384C486.661 22.5872 486.977 23.7139 486.977 25.0185V43.5794ZM466.281 25.1964V43.5201C466.281 43.6387 466.301 43.7178 466.341 43.7573C467.131 44.9433 468.001 45.7933 468.95 46.3072C469.029 46.3467 469.128 46.3665 469.246 46.3665H477.786C477.904 46.3665 478.003 46.3467 478.082 46.3072C479.031 45.7933 479.901 44.9433 480.691 43.7573L480.751 43.5201V25.1964C480.751 25.0383 480.731 24.9394 480.691 24.8999C479.861 23.6744 478.991 22.8046 478.082 22.2907C478.003 22.2512 477.904 22.2314 477.786 22.2314H469.246C469.088 22.2314 468.989 22.2512 468.95 22.2907C468.041 22.8046 467.171 23.6744 466.341 24.8999L466.281 25.1964ZM519.999 52H513.417L501.142 28.4579V52H494.915V16.5386H501.616L513.773 40.3772V16.5386H519.999V52Z" fill="white"/>
                <path d="M273.66 80H265.644V66.02H273.66V67.3248H266.996V72.3576H273.31V73.6624H266.996V78.6952H273.66V80ZM286.406 80H284.658L278.577 68.0704V80H277.272V66.02H279.066L285.101 78.0661V66.02H286.406V80ZM299.263 76.9011C299.263 77.3516 299.17 77.7244 298.983 78.0195C298.843 78.2214 298.595 78.5088 298.238 78.8816C297.88 79.2544 297.601 79.5029 297.399 79.6272C297.011 79.8757 296.614 80 296.211 80H290.059V66.02H296.211C296.645 66.02 297.042 66.1365 297.399 66.3695C297.601 66.4938 297.88 66.7501 298.238 67.1384C298.595 67.5112 298.843 67.8063 298.983 68.0238C299.17 68.3189 299.263 68.6917 299.263 69.1422V76.9011ZM297.911 69.1888C297.911 69.049 297.888 68.9325 297.842 68.8393C297.702 68.5752 297.477 68.2956 297.166 68.0005C296.855 67.6898 296.599 67.4879 296.397 67.3947C296.319 67.3481 296.218 67.3248 296.094 67.3248H291.411V78.6952H296.094C296.218 78.6952 296.319 78.6719 296.397 78.6253C296.599 78.5321 296.855 78.3302 297.166 78.0195C297.477 77.7088 297.702 77.4215 297.842 77.1574C297.888 77.0642 297.911 76.9632 297.911 76.8545V69.1888ZM312.38 76.9943C312.38 77.4603 312.286 77.8409 312.1 78.136C311.96 78.3379 311.704 78.6253 311.331 78.9981C310.974 79.3709 310.694 79.6194 310.492 79.7437C310.104 79.9922 309.708 80.1165 309.304 80.1165H305.436C305.017 80.1165 304.613 79.9922 304.225 79.7437C303.774 79.4641 303.293 78.9748 302.78 78.2758C302.562 77.9807 302.392 77.6778 302.267 77.3671L303.595 76.9943L303.759 77.2739C303.914 77.5535 304.139 77.8409 304.434 78.136C304.729 78.4311 304.978 78.6331 305.18 78.7418C305.242 78.7884 305.351 78.8117 305.506 78.8117H309.211C309.319 78.8117 309.413 78.7884 309.49 78.7418C309.692 78.6331 309.949 78.4389 310.259 78.1593C310.585 77.8642 310.818 77.5923 310.958 77.3438C311.005 77.2506 311.028 77.1496 311.028 77.0409V75.5497C311.028 75.3012 310.958 75.0759 310.818 74.874C310.679 74.6565 310.5 74.5167 310.283 74.4546L303.898 72.7071C303.463 72.5828 303.114 72.3188 302.85 71.9149C302.586 71.4955 302.454 71.0295 302.454 70.5169V69.0723C302.454 68.6063 302.547 68.2257 302.733 67.9306C302.873 67.7287 303.122 67.4413 303.479 67.0685C303.852 66.6802 304.139 66.4239 304.341 66.2996C304.729 66.0511 305.125 65.9268 305.529 65.9268H309.001C309.405 65.9268 309.801 66.0511 310.189 66.2996C310.64 66.5792 311.121 67.0685 311.634 67.7675C311.882 68.1248 312.061 68.4277 312.17 68.6762L310.818 69.0723L310.655 68.7694C310.516 68.5053 310.29 68.2257 309.98 67.9306C309.684 67.6199 309.436 67.4102 309.234 67.3015C309.156 67.2549 309.055 67.2316 308.931 67.2316H305.646C305.522 67.2316 305.421 67.2549 305.343 67.3015C305.125 67.4102 304.861 67.6044 304.551 67.884C304.256 68.1481 304.038 68.4044 303.898 68.6529C303.836 68.7772 303.805 68.8781 303.805 68.9558V70.4237C303.805 70.6567 303.875 70.8742 304.015 71.0761C304.155 71.278 304.325 71.4101 304.527 71.4722L310.888 73.243C311.339 73.3673 311.696 73.6391 311.96 74.0585C312.24 74.4624 312.38 74.9128 312.38 75.4099V76.9943ZM322.151 80H320.8V66.02H322.151V80ZM334.985 80H333.238L327.157 68.0704V80H325.852V66.02H327.646L333.681 78.0661V66.02H334.985V80Z" fill="#FF0000"/>
                <circle cx="33.6962" cy="33.2411" r="25.578" stroke="#FF0000" stroke-width="2"/>
                <circle cx="33.7717" cy="33.3171" r="21.2619" stroke="#FF0000" stroke-width="2" stroke-linecap="round" stroke-dasharray="1 20"/>
                <circle cx="34.2873" cy="33.2873" r="1.28725" fill="white"/>
                <line x1="34.1201" x2="34.1201" y2="67.543" stroke="#FF0000"/>
                <line y1="33.1201" x2="67.543" y2="33.1201" stroke="#FF0000"/>
                <circle cx="33.6954" cy="33.2413" r="10.631" stroke="#FF0000"/>
                <circle cx="567.696" cy="33.2411" r="25.578" stroke="#FF0000" stroke-width="2"/>
                <circle cx="567.772" cy="33.3171" r="21.2619" stroke="#FF0000" stroke-width="2" stroke-linecap="round" stroke-dasharray="1 20"/>
                <circle cx="568.287" cy="33.2873" r="1.28725" fill="white"/>
                <line x1="568.12" x2="568.12" y2="67.543" stroke="#FF0000"/>
                <line x1="534" y1="33.1201" x2="601.543" y2="33.1201" stroke="#FF0000"/>
                <circle cx="567.695" cy="33.2413" r="10.631" stroke="#FF0000"/>
            </svg>
            <h1 class="main-title"><span id="days">18</span> : <span id="hours">5</span> : <span id="minutes">48</span> : <span id="seconds">23</span></h1>
        </div>
        
        <form action="/hack/delete/<%= reqId %>" enctype="multipart/form-data" method="POST" style="gap: 2vw">
            <div class="left">
                <div class="svgs">
                    <img src="<%= reqHack.thumbnail %>" style="width: 15vw; margin-bottom: 10px;">
                </div>
                <div class="svgs">
                    <svg class="project-name-svg" width="340" height="70" viewBox="0 0 340 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M336.94 1H0.999913V69H290.016L336.94 1Z" stroke="white"/>
                        <path d="M340 27V4L295.116 69.5H310.927L340 27Z" fill="white"/>
                    </svg>
                    <input type="text" disabled class="project-name" name="projectName" placeholder="Name of project" value="<%= reqHack.projectName %>">                    
                </div>
                <h1 class="team-name"><%= reqTeam.teamName %></h1>
                <p class="participant">Team Members:</p>
                <p class="participant"><%= reqTeam.participant1 %></p>
                <p class="participant"><%= reqTeam.participant2 %></p>
                <p class="participant"><%= reqTeam.participant3 %></p>
                <p class="participant"><%= reqTeam.participant4 %></p>
            </div>
            <div class="right">
                <div class="svgs">
                    <svg class="desc-svg" style="width: 43.33vw;" viewBox="0 0 858 191" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 190H60H857.5V1H100L1 190Z" fill="#0E030A" stroke="#FF0000"/>
                    </svg>
                    <input type="text" disabled placeholder="Enter description of your project" name="desc" class="desc" value="<%= reqHack.desc %>">
                </div>
                <div class="svgs">
                    <svg class="svg-input" width="858" height="70" viewBox="0 0 858 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M854.787 1H1.00089V69H805.51L854.787 1Z" stroke="white"/>
                        <path d="M858 27V4L810.865 69.5H827.469L858 27Z" fill="white"/>
                    </svg>
                    <input class="input-text" disabled name="submissionLink" type="text" placeholder="Github Link" value="<%= reqHack.submissionLink %>">                    
                </div>
                <div class="svgs">
                    <svg class="svg-input" width="858" height="70" viewBox="0 0 858 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M854.787 1H1.00089V69H805.51L854.787 1Z" stroke="white"/>
                        <path d="M858 27V4L810.865 69.5H827.469L858 27Z" fill="white"/>
                    </svg>
                    <input class="input-text" disabled name="gdLink" type="text" placeholder="Google Drive Link" value="<%= reqHack.gdLink %>">                    
                </div>
                <% if (isAdmin) { %>
                <button type="submit">
                    <svg class="sub-button" width="243" height="70" viewBox="0 0 243 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1H176.165L123.041 69H1V1Z" stroke="#FF0000"/>
                        <path d="M136.92 69L190.044 1H213.495L160.371 69H136.92Z" stroke="#FF0000"/>
                        <path d="M173.518 69L226.642 1H241L187.876 69H173.518Z" stroke="#FF0000"/>
                        <path d="M40.32 40.01C40.32 40.52 40.23 41.03 39.96 41.45C39.63 41.96 38.46 43.19 37.92 43.52C37.5 43.79 36.87 44 36.39 44H28.47V26H36.39C36.87 26 37.5 26.18 37.92 26.45C38.46 26.78 39.63 28.07 39.96 28.58C40.23 29 40.32 29.51 40.32 30.02V40.01ZM38.58 30.08C38.58 29.93 38.55 29.75 38.49 29.63C38.1 28.94 37.11 28.01 36.63 27.77C36.54 27.71 36.39 27.68 36.24 27.68H30.21V42.32H36.24C36.39 42.32 36.54 42.29 36.63 42.23C37.11 41.99 38.1 41.03 38.49 40.34C38.55 40.22 38.58 40.1 38.58 39.95V30.08ZM55.1084 44H44.7884V26H55.1084V27.68H46.5284V34.16H54.6584V35.84H46.5284V42.32H55.1084V44ZM69.8698 44H59.7298V26H61.4698V42.32H69.8698V44ZM83.7021 44H73.3821V26H83.7021V27.68H75.1221V34.16H83.2521V35.84H75.1221V42.32H83.7021V44ZM99.0935 27.68H93.9635V44H92.2235V27.68H87.0935V26H99.0935V27.68ZM112.735 44H102.415V26H112.735V27.68H104.155V34.16H112.285V35.84H104.155V42.32H112.735V44Z" fill="white"/>
                    </svg>
                </button>
                <% } %>
            </div>
        </form>
    <% } else if(canView) { %>
        <div class="titles">
            <svg class="title" width="602" height="81" viewBox="0 0 602 81" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M104.038 52H97.8111V37.3529H84.8837V52H78.6572V16.5386H84.8837V31.4229H97.8111V16.5386H104.038V52ZM140.523 52H133.881L131.272 44.4689H117.811L115.202 52H108.56L120.954 16.5386H128.188L140.523 52ZM129.315 38.5389L124.571 24.5441L119.768 38.5389H129.315ZM170.281 45.1212C169.886 46.0305 169.471 46.7816 169.036 47.3746C166.585 50.6559 164.075 52.2965 161.505 52.2965H154.092C152.788 52.2965 151.562 51.9407 150.416 51.2291C149.823 50.8733 149.052 50.221 148.103 49.2722C147.154 48.3234 146.482 47.5723 146.087 47.0188C145.454 46.07 145.138 44.9433 145.138 43.6387V24.9592C145.138 23.6941 145.454 22.5872 146.087 21.6384C146.482 21.0454 147.154 20.2745 148.103 19.3257C149.091 18.3374 149.862 17.6851 150.416 17.3688C151.681 16.6572 152.906 16.3014 154.092 16.3014H161.505C164.035 16.3014 166.545 17.942 169.036 21.2233C169.273 21.5396 169.688 22.2314 170.281 23.2988L164.233 25.0185C163.047 23.5558 162.157 22.6465 161.564 22.2907C161.525 22.2512 161.446 22.2314 161.327 22.2314H154.33L154.092 22.2907C153.064 22.8442 152.175 23.7139 151.424 24.8999C151.384 24.979 151.365 25.1964 151.365 25.5522V43.5794C151.365 43.8957 151.681 44.3701 152.313 45.0026C152.985 45.5956 153.578 46.0305 154.092 46.3072C154.132 46.3467 154.27 46.3665 154.507 46.3665H161.268C161.386 46.3665 161.485 46.3467 161.564 46.3072C161.92 46.1491 162.315 45.8328 162.75 45.3584C163.225 44.884 163.6 44.4491 163.877 44.0538L164.233 43.5201L170.281 45.1212ZM204.719 52H197.069L184.794 37.175H184.142V52H177.915V16.5386H184.142V31.3043H184.735C186.158 29.6439 188.233 27.1533 190.961 23.8325C193.689 20.5117 195.705 18.0804 197.01 16.5386H204.66L189.894 34.21C190.526 34.9611 192.72 37.6099 196.476 42.1562C200.271 46.7025 203.019 49.9838 204.719 52ZM250.049 43.5794C250.049 44.9631 249.732 46.0898 249.1 46.9595C248.704 47.5525 248.032 48.3432 247.084 49.3315C246.135 50.2803 245.364 50.9128 244.771 51.2291C243.506 51.9407 242.28 52.2965 241.094 52.2965H230.776C228.206 52.2965 225.696 50.6559 223.245 47.3746C223.008 47.0583 222.652 46.4456 222.178 45.5363L228.048 43.5794C228.839 44.6863 229.709 45.5956 230.657 46.3072C230.737 46.3467 230.875 46.3665 231.073 46.3665H240.798L241.154 46.3072C241.588 46.07 242.142 45.6154 242.814 44.9433C243.486 44.2712 243.822 43.8166 243.822 43.5794V40.0807C243.822 39.4877 243.585 39.1517 243.11 39.0726L227.692 34.6844C226.23 34.2891 225.083 33.4786 224.253 32.2531C223.462 31.0276 223.067 29.6834 223.067 28.2207V25.0185C223.067 23.6348 223.364 22.5081 223.957 21.6384C224.352 21.0849 225.024 20.3338 225.973 19.385C226.961 18.3967 227.752 17.7246 228.345 17.3688C229.61 16.6572 230.835 16.3014 232.021 16.3014H240.798C243.328 16.3014 245.838 17.942 248.329 21.2233C248.724 21.7768 249.12 22.4686 249.515 23.2988L243.526 25.0185C242.616 23.7139 241.747 22.8046 240.916 22.2907C240.877 22.2512 240.758 22.2314 240.561 22.2314H232.199L231.843 22.2907C231.369 22.5279 230.816 22.9628 230.183 23.5953C229.59 24.2278 229.294 24.6627 229.294 24.8999V27.8649C229.294 28.4579 229.511 28.7939 229.946 28.873L245.423 33.3798C246.846 33.7751 247.973 34.6053 248.803 35.8704C249.633 37.0959 250.049 38.4203 250.049 39.8435V43.5794ZM276.336 43.5201V16.5386H282.562V43.5794C282.562 44.884 282.246 46.0107 281.613 46.9595C281.178 47.5525 280.487 48.3432 279.538 49.3315C278.629 50.2803 277.877 50.9128 277.284 51.2291C276.138 51.9407 274.932 52.2965 273.667 52.2965H266.136C264.831 52.2965 263.606 51.9407 262.459 51.2291C261.906 50.9128 261.135 50.2803 260.147 49.3315C259.198 48.3432 258.526 47.5525 258.131 46.9595C257.498 46.0107 257.182 44.884 257.182 43.5794V16.5386H263.408V43.4608C263.408 43.6189 263.428 43.7178 263.468 43.7573C264.298 44.9828 265.167 45.8328 266.077 46.3072L266.373 46.3665H273.43C273.549 46.3665 273.647 46.3467 273.726 46.3072C274.636 45.8328 275.486 44.9828 276.276 43.7573L276.336 43.5201ZM315.692 43.9352C315.692 45.3189 315.356 46.5049 314.684 47.4932C314.407 47.8885 313.913 48.4618 313.202 49.2129C312.49 49.9245 311.937 50.4187 311.541 50.6954C310.316 51.5651 308.893 52 307.272 52H290.608V16.5386H307.272C308.813 16.5386 310.237 16.9932 311.541 17.9025C311.937 18.1792 312.49 18.6932 313.202 19.4443C313.913 20.1559 314.407 20.7094 314.684 21.1047C315.356 22.093 315.692 23.3186 315.692 24.7813V29.1695C315.692 31.0671 314.921 32.7868 313.38 34.3286C314.921 35.8704 315.692 37.5703 315.692 39.4284V43.9352ZM309.406 29.466C309.446 29.3869 309.466 29.2486 309.466 29.0509V24.8406L309.406 24.5441C309.13 24.0697 308.754 23.6151 308.28 23.1802C307.845 22.7058 307.489 22.4686 307.212 22.4686H296.835V31.4229H307.272C307.548 31.4229 307.924 31.2055 308.398 30.7706C308.873 30.3357 309.209 29.9009 309.406 29.466ZM309.406 44.1131C309.446 43.9945 309.466 43.8561 309.466 43.698V39.4877L309.406 39.1912C309.13 38.7168 308.754 38.2622 308.28 37.8273C307.845 37.3924 307.489 37.175 307.212 37.175H296.835V46.07H307.272C307.548 46.07 307.924 45.8526 308.398 45.4177C308.873 44.9828 309.209 44.548 309.406 44.1131ZM354.159 52H347.933V27.7463L340.876 43.2829H336.785L329.728 27.8056V52H323.501V16.5386H330.617L338.919 34.0321L347.103 16.5386H354.159V52ZM368.933 52H362.707V16.5386H368.933V52ZM403.684 43.5794C403.684 44.9631 403.368 46.0898 402.735 46.9595C402.34 47.5525 401.668 48.3432 400.719 49.3315C399.77 50.2803 399 50.9128 398.407 51.2291C397.141 51.9407 395.916 52.2965 394.73 52.2965H384.412C381.842 52.2965 379.332 50.6559 376.881 47.3746C376.643 47.0583 376.288 46.4456 375.813 45.5363L381.684 43.5794C382.475 44.6863 383.344 45.5956 384.293 46.3072C384.372 46.3467 384.511 46.3665 384.708 46.3665H394.433L394.789 46.3072C395.224 46.07 395.778 45.6154 396.45 44.9433C397.122 44.2712 397.458 43.8166 397.458 43.5794V40.0807C397.458 39.4877 397.221 39.1517 396.746 39.0726L381.328 34.6844C379.865 34.2891 378.719 33.4786 377.889 32.2531C377.098 31.0276 376.703 29.6834 376.703 28.2207V25.0185C376.703 23.6348 376.999 22.5081 377.592 21.6384C377.988 21.0849 378.66 20.3338 379.608 19.385C380.597 18.3967 381.387 17.7246 381.98 17.3688C383.245 16.6572 384.471 16.3014 385.657 16.3014H394.433C396.964 16.3014 399.474 17.942 401.965 21.2233C402.36 21.7768 402.755 22.4686 403.151 23.2988L397.161 25.0185C396.252 23.7139 395.382 22.8046 394.552 22.2907C394.512 22.2512 394.394 22.2314 394.196 22.2314H385.835L385.479 22.2907C385.005 22.5279 384.451 22.9628 383.819 23.5953C383.226 24.2278 382.929 24.6627 382.929 24.8999V27.8649C382.929 28.4579 383.147 28.7939 383.582 28.873L399.059 33.3798C400.482 33.7751 401.609 34.6053 402.439 35.8704C403.269 37.0959 403.684 38.4203 403.684 39.8435V43.5794ZM437.562 43.5794C437.562 44.9631 437.245 46.0898 436.613 46.9595C436.218 47.5525 435.545 48.3432 434.597 49.3315C433.648 50.2803 432.877 50.9128 432.284 51.2291C431.019 51.9407 429.793 52.2965 428.607 52.2965H418.289C415.719 52.2965 413.209 50.6559 410.758 47.3746C410.521 47.0583 410.165 46.4456 409.691 45.5363L415.561 43.5794C416.352 44.6863 417.222 45.5956 418.171 46.3072C418.25 46.3467 418.388 46.3665 418.586 46.3665H428.311L428.667 46.3072C429.102 46.07 429.655 45.6154 430.327 44.9433C430.999 44.2712 431.335 43.8166 431.335 43.5794V40.0807C431.335 39.4877 431.098 39.1517 430.624 39.0726L415.206 34.6844C413.743 34.2891 412.596 33.4786 411.766 32.2531C410.975 31.0276 410.58 29.6834 410.58 28.2207V25.0185C410.58 23.6348 410.877 22.5081 411.47 21.6384C411.865 21.0849 412.537 20.3338 413.486 19.385C414.474 18.3967 415.265 17.7246 415.858 17.3688C417.123 16.6572 418.348 16.3014 419.534 16.3014H428.311C430.841 16.3014 433.351 17.942 435.842 21.2233C436.237 21.7768 436.633 22.4686 437.028 23.2988L431.039 25.0185C430.129 23.7139 429.26 22.8046 428.429 22.2907C428.39 22.2512 428.271 22.2314 428.074 22.2314H419.712L419.357 22.2907C418.882 22.5279 418.329 22.9628 417.696 23.5953C417.103 24.2278 416.807 24.6627 416.807 24.8999V27.8649C416.807 28.4579 417.024 28.7939 417.459 28.873L432.936 33.3798C434.359 33.7751 435.486 34.6053 436.316 35.8704C437.147 37.0959 437.562 38.4203 437.562 39.8435V43.5794ZM451.455 52H445.228V16.5386H451.455V52ZM486.977 43.5794C486.977 44.884 486.661 46.0107 486.028 46.9595C485.554 47.592 484.842 48.3827 483.893 49.3315C482.984 50.2803 482.253 50.9128 481.699 51.2291C480.553 51.9407 479.327 52.2965 478.023 52.2965H469.009C467.705 52.2965 466.479 51.9407 465.333 51.2291C464.779 50.9128 464.008 50.2803 463.02 49.3315C462.071 48.3432 461.399 47.5525 461.004 46.9595C460.371 46.0107 460.055 44.884 460.055 43.5794V25.0185C460.055 23.7139 460.371 22.5872 461.004 21.6384C461.399 21.0454 462.071 20.2745 463.02 19.3257C464.008 18.3374 464.779 17.6851 465.333 17.3688C466.479 16.6572 467.705 16.3014 469.009 16.3014H478.023C479.327 16.3014 480.553 16.6572 481.699 17.3688C482.253 17.6851 482.984 18.3176 483.893 19.2664C484.842 20.2152 485.554 21.0059 486.028 21.6384C486.661 22.5872 486.977 23.7139 486.977 25.0185V43.5794ZM466.281 25.1964V43.5201C466.281 43.6387 466.301 43.7178 466.341 43.7573C467.131 44.9433 468.001 45.7933 468.95 46.3072C469.029 46.3467 469.128 46.3665 469.246 46.3665H477.786C477.904 46.3665 478.003 46.3467 478.082 46.3072C479.031 45.7933 479.901 44.9433 480.691 43.7573L480.751 43.5201V25.1964C480.751 25.0383 480.731 24.9394 480.691 24.8999C479.861 23.6744 478.991 22.8046 478.082 22.2907C478.003 22.2512 477.904 22.2314 477.786 22.2314H469.246C469.088 22.2314 468.989 22.2512 468.95 22.2907C468.041 22.8046 467.171 23.6744 466.341 24.8999L466.281 25.1964ZM519.999 52H513.417L501.142 28.4579V52H494.915V16.5386H501.616L513.773 40.3772V16.5386H519.999V52Z" fill="white"/>
                <path d="M273.66 80H265.644V66.02H273.66V67.3248H266.996V72.3576H273.31V73.6624H266.996V78.6952H273.66V80ZM286.406 80H284.658L278.577 68.0704V80H277.272V66.02H279.066L285.101 78.0661V66.02H286.406V80ZM299.263 76.9011C299.263 77.3516 299.17 77.7244 298.983 78.0195C298.843 78.2214 298.595 78.5088 298.238 78.8816C297.88 79.2544 297.601 79.5029 297.399 79.6272C297.011 79.8757 296.614 80 296.211 80H290.059V66.02H296.211C296.645 66.02 297.042 66.1365 297.399 66.3695C297.601 66.4938 297.88 66.7501 298.238 67.1384C298.595 67.5112 298.843 67.8063 298.983 68.0238C299.17 68.3189 299.263 68.6917 299.263 69.1422V76.9011ZM297.911 69.1888C297.911 69.049 297.888 68.9325 297.842 68.8393C297.702 68.5752 297.477 68.2956 297.166 68.0005C296.855 67.6898 296.599 67.4879 296.397 67.3947C296.319 67.3481 296.218 67.3248 296.094 67.3248H291.411V78.6952H296.094C296.218 78.6952 296.319 78.6719 296.397 78.6253C296.599 78.5321 296.855 78.3302 297.166 78.0195C297.477 77.7088 297.702 77.4215 297.842 77.1574C297.888 77.0642 297.911 76.9632 297.911 76.8545V69.1888ZM312.38 76.9943C312.38 77.4603 312.286 77.8409 312.1 78.136C311.96 78.3379 311.704 78.6253 311.331 78.9981C310.974 79.3709 310.694 79.6194 310.492 79.7437C310.104 79.9922 309.708 80.1165 309.304 80.1165H305.436C305.017 80.1165 304.613 79.9922 304.225 79.7437C303.774 79.4641 303.293 78.9748 302.78 78.2758C302.562 77.9807 302.392 77.6778 302.267 77.3671L303.595 76.9943L303.759 77.2739C303.914 77.5535 304.139 77.8409 304.434 78.136C304.729 78.4311 304.978 78.6331 305.18 78.7418C305.242 78.7884 305.351 78.8117 305.506 78.8117H309.211C309.319 78.8117 309.413 78.7884 309.49 78.7418C309.692 78.6331 309.949 78.4389 310.259 78.1593C310.585 77.8642 310.818 77.5923 310.958 77.3438C311.005 77.2506 311.028 77.1496 311.028 77.0409V75.5497C311.028 75.3012 310.958 75.0759 310.818 74.874C310.679 74.6565 310.5 74.5167 310.283 74.4546L303.898 72.7071C303.463 72.5828 303.114 72.3188 302.85 71.9149C302.586 71.4955 302.454 71.0295 302.454 70.5169V69.0723C302.454 68.6063 302.547 68.2257 302.733 67.9306C302.873 67.7287 303.122 67.4413 303.479 67.0685C303.852 66.6802 304.139 66.4239 304.341 66.2996C304.729 66.0511 305.125 65.9268 305.529 65.9268H309.001C309.405 65.9268 309.801 66.0511 310.189 66.2996C310.64 66.5792 311.121 67.0685 311.634 67.7675C311.882 68.1248 312.061 68.4277 312.17 68.6762L310.818 69.0723L310.655 68.7694C310.516 68.5053 310.29 68.2257 309.98 67.9306C309.684 67.6199 309.436 67.4102 309.234 67.3015C309.156 67.2549 309.055 67.2316 308.931 67.2316H305.646C305.522 67.2316 305.421 67.2549 305.343 67.3015C305.125 67.4102 304.861 67.6044 304.551 67.884C304.256 68.1481 304.038 68.4044 303.898 68.6529C303.836 68.7772 303.805 68.8781 303.805 68.9558V70.4237C303.805 70.6567 303.875 70.8742 304.015 71.0761C304.155 71.278 304.325 71.4101 304.527 71.4722L310.888 73.243C311.339 73.3673 311.696 73.6391 311.96 74.0585C312.24 74.4624 312.38 74.9128 312.38 75.4099V76.9943ZM322.151 80H320.8V66.02H322.151V80ZM334.985 80H333.238L327.157 68.0704V80H325.852V66.02H327.646L333.681 78.0661V66.02H334.985V80Z" fill="#FF0000"/>
                <circle cx="33.6962" cy="33.2411" r="25.578" stroke="#FF0000" stroke-width="2"/>
                <circle cx="33.7717" cy="33.3171" r="21.2619" stroke="#FF0000" stroke-width="2" stroke-linecap="round" stroke-dasharray="1 20"/>
                <circle cx="34.2873" cy="33.2873" r="1.28725" fill="white"/>
                <line x1="34.1201" x2="34.1201" y2="67.543" stroke="#FF0000"/>
                <line y1="33.1201" x2="67.543" y2="33.1201" stroke="#FF0000"/>
                <circle cx="33.6954" cy="33.2413" r="10.631" stroke="#FF0000"/>
                <circle cx="567.696" cy="33.2411" r="25.578" stroke="#FF0000" stroke-width="2"/>
                <circle cx="567.772" cy="33.3171" r="21.2619" stroke="#FF0000" stroke-width="2" stroke-linecap="round" stroke-dasharray="1 20"/>
                <circle cx="568.287" cy="33.2873" r="1.28725" fill="white"/>
                <line x1="568.12" x2="568.12" y2="67.543" stroke="#FF0000"/>
                <line x1="534" y1="33.1201" x2="601.543" y2="33.1201" stroke="#FF0000"/>
                <circle cx="567.695" cy="33.2413" r="10.631" stroke="#FF0000"/>
            </svg>
            <h1 class="main-title"><span id="days">18</span> : <span id="hours">5</span> : <span id="minutes">48</span> : <span id="seconds">23</span></h1>
        </div>
        
        <form action="/hack/delete/<%= reqId %>" enctype="multipart/form-data" method="POST" style="gap: 2vw">
            <div class="left">
                <div class="svgs">
                    <img src="<%= reqHack.thumbnail %>" style="width: 15vw; margin-bottom: 10px;">
                </div>
                <div class="svgs">
                    <svg class="project-name-svg" width="340" height="70" viewBox="0 0 340 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M336.94 1H0.999913V69H290.016L336.94 1Z" stroke="white"/>
                        <path d="M340 27V4L295.116 69.5H310.927L340 27Z" fill="white"/>
                    </svg>
                    <input type="text" disabled class="project-name" name="projectName" placeholder="Name of project" value="<%= reqHack.projectName %>">                    
                </div>
                <h1 class="team-name"><%= reqTeam.teamName %></h1>
                <p class="participant">Team Members:</p>
                <p class="participant"><%= reqTeam.participant1 %></p>
                <p class="participant"><%= reqTeam.participant2 %></p>
                <p class="participant"><%= reqTeam.participant3 %></p>
                <p class="participant"><%= reqTeam.participant4 %></p>
            </div>
            <div class="right">
                <div class="svgs">
                    <svg class="desc-svg" style="width: 43.33vw;" viewBox="0 0 858 191" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 190H60H857.5V1H100L1 190Z" fill="#0E030A" stroke="#FF0000"/>
                    </svg>
                    <input type="text" disabled placeholder="Enter description of your project" name="desc" class="desc" value="<%= reqHack.desc %>">
                </div>
                <div class="svgs">
                    <svg class="svg-input" width="858" height="70" viewBox="0 0 858 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M854.787 1H1.00089V69H805.51L854.787 1Z" stroke="white"/>
                        <path d="M858 27V4L810.865 69.5H827.469L858 27Z" fill="white"/>
                    </svg>
                    <input class="input-text" disabled name="submissionLink" type="text" placeholder="Github Link" value="<%= reqHack.submissionLink %>">                    
                </div>
                <div class="svgs">
                    <svg class="svg-input" width="858" height="70" viewBox="0 0 858 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M854.787 1H1.00089V69H805.51L854.787 1Z" stroke="white"/>
                        <path d="M858 27V4L810.865 69.5H827.469L858 27Z" fill="white"/>
                    </svg>
                    <input class="input-text" disabled name="gdLink" type="text" placeholder="Google Drive Link" value="<%= reqHack.gdLink %>">                    
                </div>
            </div>
        </form>
    <% } else {  %>
    <% if (error.length > 1) { %>
        <div class="section">
            <p><%= error %></p>
            <button class="goBackBtn" onclick="history.back()">Go Back</button>
        </div>
    <% } else { %>
        <div class="titles">
            <svg class="title" width="602" height="81" viewBox="0 0 602 81" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M104.038 52H97.8111V37.3529H84.8837V52H78.6572V16.5386H84.8837V31.4229H97.8111V16.5386H104.038V52ZM140.523 52H133.881L131.272 44.4689H117.811L115.202 52H108.56L120.954 16.5386H128.188L140.523 52ZM129.315 38.5389L124.571 24.5441L119.768 38.5389H129.315ZM170.281 45.1212C169.886 46.0305 169.471 46.7816 169.036 47.3746C166.585 50.6559 164.075 52.2965 161.505 52.2965H154.092C152.788 52.2965 151.562 51.9407 150.416 51.2291C149.823 50.8733 149.052 50.221 148.103 49.2722C147.154 48.3234 146.482 47.5723 146.087 47.0188C145.454 46.07 145.138 44.9433 145.138 43.6387V24.9592C145.138 23.6941 145.454 22.5872 146.087 21.6384C146.482 21.0454 147.154 20.2745 148.103 19.3257C149.091 18.3374 149.862 17.6851 150.416 17.3688C151.681 16.6572 152.906 16.3014 154.092 16.3014H161.505C164.035 16.3014 166.545 17.942 169.036 21.2233C169.273 21.5396 169.688 22.2314 170.281 23.2988L164.233 25.0185C163.047 23.5558 162.157 22.6465 161.564 22.2907C161.525 22.2512 161.446 22.2314 161.327 22.2314H154.33L154.092 22.2907C153.064 22.8442 152.175 23.7139 151.424 24.8999C151.384 24.979 151.365 25.1964 151.365 25.5522V43.5794C151.365 43.8957 151.681 44.3701 152.313 45.0026C152.985 45.5956 153.578 46.0305 154.092 46.3072C154.132 46.3467 154.27 46.3665 154.507 46.3665H161.268C161.386 46.3665 161.485 46.3467 161.564 46.3072C161.92 46.1491 162.315 45.8328 162.75 45.3584C163.225 44.884 163.6 44.4491 163.877 44.0538L164.233 43.5201L170.281 45.1212ZM204.719 52H197.069L184.794 37.175H184.142V52H177.915V16.5386H184.142V31.3043H184.735C186.158 29.6439 188.233 27.1533 190.961 23.8325C193.689 20.5117 195.705 18.0804 197.01 16.5386H204.66L189.894 34.21C190.526 34.9611 192.72 37.6099 196.476 42.1562C200.271 46.7025 203.019 49.9838 204.719 52ZM250.049 43.5794C250.049 44.9631 249.732 46.0898 249.1 46.9595C248.704 47.5525 248.032 48.3432 247.084 49.3315C246.135 50.2803 245.364 50.9128 244.771 51.2291C243.506 51.9407 242.28 52.2965 241.094 52.2965H230.776C228.206 52.2965 225.696 50.6559 223.245 47.3746C223.008 47.0583 222.652 46.4456 222.178 45.5363L228.048 43.5794C228.839 44.6863 229.709 45.5956 230.657 46.3072C230.737 46.3467 230.875 46.3665 231.073 46.3665H240.798L241.154 46.3072C241.588 46.07 242.142 45.6154 242.814 44.9433C243.486 44.2712 243.822 43.8166 243.822 43.5794V40.0807C243.822 39.4877 243.585 39.1517 243.11 39.0726L227.692 34.6844C226.23 34.2891 225.083 33.4786 224.253 32.2531C223.462 31.0276 223.067 29.6834 223.067 28.2207V25.0185C223.067 23.6348 223.364 22.5081 223.957 21.6384C224.352 21.0849 225.024 20.3338 225.973 19.385C226.961 18.3967 227.752 17.7246 228.345 17.3688C229.61 16.6572 230.835 16.3014 232.021 16.3014H240.798C243.328 16.3014 245.838 17.942 248.329 21.2233C248.724 21.7768 249.12 22.4686 249.515 23.2988L243.526 25.0185C242.616 23.7139 241.747 22.8046 240.916 22.2907C240.877 22.2512 240.758 22.2314 240.561 22.2314H232.199L231.843 22.2907C231.369 22.5279 230.816 22.9628 230.183 23.5953C229.59 24.2278 229.294 24.6627 229.294 24.8999V27.8649C229.294 28.4579 229.511 28.7939 229.946 28.873L245.423 33.3798C246.846 33.7751 247.973 34.6053 248.803 35.8704C249.633 37.0959 250.049 38.4203 250.049 39.8435V43.5794ZM276.336 43.5201V16.5386H282.562V43.5794C282.562 44.884 282.246 46.0107 281.613 46.9595C281.178 47.5525 280.487 48.3432 279.538 49.3315C278.629 50.2803 277.877 50.9128 277.284 51.2291C276.138 51.9407 274.932 52.2965 273.667 52.2965H266.136C264.831 52.2965 263.606 51.9407 262.459 51.2291C261.906 50.9128 261.135 50.2803 260.147 49.3315C259.198 48.3432 258.526 47.5525 258.131 46.9595C257.498 46.0107 257.182 44.884 257.182 43.5794V16.5386H263.408V43.4608C263.408 43.6189 263.428 43.7178 263.468 43.7573C264.298 44.9828 265.167 45.8328 266.077 46.3072L266.373 46.3665H273.43C273.549 46.3665 273.647 46.3467 273.726 46.3072C274.636 45.8328 275.486 44.9828 276.276 43.7573L276.336 43.5201ZM315.692 43.9352C315.692 45.3189 315.356 46.5049 314.684 47.4932C314.407 47.8885 313.913 48.4618 313.202 49.2129C312.49 49.9245 311.937 50.4187 311.541 50.6954C310.316 51.5651 308.893 52 307.272 52H290.608V16.5386H307.272C308.813 16.5386 310.237 16.9932 311.541 17.9025C311.937 18.1792 312.49 18.6932 313.202 19.4443C313.913 20.1559 314.407 20.7094 314.684 21.1047C315.356 22.093 315.692 23.3186 315.692 24.7813V29.1695C315.692 31.0671 314.921 32.7868 313.38 34.3286C314.921 35.8704 315.692 37.5703 315.692 39.4284V43.9352ZM309.406 29.466C309.446 29.3869 309.466 29.2486 309.466 29.0509V24.8406L309.406 24.5441C309.13 24.0697 308.754 23.6151 308.28 23.1802C307.845 22.7058 307.489 22.4686 307.212 22.4686H296.835V31.4229H307.272C307.548 31.4229 307.924 31.2055 308.398 30.7706C308.873 30.3357 309.209 29.9009 309.406 29.466ZM309.406 44.1131C309.446 43.9945 309.466 43.8561 309.466 43.698V39.4877L309.406 39.1912C309.13 38.7168 308.754 38.2622 308.28 37.8273C307.845 37.3924 307.489 37.175 307.212 37.175H296.835V46.07H307.272C307.548 46.07 307.924 45.8526 308.398 45.4177C308.873 44.9828 309.209 44.548 309.406 44.1131ZM354.159 52H347.933V27.7463L340.876 43.2829H336.785L329.728 27.8056V52H323.501V16.5386H330.617L338.919 34.0321L347.103 16.5386H354.159V52ZM368.933 52H362.707V16.5386H368.933V52ZM403.684 43.5794C403.684 44.9631 403.368 46.0898 402.735 46.9595C402.34 47.5525 401.668 48.3432 400.719 49.3315C399.77 50.2803 399 50.9128 398.407 51.2291C397.141 51.9407 395.916 52.2965 394.73 52.2965H384.412C381.842 52.2965 379.332 50.6559 376.881 47.3746C376.643 47.0583 376.288 46.4456 375.813 45.5363L381.684 43.5794C382.475 44.6863 383.344 45.5956 384.293 46.3072C384.372 46.3467 384.511 46.3665 384.708 46.3665H394.433L394.789 46.3072C395.224 46.07 395.778 45.6154 396.45 44.9433C397.122 44.2712 397.458 43.8166 397.458 43.5794V40.0807C397.458 39.4877 397.221 39.1517 396.746 39.0726L381.328 34.6844C379.865 34.2891 378.719 33.4786 377.889 32.2531C377.098 31.0276 376.703 29.6834 376.703 28.2207V25.0185C376.703 23.6348 376.999 22.5081 377.592 21.6384C377.988 21.0849 378.66 20.3338 379.608 19.385C380.597 18.3967 381.387 17.7246 381.98 17.3688C383.245 16.6572 384.471 16.3014 385.657 16.3014H394.433C396.964 16.3014 399.474 17.942 401.965 21.2233C402.36 21.7768 402.755 22.4686 403.151 23.2988L397.161 25.0185C396.252 23.7139 395.382 22.8046 394.552 22.2907C394.512 22.2512 394.394 22.2314 394.196 22.2314H385.835L385.479 22.2907C385.005 22.5279 384.451 22.9628 383.819 23.5953C383.226 24.2278 382.929 24.6627 382.929 24.8999V27.8649C382.929 28.4579 383.147 28.7939 383.582 28.873L399.059 33.3798C400.482 33.7751 401.609 34.6053 402.439 35.8704C403.269 37.0959 403.684 38.4203 403.684 39.8435V43.5794ZM437.562 43.5794C437.562 44.9631 437.245 46.0898 436.613 46.9595C436.218 47.5525 435.545 48.3432 434.597 49.3315C433.648 50.2803 432.877 50.9128 432.284 51.2291C431.019 51.9407 429.793 52.2965 428.607 52.2965H418.289C415.719 52.2965 413.209 50.6559 410.758 47.3746C410.521 47.0583 410.165 46.4456 409.691 45.5363L415.561 43.5794C416.352 44.6863 417.222 45.5956 418.171 46.3072C418.25 46.3467 418.388 46.3665 418.586 46.3665H428.311L428.667 46.3072C429.102 46.07 429.655 45.6154 430.327 44.9433C430.999 44.2712 431.335 43.8166 431.335 43.5794V40.0807C431.335 39.4877 431.098 39.1517 430.624 39.0726L415.206 34.6844C413.743 34.2891 412.596 33.4786 411.766 32.2531C410.975 31.0276 410.58 29.6834 410.58 28.2207V25.0185C410.58 23.6348 410.877 22.5081 411.47 21.6384C411.865 21.0849 412.537 20.3338 413.486 19.385C414.474 18.3967 415.265 17.7246 415.858 17.3688C417.123 16.6572 418.348 16.3014 419.534 16.3014H428.311C430.841 16.3014 433.351 17.942 435.842 21.2233C436.237 21.7768 436.633 22.4686 437.028 23.2988L431.039 25.0185C430.129 23.7139 429.26 22.8046 428.429 22.2907C428.39 22.2512 428.271 22.2314 428.074 22.2314H419.712L419.357 22.2907C418.882 22.5279 418.329 22.9628 417.696 23.5953C417.103 24.2278 416.807 24.6627 416.807 24.8999V27.8649C416.807 28.4579 417.024 28.7939 417.459 28.873L432.936 33.3798C434.359 33.7751 435.486 34.6053 436.316 35.8704C437.147 37.0959 437.562 38.4203 437.562 39.8435V43.5794ZM451.455 52H445.228V16.5386H451.455V52ZM486.977 43.5794C486.977 44.884 486.661 46.0107 486.028 46.9595C485.554 47.592 484.842 48.3827 483.893 49.3315C482.984 50.2803 482.253 50.9128 481.699 51.2291C480.553 51.9407 479.327 52.2965 478.023 52.2965H469.009C467.705 52.2965 466.479 51.9407 465.333 51.2291C464.779 50.9128 464.008 50.2803 463.02 49.3315C462.071 48.3432 461.399 47.5525 461.004 46.9595C460.371 46.0107 460.055 44.884 460.055 43.5794V25.0185C460.055 23.7139 460.371 22.5872 461.004 21.6384C461.399 21.0454 462.071 20.2745 463.02 19.3257C464.008 18.3374 464.779 17.6851 465.333 17.3688C466.479 16.6572 467.705 16.3014 469.009 16.3014H478.023C479.327 16.3014 480.553 16.6572 481.699 17.3688C482.253 17.6851 482.984 18.3176 483.893 19.2664C484.842 20.2152 485.554 21.0059 486.028 21.6384C486.661 22.5872 486.977 23.7139 486.977 25.0185V43.5794ZM466.281 25.1964V43.5201C466.281 43.6387 466.301 43.7178 466.341 43.7573C467.131 44.9433 468.001 45.7933 468.95 46.3072C469.029 46.3467 469.128 46.3665 469.246 46.3665H477.786C477.904 46.3665 478.003 46.3467 478.082 46.3072C479.031 45.7933 479.901 44.9433 480.691 43.7573L480.751 43.5201V25.1964C480.751 25.0383 480.731 24.9394 480.691 24.8999C479.861 23.6744 478.991 22.8046 478.082 22.2907C478.003 22.2512 477.904 22.2314 477.786 22.2314H469.246C469.088 22.2314 468.989 22.2512 468.95 22.2907C468.041 22.8046 467.171 23.6744 466.341 24.8999L466.281 25.1964ZM519.999 52H513.417L501.142 28.4579V52H494.915V16.5386H501.616L513.773 40.3772V16.5386H519.999V52Z" fill="white"/>
                <path d="M273.66 80H265.644V66.02H273.66V67.3248H266.996V72.3576H273.31V73.6624H266.996V78.6952H273.66V80ZM286.406 80H284.658L278.577 68.0704V80H277.272V66.02H279.066L285.101 78.0661V66.02H286.406V80ZM299.263 76.9011C299.263 77.3516 299.17 77.7244 298.983 78.0195C298.843 78.2214 298.595 78.5088 298.238 78.8816C297.88 79.2544 297.601 79.5029 297.399 79.6272C297.011 79.8757 296.614 80 296.211 80H290.059V66.02H296.211C296.645 66.02 297.042 66.1365 297.399 66.3695C297.601 66.4938 297.88 66.7501 298.238 67.1384C298.595 67.5112 298.843 67.8063 298.983 68.0238C299.17 68.3189 299.263 68.6917 299.263 69.1422V76.9011ZM297.911 69.1888C297.911 69.049 297.888 68.9325 297.842 68.8393C297.702 68.5752 297.477 68.2956 297.166 68.0005C296.855 67.6898 296.599 67.4879 296.397 67.3947C296.319 67.3481 296.218 67.3248 296.094 67.3248H291.411V78.6952H296.094C296.218 78.6952 296.319 78.6719 296.397 78.6253C296.599 78.5321 296.855 78.3302 297.166 78.0195C297.477 77.7088 297.702 77.4215 297.842 77.1574C297.888 77.0642 297.911 76.9632 297.911 76.8545V69.1888ZM312.38 76.9943C312.38 77.4603 312.286 77.8409 312.1 78.136C311.96 78.3379 311.704 78.6253 311.331 78.9981C310.974 79.3709 310.694 79.6194 310.492 79.7437C310.104 79.9922 309.708 80.1165 309.304 80.1165H305.436C305.017 80.1165 304.613 79.9922 304.225 79.7437C303.774 79.4641 303.293 78.9748 302.78 78.2758C302.562 77.9807 302.392 77.6778 302.267 77.3671L303.595 76.9943L303.759 77.2739C303.914 77.5535 304.139 77.8409 304.434 78.136C304.729 78.4311 304.978 78.6331 305.18 78.7418C305.242 78.7884 305.351 78.8117 305.506 78.8117H309.211C309.319 78.8117 309.413 78.7884 309.49 78.7418C309.692 78.6331 309.949 78.4389 310.259 78.1593C310.585 77.8642 310.818 77.5923 310.958 77.3438C311.005 77.2506 311.028 77.1496 311.028 77.0409V75.5497C311.028 75.3012 310.958 75.0759 310.818 74.874C310.679 74.6565 310.5 74.5167 310.283 74.4546L303.898 72.7071C303.463 72.5828 303.114 72.3188 302.85 71.9149C302.586 71.4955 302.454 71.0295 302.454 70.5169V69.0723C302.454 68.6063 302.547 68.2257 302.733 67.9306C302.873 67.7287 303.122 67.4413 303.479 67.0685C303.852 66.6802 304.139 66.4239 304.341 66.2996C304.729 66.0511 305.125 65.9268 305.529 65.9268H309.001C309.405 65.9268 309.801 66.0511 310.189 66.2996C310.64 66.5792 311.121 67.0685 311.634 67.7675C311.882 68.1248 312.061 68.4277 312.17 68.6762L310.818 69.0723L310.655 68.7694C310.516 68.5053 310.29 68.2257 309.98 67.9306C309.684 67.6199 309.436 67.4102 309.234 67.3015C309.156 67.2549 309.055 67.2316 308.931 67.2316H305.646C305.522 67.2316 305.421 67.2549 305.343 67.3015C305.125 67.4102 304.861 67.6044 304.551 67.884C304.256 68.1481 304.038 68.4044 303.898 68.6529C303.836 68.7772 303.805 68.8781 303.805 68.9558V70.4237C303.805 70.6567 303.875 70.8742 304.015 71.0761C304.155 71.278 304.325 71.4101 304.527 71.4722L310.888 73.243C311.339 73.3673 311.696 73.6391 311.96 74.0585C312.24 74.4624 312.38 74.9128 312.38 75.4099V76.9943ZM322.151 80H320.8V66.02H322.151V80ZM334.985 80H333.238L327.157 68.0704V80H325.852V66.02H327.646L333.681 78.0661V66.02H334.985V80Z" fill="#FF0000"/>
                <circle cx="33.6962" cy="33.2411" r="25.578" stroke="#FF0000" stroke-width="2"/>
                <circle cx="33.7717" cy="33.3171" r="21.2619" stroke="#FF0000" stroke-width="2" stroke-linecap="round" stroke-dasharray="1 20"/>
                <circle cx="34.2873" cy="33.2873" r="1.28725" fill="white"/>
                <line x1="34.1201" x2="34.1201" y2="67.543" stroke="#FF0000"/>
                <line y1="33.1201" x2="67.543" y2="33.1201" stroke="#FF0000"/>
                <circle cx="33.6954" cy="33.2413" r="10.631" stroke="#FF0000"/>
                <circle cx="567.696" cy="33.2411" r="25.578" stroke="#FF0000" stroke-width="2"/>
                <circle cx="567.772" cy="33.3171" r="21.2619" stroke="#FF0000" stroke-width="2" stroke-linecap="round" stroke-dasharray="1 20"/>
                <circle cx="568.287" cy="33.2873" r="1.28725" fill="white"/>
                <line x1="568.12" x2="568.12" y2="67.543" stroke="#FF0000"/>
                <line x1="534" y1="33.1201" x2="601.543" y2="33.1201" stroke="#FF0000"/>
                <circle cx="567.695" cy="33.2413" r="10.631" stroke="#FF0000"/>
            </svg>
            <h1 class="main-title"><span id="days">18</span> : <span id="hours">5</span> : <span id="minutes">48</span> : <span id="seconds">23</span></h1>
        </div>
        
        <form action="/hack/post" enctype="multipart/form-data" method="POST">
            <div class="left">
                <div class="svgs">
                    <svg class="upload-svg" width="510" height="192" viewBox="0 0 510 192" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.999969 1H445.25L341.25 191H0.999969V1Z" fill="#0F0309"/>
                        <path d="M370.979 191L474.979 1H509L405 191H370.979Z" fill="#FF0000"/>
                        <path d="M0.999969 1H445.25L341.25 191H0.999969V1Z" stroke="#FF0000" stroke-dasharray="30 30"/>
                        <path d="M370.979 191L474.979 1H509L405 191H370.979Z" stroke="#FF0000" stroke-dasharray="30 30"/>
                    </svg>
                    <label class="upload-label" for="upload">Click to upload thumbnail</label>
                    <input type="file" name="thumbnail" id="upload" style="display: none;">
                </div>
                <div class="svgs">
                    <svg class="project-name-svg" width="340" height="70" viewBox="0 0 340 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M336.94 1H0.999913V69H290.016L336.94 1Z" stroke="white"/>
                        <path d="M340 27V4L295.116 69.5H310.927L340 27Z" fill="white"/>
                    </svg>
                    <input type="text" class="project-name" name="projectName" placeholder="Name of project" autocomplete="off">                    
                </div>
                <h1 class="team-name"><%= reqTeam.teamName %></h1>
                <p class="participant">Team Members:</p>
                <p class="participant"><%= reqTeam.participant1 %></p>
                <p class="participant"><%= reqTeam.participant2 %></p>
                <p class="participant"><%= reqTeam.participant3 %></p>
                <p class="participant"><%= reqTeam.participant4 %></p>
            </div>
            <div class="right">
                <div class="svgs">
                    <svg class="desc-svg" width="858" height="191" viewBox="0 0 858 191" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 190H60H857.5V1H100L1 190Z" fill="#0E030A" stroke="#FF0000"/>
                    </svg>
                    <input type="text" placeholder="Enter description of your project" name="desc" class="desc" autocomplete="off">
                </div>
                <div class="svgs">
                    <svg class="svg-input" width="858" height="70" viewBox="0 0 858 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M854.787 1H1.00089V69H805.51L854.787 1Z" stroke="white"/>
                        <path d="M858 27V4L810.865 69.5H827.469L858 27Z" fill="white"/>
                    </svg>
                    <input class="input-text" name="submissionLink" type="text" placeholder="Github Link" autocomplete="off">                    
                </div>
                <div class="svgs">
                    <svg class="svg-input" width="858" height="70" viewBox="0 0 858 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M854.787 1H1.00089V69H805.51L854.787 1Z" stroke="white"/>
                        <path d="M858 27V4L810.865 69.5H827.469L858 27Z" fill="white"/>
                    </svg>
                    <input class="input-text" name="gdLink" type="text" placeholder="Google Drive Link" autocomplete="off">                    
                </div>
                <label class="upload-label2" for="env">Click to upload .env</label>
                <input type="file" name="env" id="env" style="display: none;">

                <button type="submit">
                    <svg class="sub-button" width="243" height="70" viewBox="0 0 243 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1H176.165L123.041 69H1V1Z" stroke="#FF0000"/>
                        <path d="M136.92 69L190.044 1H213.495L160.371 69H136.92Z" stroke="#FF0000"/>
                        <path d="M173.518 69L226.642 1H241L187.876 69H173.518Z" stroke="#FF0000"/>
                        <path d="M41.58 39.74C41.58 40.44 41.42 41.01 41.1 41.45C40.9 41.75 40.56 42.15 40.08 42.65C39.6 43.13 39.21 43.45 38.91 43.61C38.27 43.97 37.65 44.15 37.05 44.15H31.83C30.53 44.15 29.26 43.32 28.02 41.66C27.9 41.5 27.72 41.19 27.48 40.73L30.45 39.74C30.85 40.3 31.29 40.76 31.77 41.12C31.81 41.14 31.88 41.15 31.98 41.15H36.9L37.08 41.12C37.3 41 37.58 40.77 37.92 40.43C38.26 40.09 38.43 39.86 38.43 39.74V37.97C38.43 37.67 38.31 37.5 38.07 37.46L30.27 35.24C29.53 35.04 28.95 34.63 28.53 34.01C28.13 33.39 27.93 32.71 27.93 31.97V30.35C27.93 29.65 28.08 29.08 28.38 28.64C28.58 28.36 28.92 27.98 29.4 27.5C29.9 27 30.3 26.66 30.6 26.48C31.24 26.12 31.86 25.94 32.46 25.94H36.9C38.18 25.94 39.45 26.77 40.71 28.43C40.91 28.71 41.11 29.06 41.31 29.48L38.28 30.35C37.82 29.69 37.38 29.23 36.96 28.97C36.94 28.95 36.88 28.94 36.78 28.94H32.55L32.37 28.97C32.13 29.09 31.85 29.31 31.53 29.63C31.23 29.95 31.08 30.17 31.08 30.29V31.79C31.08 32.09 31.19 32.26 31.41 32.3L39.24 34.58C39.96 34.78 40.53 35.2 40.95 35.84C41.37 36.46 41.58 37.13 41.58 37.85V39.74ZM54.8787 39.71V26.06H58.0287V39.74C58.0287 40.4 57.8687 40.97 57.5487 41.45C57.3287 41.75 56.9787 42.15 56.4987 42.65C56.0387 43.13 55.6587 43.45 55.3587 43.61C54.7787 43.97 54.1687 44.15 53.5287 44.15H49.7187C49.0587 44.15 48.4387 43.97 47.8587 43.61C47.5787 43.45 47.1887 43.13 46.6887 42.65C46.2087 42.15 45.8687 41.75 45.6687 41.45C45.3487 40.97 45.1887 40.4 45.1887 39.74V26.06H48.3387V39.68C48.3387 39.76 48.3487 39.81 48.3687 39.83C48.7887 40.45 49.2287 40.88 49.6887 41.12L49.8387 41.15H53.4087C53.4687 41.15 53.5187 41.14 53.5587 41.12C54.0187 40.88 54.4487 40.45 54.8487 39.83L54.8787 39.71ZM74.7893 39.92C74.7893 40.62 74.6193 41.22 74.2793 41.72C74.1393 41.92 73.8893 42.21 73.5293 42.59C73.1693 42.95 72.8893 43.2 72.6893 43.34C72.0693 43.78 71.3493 44 70.5293 44H62.0993V26.06H70.5293C71.3093 26.06 72.0293 26.29 72.6893 26.75C72.8893 26.89 73.1693 27.15 73.5293 27.53C73.8893 27.89 74.1393 28.17 74.2793 28.37C74.6193 28.87 74.7893 29.49 74.7893 30.23V32.45C74.7893 33.41 74.3993 34.28 73.6193 35.06C74.3993 35.84 74.7893 36.7 74.7893 37.64V39.92ZM71.6093 32.6C71.6293 32.56 71.6393 32.49 71.6393 32.39V30.26L71.6093 30.11C71.4693 29.87 71.2793 29.64 71.0393 29.42C70.8193 29.18 70.6393 29.06 70.4993 29.06H65.2493V33.59H70.5293C70.6693 33.59 70.8593 33.48 71.0993 33.26C71.3393 33.04 71.5093 32.82 71.6093 32.6ZM71.6093 40.01C71.6293 39.95 71.6393 39.88 71.6393 39.8V37.67L71.6093 37.52C71.4693 37.28 71.2793 37.05 71.0393 36.83C70.8193 36.61 70.6393 36.5 70.4993 36.5H65.2493V41H70.5293C70.6693 41 70.8593 40.89 71.0993 40.67C71.3393 40.45 71.5093 40.23 71.6093 40.01ZM94.2499 44H91.0999V31.73L87.5299 39.59H85.4599L81.8899 31.76V44H78.7399V26.06H82.3399L86.5399 34.91L90.6799 26.06H94.2499V44ZM101.724 44H98.5739V26.06H101.724V44ZM117.955 29.06H113.095V44H109.945V29.06H105.085V26.06H117.955V29.06Z" fill="white"/>
                    </svg>                
                </button>
            </div>
        </form>
    <% } %>
<% } %>

    <svg class="bottom-vector" width="988" height="39" viewBox="0 0 988 39" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M38.5 37.5L548.5 37.5M789 37.5L987 37.5V1L825.5 1L789 37.5ZM789 37.5L752.5 37.5M752.5 37.5L789 1L703.5 1L667 37.5M752.5 37.5L667 37.5M667 37.5L630 37.5M548.5 37.5L585 1L666.5 1L630 37.5M548.5 37.5L630 37.5M33 37.5H22M17.5 37.5H10M5.5 37.5H0" stroke="#FF0000"/>
        <path d="M847.5 1.18359L811 37.6836L832 37.6836L868 1.18359L847.5 1.18359Z" fill="#FF0000" stroke="#FF0000"/>
        <path d="M881.499 1L844.999 37.5L865.999 37.5L901.999 1L881.499 1Z" fill="#FF0000" stroke="#FF0000"/>
    </svg>
</body>
<style>
    body {
        height: 100%;
        width: 100%;
        background-image: linear-gradient(#000615, #190000);
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
    }
    .svgs {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .upload-svg {
        width: 26.563vw;
        margin-bottom: 0;
    }
    .upload-label {
        margin-left: -5vw;
        font-family: BlenderProBook;
        color: #7e7e7e;
        position: absolute;
    }
    .upload-label2 {
        font-family: BlenderProBook;
        color: #7e7e7e;
    }
    .main-title {
        font-size: 6.667vw;
        color: #fff;
        font-family: BlenderProBook;
        margin: 0;
        margin-top: -2vw;
    }
    .titles {
        align-self: center;
        margin-top: 2vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .title {
        align-self: center;
        width: 31.354vw;
        margin: 0;
    }
    .project-name {
        font-family: BlenderProBook;
        position: absolute;
        margin-left: -1.5vw;
        height: 2vw;
        background: transparent;
        outline: none;
        border: none;
        color: #fff;
        width: 13vw;
        font-size: 1.1em;
        margin-top: -0.5vw;
    }
    .project-name::placeholder {
        color: #7e7e7e;
    }
    .project-name-svg {
        width: 17.708vw;
        margin-bottom: 0.5vw;
    }
    @font-face 
    {
        font-family:BlenderProBook;
        font-style:normal;
        font-weight:400;
        src:url('/BlenderProBook.woff2') format("woff2");
    }
    @font-face 
    {
        font-family:sentex;
        font-style:normal;
        font-weight:400;
        src:url('/Sentex-Regular.ttf');
    }
    .nav {
        display: flex;
        flex-direction: row;
        width: 90%;
        align-self: center;
        margin-top: 1vw;
        align-items: center;
        justify-content: space-between;
    }
    .logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1vw;
    }
    .logo-img {
        aspect-ratio: 1;
        width: 2.917vw;
    }
    .logo-txt {
        aspect-ratio: initial;
        width: 13.281vw;
        height: 1.875vw;
    }
    .nav-menu {
        display: flex;
        height: 2vw;
        flex-direction: row;
        align-items: center;
        border: 1px solid #FF0000;
        padding: 0px 2vw;
        justify-content: center;
        width: fit-content;
        gap: 2vw;
        margin-left: 8vw;
        margin-right: -3vw;
    }
    .nav-item {
        color: #ff0000;
        list-style-type: none;
        font-family: BlenderProBook;
    }
    .line {
        height: 135%;
        margin-top: -5px;
        width: 1px;
        background: #FF0000;
        transform: rotate(-40deg);
    }
    .bottom-vector {
        position: relative;
        bottom: -1vw;
        align-self: end;
        right: 2vw;
        width: 55vw;
    }
    form {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 80vh
    }
    .left {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }
    .team-name {
        font-family: BlenderProBook;
        font-size: 2vw;
        color: #fff;
        width: 100%;
        margin: 0;
    }
    .participant {
        font-family: BlenderProBook;
        font-size: 1.5vw;
        color: #fff;
        width: 100%;
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-top: 0 !important;
        margin: 0.25vw;
    }
    .desc-svg {
        width: 44.583vw;

    }
    .right {
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
    }
    .desc {
        color: #fff;
        width: 70%;
        text-align: start;
        margin: 0;
        background: transparent;
        outline: none;
        border: none;
        height: 5vw;
        font-size: 1.1em;
        position: absolute;
        font-family: BlenderProBook;
    }
    .svg-input {
        width: 44.688vw;
    }
    .input-text {
        position: absolute;
        width: 35vw;
        height: 2vw;
        align-self: flex-start;
        margin-left: 1.5vw;
        background: transparent;
        outline: none;
        border: none;
        font-size: 1.1em;
        color: #fff;
        font-family: BlenderProBook;
    }
    button {
        background: transparent;
        outline: none;
        border: none;
    }
    .sub-button {
        width: 12.656vw;
    }
    ::-webkit-scrollbar {
        display: none;
    }
    .section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 82vh;
    }
    .section > p {
        color: #fff;
        font-family: BlenderProBook;
        font-size: 3vw;
        width: 70%;
        text-align: center;
    }
    .goBackBtn {
        background-color: transparent;
        border: 2px solid red;
        padding: 15px 20px;
        font-size: 1.2em;
        outline: none;
        color: red;
        font-family: BlenderProBook;
        border-radius: 50px;
        margin-top: 10px;
        cursor: pointer;
        transition: 0.3s;
    }
    .goBackBtn:hover {
        background: red;
        color: black;
    }
</style>
<script>
    const targetDate = new Date("2023-11-29T00:00:00");
    const reqHours = <%= reqTeam.timeExtension %>
    targetDate.setHours(targetDate.getHours() + reqHours)
    const daysSpan = document.getElementById('days')
    const hoursSpan = document.getElementById('hours')
    const minutesSpan = document.getElementById('minutes')
    const secondsSpan = document.getElementById('seconds')
    function update() {
        const now = new Date();
        const timeRemaining = targetDate - now;
        
        const days = Math.floor(timeRemaining / (1000 * 60 * 60 * 24));
        const hours = Math.floor((timeRemaining % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        const minutes = Math.floor((timeRemaining % (1000 * 60 * 60)) / (1000 * 60));
        const seconds = Math.floor((timeRemaining % (1000 * 60)) / 1000);

        daysSpan.innerHTML = days;
        hoursSpan.innerHTML = hours;
        minutesSpan.innerHTML = minutes;
        secondsSpan.innerHTML = seconds;
    }
    setInterval(update, 1000);
</script>
</html>

<!-- <form action="/hack/post" method="post">
    <p>Complete the details below</p>
    <input type="text" name="submissionLink" id="">
    <input type="text" name="gdLink" id="">
    <label for="env">Click here to upload env.</label>
    <input type="file" name="env" id="env">
    <button type="submit">Submit</button>
</form> -->