<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register for Hackathon</title>
</head>
<body>
    <% if (canReg) { %>
        <%= user.username %> 
        Create your team:
        <form action="/hackReg/create-team" method="post">
            <input type="text" required name="teamName" placeholder="team name" id="">
            <input type="email" required name="participant1" placeholder="enter email of participant 1">
            <input type="email" name="participant2" placeholder="leave blank if empty">
            <input type="email" name="participant3" placeholder="leave blank if empty">
            <input type="email" name="participant4" placeholder="leave blank if empty">
            <button type="submit">Create Team</button><br>
            <% if (error) { %>
            <%= error %>
            <% } %>
        </form>
    <% } else { %>
        <p>Edit your team:</p>
        <form action="/hackReg/editTeam/<%= reqTeam.id %>" method="post">
            <input type="text" required value="<%= reqTeam.teamName %>" placeholder="team name" name="teamName">
            <input type="email" required name="participant1" value="<%= reqTeam.participant1 %>" placeholder="enter email of participant 1">
            <input type="email" name="participant2" value="<%= reqTeam.participant2 %>" placeholder="leave blank if empty">
            <input type="email" name="participant3" value="<%= reqTeam.participant3 %>" placeholder="leave blank if empty">
            <input type="email" name="participant4" value="<%= reqTeam.participant4 %>" placeholder="leave blank if empty"> 
            <button type="submit">Submit</button>   
        </form>
    <% } %>
</body>
</html>