<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View submission</title>
</head>
<body>
    <%- include('./partials/navbar') %>

    <svg class="title" width="799" height="120" viewBox="0 0 799 120" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.5 44.5V119H798V1H40.5L0.5 44.5Z" fill="#08040F" stroke="#FF0000"/>
        <path d="M311.179 44H307.235L305.686 39.5285H297.694L296.145 44H292.201L299.56 22.945H303.855L311.179 44ZM304.524 36.0075L301.708 27.6982L298.856 36.0075H304.524ZM328.813 38.8947C328.813 39.7162 328.637 40.3852 328.284 40.9016C328.05 41.2302 327.651 41.6762 327.087 42.2395C326.524 42.7794 326.055 43.155 325.679 43.3662C324.928 43.7887 324.224 44 323.566 44H313.919V22.945H323.566C324.388 22.945 325.104 23.1445 325.714 23.5435C326.066 23.7548 326.512 24.1421 327.052 24.7054C327.592 25.2688 327.991 25.7382 328.249 26.1138C328.625 26.6302 328.813 27.2992 328.813 28.1207V38.8947ZM317.616 40.4791H323.32C323.461 40.4791 323.543 40.4674 323.566 40.4439C323.848 40.2796 324.177 40.0214 324.552 39.6693C324.928 39.2937 325.116 39.0121 325.116 38.8243V28.2264C325.116 28.1559 325.104 28.0973 325.08 28.0503C324.634 27.3227 324.118 26.8063 323.531 26.5011C323.508 26.4776 323.402 26.4659 323.214 26.4659H317.616V40.4791ZM351.962 44H348.265V29.5995L344.075 38.8243H341.645L337.456 29.6347V44H333.759V22.945H337.984L342.913 33.3317L347.772 22.945H351.962V44ZM360.733 44H357.036V22.945H360.733V44ZM380.698 44H376.79L369.501 30.022V44H365.804V22.945H369.783L377.001 37.099V22.945H380.698V44ZM408.996 30.9022C408.996 31.7003 408.785 32.4162 408.363 33.05C408.198 33.2847 407.905 33.6133 407.482 34.0358C407.06 34.4349 406.72 34.7283 406.461 34.9161C405.734 35.4325 404.9 35.6907 403.962 35.6907H397.765V44H394.068V22.945H403.962C404.9 22.945 405.734 23.2032 406.461 23.7196C406.696 23.8839 407.025 24.189 407.447 24.635C407.893 25.081 408.198 25.4214 408.363 25.6561C408.785 26.2899 408.996 27.0058 408.996 27.8038V30.9022ZM405.3 30.867V27.8391C405.3 27.7217 405.288 27.6395 405.264 27.5926C404.865 26.8884 404.49 26.5128 404.138 26.4659H403.962H397.765V32.1698H403.962C404.126 32.1698 404.349 32.0407 404.631 31.7825C404.912 31.5243 405.123 31.2661 405.264 31.0079C405.288 30.9609 405.3 30.914 405.3 30.867ZM428.999 39.0003C428.999 39.7749 428.811 40.4439 428.436 41.0072C428.154 41.3828 427.732 41.8522 427.168 42.4156C426.628 42.9789 426.194 43.3545 425.865 43.5423C425.185 43.9648 424.457 44.176 423.682 44.176H418.331C417.556 44.176 416.828 43.9648 416.148 43.5423C415.819 43.3545 415.361 42.9789 414.775 42.4156C414.211 41.8288 413.812 41.3593 413.577 41.0072C413.202 40.4439 413.014 39.7749 413.014 39.0003V27.9799C413.014 27.2053 413.202 26.5363 413.577 25.973C413.812 25.6209 414.211 25.1632 414.775 24.5998C415.361 24.013 415.819 23.6257 416.148 23.4379C416.828 23.0154 417.556 22.8042 418.331 22.8042H423.682C424.457 22.8042 425.185 23.0154 425.865 23.4379C426.194 23.6257 426.628 24.0013 427.168 24.5646C427.732 25.128 428.154 25.5974 428.436 25.973C428.811 26.5363 428.999 27.2053 428.999 27.9799V39.0003ZM416.711 28.0855V38.9651C416.711 39.0355 416.723 39.0825 416.746 39.1059C417.216 39.8101 417.732 40.3148 418.296 40.6199C418.342 40.6434 418.401 40.6551 418.472 40.6551H423.542C423.612 40.6551 423.671 40.6434 423.718 40.6199C424.281 40.3148 424.797 39.8101 425.267 39.1059L425.302 38.9651V28.0855C425.302 27.9916 425.29 27.9329 425.267 27.9095C424.774 27.1818 424.258 26.6654 423.718 26.3603C423.671 26.3368 423.612 26.3251 423.542 26.3251H418.472C418.378 26.3251 418.319 26.3368 418.296 26.3603C417.756 26.6654 417.239 27.1818 416.746 27.9095L416.711 28.0855ZM448.641 30.9022C448.641 31.7003 448.43 32.4162 448.007 33.05C447.843 33.2847 447.55 33.6133 447.127 34.0358C446.705 34.4349 446.364 34.7283 446.106 34.9161C445.801 35.1508 445.496 35.3151 445.191 35.409L449.38 44H445.367L441.458 35.6907H437.409V44H433.712V22.945H443.606C444.545 22.945 445.378 23.2032 446.106 23.7196C446.341 23.8839 446.669 24.189 447.092 24.635C447.538 25.081 447.843 25.4214 448.007 25.6561C448.43 26.2899 448.641 27.0058 448.641 27.8038V30.9022ZM444.944 30.867V27.8391C444.944 27.7217 444.932 27.6395 444.909 27.5926C444.51 26.8884 444.134 26.5128 443.782 26.4659H437.409V32.1698H443.606C443.77 32.1698 443.993 32.0407 444.275 31.7825C444.557 31.5243 444.768 31.2661 444.909 31.0079C444.932 30.9609 444.944 30.914 444.944 30.867ZM468.08 26.4659H462.376V44H458.679V26.4659H452.975V22.945H468.08V26.4659ZM486.846 44H482.902L481.353 39.5285H473.361L471.812 44H467.868L475.227 22.945H479.522L486.846 44ZM480.191 36.0075L477.375 27.6982L474.523 36.0075H480.191ZM502.613 44H489.586V22.945H493.283V40.4791H502.613V44Z" fill="#FF0000"/>
        <g filter="url(#filter0_d_179_135)">
        <path d="M208.815 61.6464L197.074 97.1074H189.78L178.098 61.6464H184.74L193.457 89.102L202.233 61.6464H208.815ZM219.456 97.1074H213.229V61.6464H219.456V97.1074ZM250.293 97.1074H227.996V61.6464H250.293V67.5763H234.223V76.5305H249.166V82.4605H234.223V91.1775H250.293V97.1074ZM297.591 61.6464L289.349 97.1074H282.292L276.599 73.3283L270.847 97.1074H263.731L255.607 61.6464H262.012L267.349 86.5521L273.219 61.6464H279.861L285.732 86.5521L291.009 61.6464H297.591ZM342.519 88.6869C342.519 90.0706 342.202 91.1972 341.57 92.067C341.175 92.66 340.502 93.4506 339.554 94.4389C338.605 95.3877 337.834 96.0203 337.241 96.3365C335.976 97.0481 334.75 97.4039 333.564 97.4039H323.246C320.677 97.4039 318.166 95.7633 315.715 92.4821C315.478 92.1658 315.122 91.553 314.648 90.6438L320.519 88.6869C321.309 89.7938 322.179 90.7031 323.128 91.4147C323.207 91.4542 323.345 91.474 323.543 91.474H333.268L333.624 91.4147C334.059 91.1775 334.612 90.7228 335.284 90.0508C335.956 89.3787 336.292 88.9241 336.292 88.6869V85.1882C336.292 84.5952 336.055 84.2592 335.581 84.1801L320.163 79.792C318.7 79.3967 317.554 78.5862 316.723 77.3607C315.933 76.1352 315.537 74.7911 315.537 73.3283V70.1262C315.537 68.7425 315.834 67.6158 316.427 66.7461C316.822 66.1926 317.494 65.4415 318.443 64.4927C319.431 63.5044 320.222 62.8323 320.815 62.4765C322.08 61.765 323.306 61.4092 324.492 61.4092H333.268C335.798 61.4092 338.308 63.0498 340.799 66.331C341.194 66.8845 341.59 67.5763 341.985 68.4065L335.996 70.1262C335.086 68.8216 334.217 67.9123 333.387 67.3984C333.347 67.3589 333.228 67.3391 333.031 67.3391H324.67L324.314 67.3984C323.839 67.6356 323.286 68.0705 322.653 68.703C322.06 69.3355 321.764 69.7704 321.764 70.0076V72.9726C321.764 73.5655 321.981 73.9016 322.416 73.9806L337.893 78.4874C339.317 78.8827 340.443 79.7129 341.273 80.978C342.104 82.2035 342.519 83.5279 342.519 84.951V88.6869ZM368.805 88.6276V61.6464H375.032V88.6869C375.032 89.9915 374.716 91.1182 374.083 92.067C373.648 92.66 372.956 93.4506 372.008 94.4389C371.098 95.3877 370.347 96.0203 369.754 96.3365C368.608 97.0481 367.402 97.4039 366.137 97.4039H358.606C357.301 97.4039 356.076 97.0481 354.929 96.3365C354.376 96.0203 353.605 95.3877 352.617 94.4389C351.668 93.4506 350.996 92.66 350.601 92.067C349.968 91.1182 349.652 89.9915 349.652 88.6869V61.6464H355.878V88.5683C355.878 88.7264 355.898 88.8253 355.937 88.8648C356.768 90.0903 357.637 90.9403 358.547 91.4147L358.843 91.474H365.9C366.018 91.474 366.117 91.4542 366.196 91.4147C367.106 90.9403 367.956 90.0903 368.746 88.8648L368.805 88.6276ZM408.162 89.0427C408.162 90.4264 407.826 91.6123 407.154 92.6007C406.877 92.996 406.383 93.5692 405.671 94.3203C404.96 95.0319 404.406 95.5261 404.011 95.8028C402.785 96.6726 401.362 97.1074 399.741 97.1074H383.078V61.6464H399.741C401.283 61.6464 402.706 62.101 404.011 63.0102C404.406 63.287 404.96 63.8009 405.671 64.552C406.383 65.2636 406.877 65.8171 407.154 66.2124C407.826 67.2007 408.162 68.4263 408.162 69.889V74.2771C408.162 76.1747 407.391 77.8944 405.849 79.4362C407.391 80.978 408.162 82.6779 408.162 84.5359V89.0427ZM401.876 74.5736C401.916 74.4946 401.935 74.3562 401.935 74.1585V69.9483L401.876 69.6518C401.599 69.1774 401.224 68.7228 400.749 68.2879C400.314 67.8135 399.959 67.5763 399.682 67.5763H389.305V76.5305H399.741C400.018 76.5305 400.394 76.3131 400.868 75.8782C401.342 75.4434 401.678 75.0085 401.876 74.5736ZM401.876 89.2206C401.916 89.102 401.935 88.9636 401.935 88.8055V84.5952L401.876 84.2987C401.599 83.8243 401.224 83.3697 400.749 82.9349C400.314 82.5 399.959 82.2826 399.682 82.2826H389.305V91.1775H399.741C400.018 91.1775 400.394 90.96 400.868 90.5252C401.342 90.0903 401.678 89.6555 401.876 89.2206ZM446.629 97.1074H440.402V72.854L433.345 88.3904H429.254L422.197 72.9133V97.1074H415.971V61.6464H423.087L431.389 79.1397L439.572 61.6464H446.629V97.1074ZM461.402 97.1074H455.176V61.6464H461.402V97.1074ZM496.153 88.6869C496.153 90.0706 495.837 91.1972 495.204 92.067C494.809 92.66 494.137 93.4506 493.188 94.4389C492.239 95.3877 491.468 96.0203 490.875 96.3365C489.61 97.0481 488.385 97.4039 487.199 97.4039H476.881C474.311 97.4039 471.801 95.7633 469.349 92.4821C469.112 92.1658 468.756 91.553 468.282 90.6438L474.153 88.6869C474.943 89.7938 475.813 90.7031 476.762 91.4147C476.841 91.4542 476.979 91.474 477.177 91.474H486.902L487.258 91.4147C487.693 91.1775 488.246 90.7228 488.918 90.0508C489.59 89.3787 489.926 88.9241 489.926 88.6869V85.1882C489.926 84.5952 489.689 84.2592 489.215 84.1801L473.797 79.792C472.334 79.3967 471.188 78.5862 470.358 77.3607C469.567 76.1352 469.172 74.7911 469.172 73.3283V70.1262C469.172 68.7425 469.468 67.6158 470.061 66.7461C470.456 66.1926 471.128 65.4415 472.077 64.4927C473.066 63.5044 473.856 62.8323 474.449 62.4765C475.714 61.765 476.94 61.4092 478.126 61.4092H486.902C489.432 61.4092 491.943 63.0498 494.433 66.331C494.828 66.8845 495.224 67.5763 495.619 68.4065L489.63 70.1262C488.721 68.8216 487.851 67.9123 487.021 67.3984C486.981 67.3589 486.863 67.3391 486.665 67.3391H478.304L477.948 67.3984C477.474 67.6356 476.92 68.0705 476.288 68.703C475.695 69.3355 475.398 69.7704 475.398 70.0076V72.9726C475.398 73.5655 475.615 73.9016 476.05 73.9806L491.527 78.4874C492.951 78.8827 494.077 79.7129 494.908 80.978C495.738 82.2035 496.153 83.5279 496.153 84.951V88.6869ZM530.03 88.6869C530.03 90.0706 529.714 91.1972 529.081 92.067C528.686 92.66 528.014 93.4506 527.065 94.4389C526.116 95.3877 525.345 96.0203 524.752 96.3365C523.487 97.0481 522.262 97.4039 521.076 97.4039H510.758C508.188 97.4039 505.678 95.7633 503.227 92.4821C502.989 92.1658 502.634 91.553 502.159 90.6438L508.03 88.6869C508.821 89.7938 509.69 90.7031 510.639 91.4147C510.718 91.4542 510.856 91.474 511.054 91.474H520.779L521.135 91.4147C521.57 91.1775 522.123 90.7228 522.795 90.0508C523.468 89.3787 523.804 88.9241 523.804 88.6869V85.1882C523.804 84.5952 523.566 84.2592 523.092 84.1801L507.674 79.792C506.211 79.3967 505.065 78.5862 504.235 77.3607C503.444 76.1352 503.049 74.7911 503.049 73.3283V70.1262C503.049 68.7425 503.345 67.6158 503.938 66.7461C504.334 66.1926 505.006 65.4415 505.954 64.4927C506.943 63.5044 507.733 62.8323 508.326 62.4765C509.591 61.765 510.817 61.4092 512.003 61.4092H520.779C523.309 61.4092 525.82 63.0498 528.31 66.331C528.706 66.8845 529.101 67.5763 529.496 68.4065L523.507 70.1262C522.598 68.8216 521.728 67.9123 520.898 67.3984C520.858 67.3589 520.74 67.3391 520.542 67.3391H512.181L511.825 67.3984C511.351 67.6356 510.797 68.0705 510.165 68.703C509.572 69.3355 509.275 69.7704 509.275 70.0076V72.9726C509.275 73.5655 509.493 73.9016 509.927 73.9806L525.405 78.4874C526.828 78.8827 527.954 79.7129 528.785 80.978C529.615 82.2035 530.03 83.5279 530.03 84.951V88.6869ZM543.923 97.1074H537.697V61.6464H543.923V97.1074ZM579.445 88.6869C579.445 89.9915 579.129 91.1182 578.496 92.067C578.022 92.6995 577.31 93.4902 576.361 94.4389C575.452 95.3877 574.721 96.0203 574.167 96.3365C573.021 97.0481 571.795 97.4039 570.491 97.4039H561.477C560.173 97.4039 558.947 97.0481 557.801 96.3365C557.247 96.0203 556.476 95.3877 555.488 94.4389C554.539 93.4506 553.867 92.66 553.472 92.067C552.839 91.1182 552.523 89.9915 552.523 88.6869V70.1262C552.523 68.8216 552.839 67.6949 553.472 66.7461C553.867 66.1531 554.539 65.3822 555.488 64.4334C556.476 63.4451 557.247 62.7928 557.801 62.4765C558.947 61.765 560.173 61.4092 561.477 61.4092H570.491C571.795 61.4092 573.021 61.765 574.167 62.4765C574.721 62.7928 575.452 63.4253 576.361 64.3741C577.31 65.3229 578.022 66.1136 578.496 66.7461C579.129 67.6949 579.445 68.8216 579.445 70.1262V88.6869ZM558.749 70.3041V88.6276C558.749 88.7462 558.769 88.8253 558.809 88.8648C559.599 90.0508 560.469 90.9007 561.418 91.4147C561.497 91.4542 561.596 91.474 561.714 91.474H570.253C570.372 91.474 570.471 91.4542 570.55 91.4147C571.499 90.9007 572.369 90.0508 573.159 88.8648L573.218 88.6276V70.3041C573.218 70.1459 573.199 70.0471 573.159 70.0076C572.329 68.7821 571.459 67.9123 570.55 67.3984C570.471 67.3589 570.372 67.3391 570.253 67.3391H561.714C561.556 67.3391 561.457 67.3589 561.418 67.3984C560.509 67.9123 559.639 68.7821 558.809 70.0076L558.749 70.3041ZM612.467 97.1074H605.885L593.61 73.5655V97.1074H587.383V61.6464H594.084L606.24 85.4847V61.6464H612.467V97.1074Z" fill="white"/>
        </g>
        <defs>
        <filter id="filter0_d_179_135" x="170.198" y="54.5092" width="452.169" height="53.7946" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dx="1" dy="2"/>
        <feGaussianBlur stdDeviation="4.45"/>
        <feComposite in2="hardAlpha" operator="out"/>
        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.25 0"/>
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_179_135"/>
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_179_135" result="shape"/>
        </filter>
        </defs>
    </svg>


    <form action="/admin/rank/<%= submission.id %>" method="POST">
        <div class="left">
            <div class="svg">
                <div class="container2">
                  <div class="container" style="background-image: url('/<%= submission.thumbnail %>');" ></div>
                  <svg class="right-img" width="141" height="192" viewBox="0 0 141 192" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M35.75 191L139.75 1H105.5L1 191H35.75Z" fill="#FF0000" stroke="#FF0000" stroke-width="0.805611"/>
                  </svg>
                </div>
                <a href="/<%= submission.env %>" download class="download-link">Download .env</a>
            </div>
            <div class="svgs">
                <svg class="project-name-svg" width="340" height="70" viewBox="0 0 340 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M336.94 1H0.999913V69H290.016L336.94 1Z" stroke="white"/>
                    <path d="M340 27V4L295.116 69.5H310.927L340 27Z" fill="white"/>
                </svg>
                <input type="text" disabled class="project-name" value="<%= submission.projectName %>" name="projectName" placeholder="Name of project">                    
            </div>
            
            <h1 class="team-name"><%= submission.teamName %></h1>
            <p class="participant">Team Members:</p>
            <p class="participant"><%= reqTeam.participant1 %></p>
            <% if (reqTeam.participant2) { %>
                <p class="participant"><%= reqTeam.participant2 %></p>
            <% } else { %>
                <p class="participant">No Participant 2</p>
            <% } %>                
            <% if (reqTeam.participant3) { %>
                <p class="participant"><%= reqTeam.participant3 %></p>
            <% } else { %>
                <p class="participant">No Participant 3</p>
            <% } %>                
            <% if (reqTeam.participant4) { %>
                <p class="participant"><%= reqTeam.participant4 %></p>
            <% } else { %>
                <p class="participant">No Participant 4</p>
            <% } %>                
        </div>
        <div class="right">
            <div class="svgs">
                <svg class="desc-svg" width="858" height="191" viewBox="0 0 858 191" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 190H60H857.5V1H100L1 190Z" fill="#0E030A" stroke="#FF0000"/>
                </svg>
                <input type="text" disabled value="<%= submission.desc %>" name="desc" class="desc">
            </div>
            <div class="svgs">
                <svg class="svg-input" width="858" height="70" viewBox="0 0 858 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M854.787 1H1.00089V69H805.51L854.787 1Z" stroke="white"/>
                    <path d="M858 27V4L810.865 69.5H827.469L858 27Z" fill="white"/>
                </svg>
                <input class="input-text" value="<%= submission.submissionLink %>" disabled name="submissionLink" type="text" placeholder="Github Link">                    
            </div>
            <div class="svgs">
                <svg class="svg-input" width="858" height="70" viewBox="0 0 858 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M854.787 1H1.00089V69H805.51L854.787 1Z" stroke="white"/>
                    <path d="M858 27V4L810.865 69.5H827.469L858 27Z" fill="white"/>
                </svg>
                <input class="input-text" value="<%= submission.gdLink %>" disabled name="gdLink" type="text" placeholder="Google Drive Link">                    
            </div>
            <h1 class="heading-small">FINAL SCORING AND POSITION</h1>
            <div class="form-content">
                <div class="svgs">
                    <svg class="svg-input2" width="438" height="69" viewBox="0 0 438 69" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1V68H437L400.211 1H1Z" stroke="white"/>
                    </svg>
                    <input required value="<%= reqTeam.points %>" class="input-text2" type="number" placeholder="Enter points" name="points">
                </div>
                <button type="submit" style="cursor: pointer;">
                    <svg class="sub-button" width="156" height="67" viewBox="0 0 156 67" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0L38.0272 67H156L119.211 0H0Z" fill="#FF0000"/>
                        <path d="M87.4451 30C87.9251 30 88.2451 30.08 88.4051 30.24C88.5651 30.4 88.6451 30.72 88.6451 31.2V37.2C88.6451 37.68 88.5651 38 88.4051 38.16C88.2451 38.32 87.9251 38.4 87.4451 38.4H78.296H63.6371C62.6131 38.4 61.8131 38.16 61.2371 37.68C60.1491 36.752 59.2851 35.76 58.6451 34.704C57.9731 33.68 57.4611 32.672 57.1091 31.68C56.9491 31.2 56.9651 30.8 57.1571 30.48C57.3491 30.16 57.7491 30 58.3571 30H78.296H87.4451Z" fill="black"/>
                        <path d="M87.4451 30C87.9251 30 88.2451 30.08 88.4051 30.24C88.5651 30.4 88.6451 30.72 88.6451 31.2V37.2C88.6451 37.68 88.5651 38 88.4051 38.16C88.2451 38.32 87.9251 38.4 87.4451 38.4H78.296V50.2867C78.296 51.623 79.9117 52.2923 80.8567 51.3473L96.4393 35.7647C97.0251 35.1789 97.0251 34.2291 96.4393 33.6433L80.8567 18.0607C79.9117 17.1157 78.296 17.785 78.296 19.1213V30H87.4451Z" fill="black"/>
                    </svg>
                </button>
            </div>
        </div>
    </form>
        

    <svg class="bottom-vector" width="988" height="39" viewBox="0 0 988 39" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M38.5 37.5L548.5 37.5M789 37.5L987 37.5V1L825.5 1L789 37.5ZM789 37.5L752.5 37.5M752.5 37.5L789 1L703.5 1L667 37.5M752.5 37.5L667 37.5M667 37.5L630 37.5M548.5 37.5L585 1L666.5 1L630 37.5M548.5 37.5L630 37.5M33 37.5H22M17.5 37.5H10M5.5 37.5H0" stroke="#FF0000"/>
        <path d="M847.5 1.18359L811 37.6836L832 37.6836L868 1.18359L847.5 1.18359Z" fill="#FF0000" stroke="#FF0000"/>
        <path d="M881.499 1L844.999 37.5L865.999 37.5L901.999 1L881.499 1Z" fill="#FF0000" stroke="#FF0000"/>
    </svg>
</body>
<style>
    body {
        height: 100%;
        width: 100%;
        background-image: linear-gradient(#000615, #190000);
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
    }
    @font-face 
    {
        font-family:BlenderProHeavy;
        font-style:normal;
        font-weight:700;
        src:url('/BlenderPro-Heavy.woff2') format("woff2");
    }
    .download-link {
        font-family: BlenderProHeavy;
        font-size: 1.5vw;
        align-self: flex-start;
        margin: 0;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
    }
    .heading-small {
        font-family: BlenderProHeavy;
        font-size: 1.5vw;
        align-self: flex-start;
        margin: 0;
        color: #fff;
    }
    .form-content {
        display: flex;
        flex-direction: row;
        align-content: center;
        /* justify-content: space-between; */
        width: 100%;
    }
    .svg-input2 {
        width: 22.020vw;
    }
    .svg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 0.25vw;
    }
    .container2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1vw;
    }
    .container {
        clip-path: polygon(0% 0, 100% 0%, 80% 100%, 0 100%);
        width: 23.138vw;
        height: 17.592592592593vh;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid red;
    }
    .right-img {
        height: 17.592592592593vh;
        width: 8vw;
        margin-left: -4vw;
    }
    .svgs {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .upload-svg {
        width: 26.563vw;
        margin-bottom: 0;
    }
    .upload-label {
        margin-left: -5vw;
        font-family: BlenderProBook;
        color: #7e7e7e;
        position: absolute;
    }
    .upload-label2 {
        font-family: BlenderProBook;
        color: #7e7e7e;
    }
    .title {
        align-self: center;
        width: 40vw;
        margin: 0;
    }
    .project-name {
        font-family: BlenderProBook;
        position: absolute;
        margin-left: -1.5vw;
        height: 2vw;
        background: transparent;
        outline: none;
        border: none;
        color: #fff;
        width: 13vw;
        font-size: 1.1em;
        margin-top: -0.5vw;
    }
    .project-name::placeholder {
        color: #7e7e7e;
    }
    .project-name-svg {
        width: 17.708vw;
        margin-bottom: 0.5vw;
    }
    @font-face 
    {
        font-family:BlenderProBook;
        font-style:normal;
        font-weight:400;
        src:url('/BlenderProBook.woff2') format("woff2");
    }
    @font-face 
    {
        font-family:sentex;
        font-style:normal;
        font-weight:400;
        src:url('/Sentex-Regular.ttf');
    }
    .bottom-vector {
        position: relative;
        bottom: 0vw;
        align-self: end;
        right: 2vw;
        width: 55vw;
    }
    form {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 80vh
    }
    .left {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }
    .team-name {
        font-family: BlenderProBook;
        font-size: 2vw;
        color: #fff;
        width: 100%;
        margin: 0;
    }
    .text-svg {
        position: absolute;
        width: 35vw;
        align-self: center;
        font-size: 1.1em;
        color: #fff;
        font-family: BlenderProBook;
    }
    .participant {
        font-family: BlenderProBook;
        font-size: 1.5vw;
        color: #fff;
        width: 100%;
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-top: 0 !important;
        margin: 0.25vw;
    }
    .desc-svg {
        width: 44.583vw;
        margin-bottom: 0;
    }
    .right {
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
    }
    .desc {
        color: #fff;
        width: 70%;
        text-align: start;
        margin: 0;
        background: transparent;
        outline: none;
        border: none;
        height: 5vw;
        font-size: 1.1em;
        position: absolute;
        font-family: BlenderProBook;
    }
    .svg-input {
        width: 44.688vw;
    }
    .input-text {
        position: absolute;
        width: 35vw;
        height: 2vw;
        align-self: flex-start;
        margin-left: 1.5vw;
        background: transparent;
        outline: none;
        border: none;
        font-size: 1.1em;
        color: #fff;
        font-family: BlenderProBook;
    }
    .input-text2 {
        position: absolute;
        width: 18vw;
        height: 2vw;
        align-self: flex-start;
        margin-left: 1.5vw;
        background: transparent;
        outline: none;
        border: none;
        font-size: 1.1em;
        color: #fff;
        font-family: BlenderProBook;
    }
    button {
        background: transparent;
        outline: none;
        border: none;
    }
    .sub-button {
        width: 7.879vw;
    }
    ::-webkit-scrollbar {
        display: none;
    }
    .section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 82vh;
    }
    .section > p {
        color: #fff;
        font-family: BlenderProBook;
        font-size: 3vw;
        width: 70%;
        text-align: center;
    }
</style>
</html>

<!-- <p><%= submission.username %></p>
<p><%= submission.submissionLink %></p>
<p><%= submission.gdLink %></p>
<% if (submission.images) { %>
    <p><%= submission.images %></p>
<% } %>
<% if (submission.rank) { %>
    <p><%= submission.rank %></p>
<% } %>




<form action="/admin/rank/<%= submission.id %>" method="post">
    <label for="ranks">Choose a rank:</label>
    <select name="ranks" id="ranks">
        <option value="first">first</option>
        <option value="second">second</option>
        <option value="third">third</option>
    </select>
    <br><br>
    <input type="submit" value="Submit">
</form> -->